article{
	margin: 0 auto 0;
	height: 100%;
	position: relative;
}
article.phone-desktop #action{
	width: 240px;
	bottom: calc(50% - 120px);
	left: calc(50% - 120px);
	height: 240px;
}
#title-video{
	display: block;
	margin: 0 auto;
	z-index: 50;
	position: absolute;
}
#play-video{
	display: block;
	margin: 0 auto;
	position: absolute;
}
#share-video{
	display: block;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
}
.facebook-icon{
	background-color: #0055a0;
	background-size: 16px;
}
.whatsapp-icon{
	margin-left: 4%;
	background-color: #00c94e;
	background-size: 32px;
}
.facebook-icon,.whatsapp-icon{
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 5%;
	cursor: pointer;
}
.button{
	height: 50px;
}
.box{
	background-color: transparent;
}

#action{
	background-color: rgba(235, 3, 27, 0.85);
	border-radius: 100%;
	position: absolute;
	z-index: 40;
}
#bg-distort{
	background-image:url("../img/bg-distort.png");
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.06;
}

#action span{
	position: absolute;
	display: block;
	text-align: center;
	color: #fff;
	font-family: stick;
	display: none;
}

.sprite{
	left: calc(50% - 73px);
	position: absolute;
	top: 18px;
	animation: play 2s steps(1) infinite;
	display: none;
}

#action-one{
	background-position: 0px;
	background-image: url(../img/action-one.png);
	width: 146px;
	height: 80px;
}
#action-two{
	background-position: 0px;
	background-image: url(../img/action-two.png);
	width: 146px;
	height: 80px;
}

canvas{
	width: 100%;
	height: 100%;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 479px) and (min-width: 320px) {
	#title-video{width: 70%;left: 15%;top: -7%;}
	#play-video{width: 16%;top: 35%;left: 42%;}
	.button{width: 79%;margin: 5% auto 0 auto;float: right;}
	#share-video{width: 380px;left: calc(50% - 190px);bottom: 5%;}
	#action{width: 210px;bottom: -86px;left: calc(50% - 105px);height: 200px;}
	.facebook-icon{margin-left: 3%;}
	#action span{bottom: 44%;width: 100%;letter-spacing: 1px;font-size: 15px;padding: 0 4%;}
	#sprite{top: 6px;}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 480px) 
and (max-width : 767px) {
	#title-video{width: 50%;left: 25%;top: -7%;}
	#play-video{width: 16%;top: 35%;left: 42%;}
	.button{width: 79%;margin: 5% auto 0 auto;float: right;}
	#share-video{width: 380px;left: calc(50% - 190px);bottom: 5%;}
	#action{width: 350px;bottom: -163px;left: calc(50% - 175px);height: 350px;}
	#action span{top: 28%;width: 100%;letter-spacing: 1px;font-size: 35px;padding: 0 4%;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px) {
	#title-video{width: 50%;left: 25%;top: -7%;}
	#play-video{width: 16%;top: 35%;left: 42%;}
	.button{width: 79%;margin: 5% auto 0 auto;float: right;}
	#share-video{width: 380px;left: calc(50% - 190px);bottom: 5%;}
	#action{width: 350px;bottom: -163px;left: calc(50% - 175px);height: 350px;}
	#action span{top: 28%;width: 100%;letter-spacing: 1px;font-size: 35px;padding: 0 4%;}
}

/* Desktops and laptops 1 ----------- */
@media only screen 
and (min-width : 1024px) 
and (max-width : 1223px){
	#title-video{width: 50%;left: 25%;top: -7%;}
	#play-video{width: 16%;top: 35%;left: 42%;}
	.button{width: 79%;margin: 5% auto 0 auto;float: right;}
	#share-video{width: 380px;left: calc(50% - 190px);bottom: 5%;}
	#action{width: 400px;bottom: -190px;left: calc(50% - 200px);height: 400px;}
	#action span{top: 27%;width: 100%;letter-spacing: 1px;font-size: 39px;padding: 0 4%;}
	#code p{letter-spacing: 1px;font-size: 35px;line-height: 35px;}
	#code strong{ font-size: 55px; letter-spacing: 10px;}
}

/* Desktops and laptops 2 ----------- */
@media only screen 
and (min-width : 1224px) 
and (max-width : 1499px){
	#title-video{width: 50%;left: 25%;top: -7%;}
	#play-video{width: 16%;top: 35%;left: 42%;}
	.button{width: 79%;margin: 5% auto 0 auto;float: right;}
	#share-video{width: 380px;left: calc(50% - 190px);bottom: 5%;}
	#action{width: 400px;bottom: -195px;left: calc(50% - 200px);height: 400px;}
	#action span{top: 27%;width: 100%;letter-spacing: 1px;font-size: 39px;padding: 0 4%;}
	#code p{letter-spacing: 1px;font-size: 30px;line-height: 30px;}
	#code strong{font-size: 49px;letter-spacing: 10px;}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1500px) {
	#title-video{width: 50%;left: 25%;top: -7%;}
	#play-video{width: 16%;top: 35%;left: 42%;}
	.button{width: 79%;margin: 5% auto 0 auto;float: right;}
	#share-video{width: 380px;left: calc(50% - 190px);bottom: 5%;}
	#action{width: 500px;bottom: -232px;left: calc(50% - 250px);height: 500px;}
	#action span{top: 24%;width: 100%;letter-spacing: 1px;font-size: 50px;padding: 0 4%;}
	#code p{letter-spacing: 1px;font-size: 35px;line-height: 35px;}
	#code strong{ font-size: 55px; letter-spacing: 10px;}
}