section{display: table;}
#videos{
	position: relative;
	height: auto;
	overflow: hidden;
	display: block;
}

#cream-jar{
	margin:0 auto;
	position: relative;
	overflow: hidden;
	opacity: 0;
}

#cream-jar img{
	width: 100%;
	height: initial;
}

article#recipes{
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

article#init{
	overflow: hidden;
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

article#init span#name{
	font-family: 'stick';
	color: #e53027;
	font-size: 30px;
	text-align: center;
	opacity: 0;
	display: block;
}

#hot-air-balloon{
	position: absolute;
	left: 0;
}

#helicopter{
	position: absolute;
	right: 0;
}

#balloon{
	position: absolute;
	left: 0;
}

#camera{
	position: absolute;
	right: 0;
}

#line{
	position: relative;
	width: 100%;
}

#arrow-up{
	position: absolute;
	cursor: pointer;
}

.mix{
	display: none;
	float:  left;
	cursor: pointer;
	position: relative;
}

#arrow-down{
	position: absolute;
	cursor: pointer;
}

#welcome{
	display: block;
	margin: 0 auto;
}

#message{
	display: block;
	margin: 0 auto;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 479px) {

	#cream-jar{width: 37%;}
	#line-up{height: 20px;width: 100%;display: none;}
	#line-down{height: 20px;width: 100%;display: none;}
	#arrow-up{width: 70px;left: calc(50% - 35px);top: 0;display: none;}
	#arrow-down{width: 70px;left: calc(50% - 35px);bottom: 0;display: none;}
	.square{width: 100%;}
	#videos{width: 100%;}
	#hot-air-balloon{width: 29px;top: 125px;left: 23px;}
	#helicopter{width: 63px;top: 125px;right: 26px;}
	#balloon{width: 42px;bottom: 18px;left: 13px;}
	#camera{width: 38px;bottom: 38px;right: 15px;}
	#hashtag{width: 60%;}
	#welcome{width: 35%;}
	#message{width: 57%;}
	article#recipes{width: 100%;float: left;margin: 5% 0;height: auto;padding: 2% 0;}
	article#init span#name{font-size: 24px;}
	article#init{width: 100%;float: left;display: block;margin: 5% 0 5% 0;}
	.mix{width: 108%;height: 250px;float: none;margin-left: -4%;}
	
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 480px) 
and (max-width : 767px) {

	#cream-jar{width: 37%;}
	#line-up{height: 20px;width: 100%;display: none;}
	#line-down{height: 20px;width: 100%;display: none;}
	#arrow-up{width: 70px;left: calc(50% - 35px);top: 0;display: none;}
	#arrow-down{width: 70px;left: calc(50% - 35px);bottom: 0;display: none;}
	.square{width: 100%;}
	#videos{width: 100%;}
	#hot-air-balloon{width: 43px;top: 125px;left: 23px;}
	#helicopter{width: 63px;top: 125px;right: 26px;}
	#balloon{width: 50px;bottom: 40px;left: 32px;}
	#camera{width: 50px;bottom: 88px;right: 42px;}
	#hashtag{width: 60%;}
	#welcome{width: 35%;}
	#message{width: 57%;}
	article#recipes{width: 100%;float: left;margin: 5% 0;height: auto;padding: 2% 0;}
	article#init span#name{font-size: 30px;}
	article#init{width: 100%;float: left;display: block;margin: 5% 0 5% 0;}
	.mix{width: 106%;height: 280px;float: none;margin-left: -28px;}

}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px) {

	#cream-jar{width: 29%;}
	#line-up{height: 20px;width: 100%;}
	#line-down{height: 20px;width: 100%;}
	#arrow-up{width: 70px;left: calc(50% - 35px);top: 0;}
	#arrow-down{width: 70px;left: calc(50% - 35px);bottom: 0;}
	.square{width: 100%;}
	#videos{width: 100%;margin: 4% 1% 4% 1%;}
	#hot-air-balloon{width: 50px;top: 140px;}
	#helicopter{width: 80px;top: 120px;}
	#balloon{width: 59px;bottom: 110px;}
	#camera{width: 50px;bottom: 88px;}
	#hashtag{width: 54%;}
	#welcome{width: 35%;}
	#message{width: 45%;}
	article#recipes{width: 100%;float: left;margin: 5% 0;height: auto;padding: 2% 0;}
	article#init span#name{font-size: 30px;}
	article#init{width: 100%;float: left;display: block;margin-bottom: 5%;}
	.mix{width: calc(100% / 2);height: 266px;}

}


/* Desktops and laptops 1 ----------- */
@media only screen 
and (min-width : 1024px) 
and (max-width : 1223px){

	#cream-jar{width: 50%;}
	#line-up{height: 20px;width: 100%;}
	#line-down{height: 20px;width: 100%;}
	#arrow-up{width: 70px;left: calc(50% - 35px);top: 16%;}
	#arrow-down{width: 70px;left: calc(50% - 35px);bottom: 16%;}
	.square{width: 100%;}
	#videos{width: 100%;height: 300px;margin: 2% 1% 0 1%;}
	#hot-air-balloon{width: 50px;top: 140px;}
	#helicopter{width: 80px;top: 120px;}
	#balloon{width: 59px;bottom: 110px;}
	#camera{width: 50px;bottom: 88px;}
	#hashtag{width: 80%;}
	#welcome{width: 50%;}
	#message{width: 70%;}
	article#recipes{width: 100%;height: 100%;padding: 0 2%;}
	article#init span#name{font-size: 30px;}
	article#init{width: 30%;}
	.mix{width: calc(100% / 3);height: 150px;}

}

/* Desktops and laptops 2 ----------- */
@media only screen 
and (min-width : 1224px) 
and (max-width : 1499px){

	#cream-jar{width: 50%;}
	#line-up{height: 20px;width: 100%;}
	#line-down{height: 20px;width: 100%;}
	#arrow-up{width: 80px;left: calc(50% - 40px);top: 110px;}
	#arrow-down{width: 80px;left: calc(50% - 40px);bottom: 110px;}
	.square{width: 100%;}
	#videos{width: 100%;height: 345px;margin: 2% 1% 0 1%;}
	#hot-air-balloon{width: 50px;top: 140px;}
	#helicopter{width: 80px;top: 120px;}
	#balloon{width: 59px;bottom: 110px;}
	#camera{width: 50px;bottom: 88px;}
	#hashtag{width: 80%;}
	#welcome{width: 50%;}
	#message{width: 70%;}
	article#recipes{width: 60%;height: 100%;padding: 0 2%;}
	article#init span#name{font-size: 30px;}
	article#init{width: 30%;}
	.mix{width: calc(100% / 3);height: 165px;}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1500px) {

	#cream-jar{width: 50%;}
	#line-up{height: 20px;width: 100%;}
	#line-down{height: 20px;width: 100%;}
	#arrow-up{width: 90px;left: calc(50% - 45px);top: 2%;}
	#arrow-down{width: 90px;left: calc(50% - 45px);bottom: 4%;}
	.square{width: 100%;}
	#videos{width: 100%;height: 480px;margin: 2% 1% 0 1%;}
	#hot-air-balloon{width: 50px;top: 140px;}
	#helicopter{width: 80px;top: 120px;}
	#balloon{width: 59px;bottom: 110px;}
	#camera{width: 50px;bottom: 88px;}
	#hashtag{width: 80%;}
	#welcome{width: 50%;}
	#message{width: 70%;}
	article#recipes{width: 70%;height: 100%;padding: 0 2%;}
	article#init span#name{font-size: 30px;}
	article#init{width: 30%;}
	.mix{width: calc(100% / 3);height: 228px;}

}
