form p{
	letter-spacing: 0;
}

#helicopter{
	position: absolute;
}

#balloon{
	position: absolute;
}

#camera{
	position: absolute;
}

#car{
	position: absolute;
	right: 0;
}

#trolley{
	position: absolute;
}

#copy-register{
	display: block;
	position: relative;
}

#idRs{ 
	display:none;
}

#button-facebook{
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	background-size: 18px;
	background-position: 4% 7px;
	margin-bottom: 7%;
}

form .goup-left,
form .goup-right,
form .goup-middle{position: relative;display: block;overflow: hidden;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 479px) {
	
	section{height: auto;}
	#hot-air-balloon{width: 28px;top: 4%;left: 5%;position: absolute;}
	#helicopter{width: 59px;top: -7%;right: 11%;}
	#balloon{width: 60px;top: 42%;left: 3%;display: none;}
	#camera{width: 58px;top: 39%;right: 4%;display: none;}
	#car{width: 57px;bottom: 18%;right: 16%;display: none;}
	#trolley{width: 65px;bottom: 22%;left: 19%;display: none;}
	.button{width: 49%;margin-top: 20px;float: left;height: auto;}
	.button:nth-child(even){margin-right: 2%;background-color: #696969;}
	#copy-register{width: 300px;margin: 0 auto 4% auto;}
	form p{font-size: 11px;letter-spacing: 0;}
	article{width: 93%;margin: 20% auto 19% auto;height: 100%;display: table;}
	form .goup-left{width: 80%;margin: 0 auto;}
	form .goup-right{width: 80%;margin: 0 auto;}
	form .goup-middle{width: 80%;margin: 0 auto;}
	.slideThree {margin-top: 11px;}

}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 480px) 
and (max-width : 767px) {
	
	section{height: auto;}
	#hot-air-balloon{width: 40px;top: 7%;left: 5%;position: absolute;}
	#helicopter{width: 75px;top: 0%;right: 11%;}
	#balloon{width: 60px;top: 42%;left: 3%;display: none;}
	#camera{width: 58px;top: 39%;right: 4%;display: none;}
	#car{width: 57px;bottom: 18%;right: 16%;display: none;}
	#trolley{width: 65px;bottom: 22%;left: 19%;display: none;}
	.button{width: 49%;margin-top: 20px;float: left;}
	.button:nth-child(even){margin-right: 2%;background-color: #696969;}
	#copy-register{width: 340px;margin: 0 auto 4% auto;}
	form p{font-size: 11px;letter-spacing: 0;}
	article{width: 93%;margin: 8% auto 19% auto;height: 100%;display: table;}
	form .goup-left{width: 90%;margin: 0 auto;}
	form .goup-right{width: 90%;margin: 0 auto;}
	form .goup-middle{width: 90%;margin: 0 auto;}
	.slideThree {margin-top: 11px;}
	
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1023px) {

	#hot-air-balloon{width: 40px;top: 7%;left: 17%;position: absolute;}
	#helicopter{width: 75px;top: 3%;right: 11%;}
	#balloon{width: 60px;top: 42%;left: 3%;display: none;}
	#camera{width: 58px;top: 39%;right: 4%;display: none;}
	#car{width: 57px;bottom: 18%;right: 16%;}
	#trolley{width: 65px;bottom: 22%;left: 19%;}
	.button{width: 49%;margin-top: 20px;float: left;}
	.button:nth-child(even){margin-right: 2%;background-color: #696969;}
	#copy-register{width: 340px;margin: 0 auto 4% auto;}
	form p{font-size: 11px;letter-spacing: 0;}
	article{width: 95%;margin: 0 auto;height: 100%;display: table;}
	form .goup-left{width: 49%;float: left;margin-right: 1%;}
	form .goup-right{width: 49%;float: left;margin-left: 1%;}
	form .goup-middle{width: 50%;display: block;margin: 0 auto;}
	
}


/* Desktops and laptops 1 ----------- */
@media only screen 
and (min-width : 1024px) 
and (max-width : 1223px){

	#hot-air-balloon{width: 50px;top: 3%;left: 17%;position: absolute;}
	#helicopter{width: 100px;top: 13%;right: 20%;}
	#balloon{width: 70px;top: 42%;left: 6%;}
	#camera{width: 70px;top: 41%;right: 9%;}
	#car{width: 70px;bottom: 21%;right: 25%;}
	#trolley{width: 70px;bottom: 23%;left: 24%;}
	.button{width: 49%;margin-top: 20px;float: left;}
	.button:nth-child(even){margin-right: 2%;background-color: #696969;}
	#copy-register{width: 340px;margin: 0 auto 4% auto;}
	form p{font-size: 11px;letter-spacing: 0;}
	article{width: 75%;margin: 0 auto;height: 100%;display: table;}
	form .goup-left{width: 49%;float: left;margin-right: 1%;}
	form .goup-right{width: 49%;float: left;margin-left: 1%;}
	form .goup-middle{width: 50%;display: block;margin: 0 auto;}
	
}

/* Desktops and laptops 2 ----------- */
@media only screen 
and (min-width : 1224px) 
and (max-width : 1499px){

	#hot-air-balloon{width: 50px;top: 3%;left: 17%;position: absolute;}
	#helicopter{width: 100px;top: 13%;right: 20%;}
	#balloon{width: 70px;top: 42%;left: 6%;}
	#camera{width: 70px;top: 41%;right: 9%;}
	#car{width: 70px;bottom: 21%;right: 25%;}
	#trolley{width: 70px;bottom: 23%;left: 24%;}
	.button{width: 49%;margin-top: 20px;float: left;}
	.button:nth-child(even){margin-right: 2%;background-color: #696969;}
	#copy-register{width: 360px; margin: 0 auto 4% auto;}
	form p{font-size: 11px;letter-spacing: 0;}
	article{width: 60%;margin: 0 auto;height: 100%;display: table;}
	form .goup-left{width: 49%;float: left;margin-right: 1%;}
	form .goup-right{width: 49%;float: left;margin-left: 1%;}
	form .goup-middle{width: 50%;display: block;margin: 0 auto;}

}

/* Large screens ----------- */
@media only screen and (min-width: 1500px) {

	#hot-air-balloon{width: 60px;top: 3%;left: 14%;position: absolute;}
	#helicopter{width: 120px;top: 13%;right: 17%;}
	#balloon{width: 80px;top: 42%;left: 18%;}
	#camera{width: 90px;top: 41%;right: 9%;}
	#car{width: 80px;bottom: 17%;right: 26%;}
	#trolley{width: 80px;bottom: 28%;left: 2%;}
	.button{width: 49%;margin-top: 20px;float: left;}
	.button:nth-child(even){margin-right: 2%;background-color: #696969;}
	#copy-register{width: 360px; margin: 0 auto 4% auto;}
	form p{font-size: 11px;letter-spacing: 0;}
	article{width: 50%;margin: 0 auto;height: 100%;display: table;}
	form .goup-left{width: 49%;float: left;margin-right: 1%;}
	form .goup-right{width: 49%;float: left;margin-left: 1%;}
	form .goup-middle{width: 50%;display: block;margin: 0 auto;}

}
