svg#arrow-up(class="filter"  version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 207.602 198.371',xml:space='preserve', preserveAspectRatio="none")
  path(fill='#E53027', stroke='#FFFFFF', stroke-width='4', stroke-miterlimit='10', d='M17.207,99.943\
  c-9.278-48.55,39.333-82.5,89.5-89.5c48.956-6.831,94.978,40.375,89.5,89.5c-5.667,50.834-40.069,89.5-89.5,89.5\
  C57.277,189.443,26.54,148.777,17.207,99.943z')
  path(fill='#FFFFFF', stroke='#D32622', stroke-miterlimit='10', d='M69.668,118.975l9.032-7.058l33.744-24.815\
  l26.206,28.332c0,0,0.71,2.096,3.931,4.762l22.618,0.576c-8.292-8.166-19.146-13.059-27.182-21.886\
  c-9.003-9.869-14.641-18.6-25.805-26.833C94.158,88.885,75.797,103.334,57,118.42L69.668,118.975z')
