svg#arrow-down(class="filter" version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 207.602 198.371',xml:space='preserve', preserveAspectRatio="none")
  path(fill='#E53027', stroke='#FFFFFF', stroke-width='4', stroke-miterlimit='10', d='M195.506,99.281\
  c9.278,48.551-39.333,82.501-89.5,89.501c-48.957,6.831-94.978-40.375-89.5-89.501c5.667-50.834,40.069-89.5,89.5-89.5\
  C155.437,9.781,186.173,50.447,195.506,99.281z')
  path(fill='#FFFFFF', stroke='#D32622', stroke-miterlimit='10', d='M143.045,80.25l-9.032,7.058l-33.744,24.815\
  L74.063,83.791c0,0-0.71-2.096-3.932-4.762l-22.618-0.576c8.292,8.166,19.146,13.059,27.183,21.886\
  c9.003,9.869,14.641,18.6,25.805,26.833c18.054-16.832,36.416-31.281,55.212-46.367L143.045,80.25z')
