svg#car(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 111.084 107.917', xml:space='preserve')
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M94.601,16.255\
  c-3.34-1.674-22.463-10.983-25.859-12.92c-6.926-3.949-15.768,1.898-19.458,4.226c-4.513,2.871-9.388,4.76-13.621,8.137\
  C26.381,23.09,14.64,30.101,7.552,39.716c3.52,1.851,6.61,1.159,10.282,1.049c3.501-0.124,8.795-0.048,12.306,0.209\
  c8.784,0.634,16.521-0.376,25.307-0.486c8.021-0.124,16.921,0.887,24.562-1.445c3.081-0.939,5.095-3.496,7.535-5.737\
  c3.243-3.052,6.954-5.847,9.71-9.329C100.418,20.018,99.293,18.616,94.601,16.255 M40.878,36.367\
  c-7.259,0.434-13.611-0.196-20.393,0.815c1.097-3.1,4.453-6.353,7.145-8.055c3.166-2.07,5.762-4.789,8.956-6.792\
  c2.519-1.574,19.259-11.303,20.632-9.615l-0.629-0.706c4.598,4.264,6.344,16.197,9.232,21.605\
  C58.01,34.956,51.085,35.776,40.878,36.367 M79.128,29.3c-3.596,2.232-6.829,5.465-9.691,0.601\
  c-2.06-3.424-2.898-7.659-4.625-11.379c-0.734-1.574-2.604-3.706-2.813-5.094c-0.269-1.722,0.753-2.699,0.571-4.235l-0.047,0.019\
  l0.019-0.334l0.028,0.315c2.796-1.316,9.32,2.518,12.354,3.768c5.467,2.242,11.227,4.006,16.148,7.765\
  C88.151,24.33,83.058,26.877,79.128,29.3')
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M101.917,83.376\
  c0.391-4.998,0.925-13.308,1.221-18.306l-13.555-0.334c-1.783-4.769-2.557-11.019-4.75-15.617c-2.719-5.67-2.699-5.198-8.375-5.251\
  c-1.518-0.014-3.052-0.024-4.568-0.009l-1.201-7.097L62.81,37.54l0.754,6.419c-8.623,0.181-17.219,0.515-25.937,0.677\
  c-1.183,0.019-2.396,0.005-3.597-0.048l-0.41-5.742l-6.419,0.076l0.409,5.347c-4.215-0.21-8.422-0.291-12.334,0.577\
  c0.496,5.708,1.175,11.973,1.289,17.858c0.182,8.861-0.438,16.196-0.992,24.943c-0.143,2.288-0.936,7.524,1.308,9.462\
  c1.001,0.857,2.146,0.296,3.414,0.248c4.007-0.143,7.746,0.306,11.618-0.516c1.173,3.996,4.062,7.125,9.043,6.448\
  c3.729-0.516,5.693-3.892,6.104-7.745c1.449-0.01,2.899,0.01,4.397,0.01c6.812,0.086,13.64,0.199,20.45,0.478\
  c1.174,3.263,3.738,5.903,7.965,6.257c4.502,0.383,6.543-2.078,7.105-5.38c4.664,0.362,9.463-1.239,14.08-0.647\
  C101.592,91.378,101.515,88.335,101.917,83.376 M94.181,88.241c-2.699-0.269-5.494-0.097-8.261,0.123\
  c-1.401-3.72-3.701-6.505-5.687-5.713c-4.787-0.944-7.803,2.289-8.728,6.419c-2.853,0.162-5.687,0.354-8.509,0.479\
  c-5.294,0.229-10.816,0.267-16.339,0.41c-1.271-4.914-4.847-8.738-10.159-6.277l1.439-0.619c-3.758-0.982-6.133,3.062-6.562,7.773\
  c-2.317,0.237-6.62-0.754-8.823-0.344c1.088-11.914-0.83-28.436,1.564-40.546c8.051-0.992,16.588-0.319,24.8-1.24\
  c4.665-0.539,10.685,0.41,15.453,0.41c3.844,0.005,10.206-1.025,13.696,0.887c4.637,6.198,4.149,13.543,5.064,21.059\
  c4.846,0.554,8.986,0.037,12.668,0.916C95.64,77.233,94.924,83.032,94.181,88.241')
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M91.167,43.531\
  c1.896-1.898,4.454-2.9,5.895-4.006c3.357-2.614,8.107-7.192,8.434-11.985c-3.674,2.633-7.27,6.014-10.217,9.524\
  C94.333,38.218,91.022,42.568,91.167,43.531')
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M3.603,33.706\
  C5.004,27.802,14.123,21.988,18.215,17.9c3.577-3.548,6.944-7.931,10.11-11.518C15.21,11.099,4.364,19.812,2.743,34.096')
