svg#header-bg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='100%', height='371.333px', viewbox='0 0 336 371.333', xml:space='preserve' preserveAspectRatio="none")
  path#header-bg-shape(fill='#E62A36', d='M340.759,283.426c0,1.168-4.615,14.025-4.615,17.1\
  c-30.644-0.414-120.978-23.458-132.877-23.458c-11.892,0-93.33,23.901-118.513,21.888c-11.745-0.939-59.582,0.566-90.511,1.332\
  c-2.604-12-4.881-17.452-1.923-25.734c1.774-17.156-1.88-50.588,1.774-69.215s5.244-39.376,1.183-56.2\
  c-4.199-17.396,0.671-70.955,4.732-79.567c2.171-4.605,72.725-7.053,81.638-5.324c18.586,3.606,121.512,1.747,175.699,3.55\
  c23.651,0.787,65.47-5.866,82.526,0c-2.58,12.085,0.887,43.795,0.887,57.087s2.958,57.383-0.887,74.243\
  c0,9.761-2.205,18.493,0,25.733C346.082,245.27,340.759,278.535,340.759,283.426z')
