svg#icon-404(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 395.98 299.985', xml:space='preserve')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M355.88,75.103c3.55-7.417,6.305-15.081,10.584-22.151c0.622-1.027-0.871-2.242-1.694-1.308\
  c-5.561,6.325-10.629,13.62-12.373,21.991C351.981,75.623,354.896,77.163,355.88,75.103')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M201.53,51.23c-1.732-7.984-4.709-15.559-7.284-23.294c-0.362-1.089-1.876-0.637-1.693,0.466c1.371,8.229,3.032,16.247,6.685,23.794\
  C199.884,53.53,201.819,52.558,201.53,51.23')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M205.266,149.248c4.406-18.486,6.656-36.849,6.07-55.858c-0.018-0.562-0.793-0.535-0.853,0c-2.06,18.565-3.917,37.185-6.301,55.712\
  C204.103,149.722,205.124,149.845,205.266,149.248')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M198.415,176.855c0.016-0.356,0.032-0.713,0.05-1.07c0.03-0.677-1.086-0.678-1.054,0c0.016,0.357,0.033,0.714,0.05,1.07\
  C197.489,177.469,198.385,177.47,198.415,176.855')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M54.314,171.016c-0.816-0.288-1.533,0.41-1.639,1.158c-5.17-0.569-12.532-0.037-15.258,4.153c-2.671,4.104,3.455,6.155,6.372,6.846\
  c4.503,1.064,14.843,2.14,18.249-2.046C66.459,175.693,57.983,172.311,54.314,171.016 M58.072,179.428\
  c-0.519,0.147-1.038,0.294-1.557,0.441c-2.869,1.673-8.445,1.146-11.598,0.933c-1.245-0.046-2.483-0.181-3.712-0.406\
  c-2.033,0.065-2.597-0.685-1.694-2.249c0.449-2.284,2.066-2.186,4.126-2.726c3.321-0.87,6.695-1.379,10.109-1.643\
  c0.663,0.483,1.308,0.858,2.014,1.38C57.55,175.783,58.321,177.207,58.072,179.428')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M273.845,235.859c3.5-2.18,5.896-8.105,2.05-11.078c-0.634-0.492-1.583-0.568-2.354-0.309c-0.023-0.205-0.113-0.41-0.295-0.59\
  c-6.225-6.219-21.933,4.6-14.629,10.354C262.307,237.144,269.745,238.41,273.845,235.859 M265.749,226.441\
  c2.181-0.779,4.32-0.57,6.548-0.746c-0.074,0.32-0.049,0.693,0.119,1.111c0.971,2.422,0.2,4.768-2.514,5.539\
  c-1.354,0.385-2.927,0.225-4.282-0.018c-0.751-0.133-3.877-0.523-4.287-1.201C260.167,229.197,264.418,226.916,265.749,226.441')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M32.735,161.07c-0.085,1.522-3.078,1.982-2.803,4.189c0.059,0.476,0.331,0.776,0.823,0.822c9.797,0.932,19.685,0.006,29.505,0.233\
  c1.482,0.034,2.053-1.514,1.542-2.687c-0.9-2.068-2.363-3.004-4.61-2.946c-1.169,0.029-1.68,1.647-0.61,2.249\
  c0.007,0.007,0.013,0.013,0.019,0.02c-5.431,0.268-10.872,0.324-16.3,0.633c-0.917,0.053-7.371,1.275-8.085,0.641\
  c-0.204-0.183,2.448-1.408,2.865-1.82c1.334-1.32,1.577-3.235-0.113-4.446c-1.203-0.861-4.558,0.252-3.993-2.159\
  c0.483-2.062,4.95-2.919,7.969-3.155c1.003,1.277,2.388,2.22,4.149,2.542c4.199,3.666,12.29,0.319,16.893,0.076\
  c0.303-0.017,0.606-0.006,0.909-0.006c-0.055,0.684-0.02,1.383-0.29,2.027c-0.434,1.036-1.392,1.451-2.403,1.724\
  c-1.29,0.348-2.74,0.567-3.32,1.931c-0.078,0.181,0.15,0.422,0.304,0.234c0.845-1.025,2.224-0.728,3.395-0.72\
  c1.006,0.008,1.969-0.137,2.848-0.66c1.482-0.881,2.735-2.604,2.597-4.327c3.01,0.367,6.014,1.037,8.933,0.778\
  c2.299-0.203,3.915-1.467,4.757-3.585c1.623-4.083-0.385-9.154-3.38-12.435c-0.029-0.417-0.202-0.826-0.586-1.161\
  c-6.906-6.018-16.83-4.917-25.228-3.976c-0.687,0.077-1.147,0.484-1.389,0.984c-3.868-1.421-8.848,4.848-9.73,8.005\
  c-0.616,2.206-0.442,4.684,0.462,6.753c-2.125-0.148-4.203,0.299-6.223,1.495c-1.689,1-4.678,3.229-3.958,5.513\
  C28.235,159.583,32.789,160.103,32.735,161.07 M48.26,138.759c0.192-0.069,0.357-0.194,0.476-0.361\
  c2.255-0.104,4.558-0.175,6.79-0.502c0.242-0.035,0.48-0.084,0.718-0.138c5.329-0.009,10.359,1.112,15.103,4.418\
  c0.553,0.386,1.144,0.386,1.655,0.164c1.315,3.51,2.569,7.874-0.058,9.506c-1.923,1.192-4.614,0.229-6.82,0.114\
  c-2.619-0.135-5.274-0.104-7.888,0.106c-3.885,0.312-13.587,3.81-13.426-2.597c0.056-2.216,1.564-4.877,2.256-6.974\
  C47.478,141.25,47.86,140.001,48.26,138.759 M39.732,144.54c0.715-1.451,4.55-6.067,6.972-6.034\
  c-2.81,3.809-6.216,8.842-5.618,12.982c-0.008-0.003-0.017-0.005-0.025-0.008C39.115,149.92,38.415,147.214,39.732,144.54')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M323.937,238.781c-0.331-0.428-0.87-0.707-1.559-0.598c-0.059,0.01-0.117,0.02-0.175,0.029c-0.06-0.012-0.116-0.031-0.176-0.041\
  c-0.647-0.115-1.209,0.041-1.652,0.346c-30.692,4.973-61.293,11.471-91.508,18.791c-30.945,7.498-62.163,12.896-93.485,18.559\
  c-0.309-0.24-0.715-0.342-1.184-0.184c-3.642,1.242-6.139,4.627-5.74,8.559c0.396,3.916,3.801,7.436,7.8,7.43\
  c1.102-0.002,1.833-0.779,2.065-1.672c-0.071,1.338,1.359,2.398,2.671,2.115c39.472-8.486,79.416-15.248,119.09-22.742\
  c9.755-1.842,19.51-3.682,29.265-5.521c9.068-1.713,18.456-2.881,27.363-5.291c5.028-1.361,10.453-4.156,11.639-9.701\
  C329.208,244.837,327.557,240.478,323.937,238.781 M138.434,289.447c-0.031,0.084-0.032,0.164-0.05,0.246\
  c0.123-0.949-0.316-1.947-1.485-2.25c-1.984-0.51-3.982-1.402-4.49-3.6c-0.408-1.76,0.414-3.482,1.715-4.627\
  c0.137,0.166,0.303,0.312,0.512,0.42C138.537,281.66,139.9,285.404,138.434,289.447 M320.707,252.687\
  c-2.775,1.738-6.166,2.322-9.327,2.945c-7.999,1.58-16.021,3.049-24.031,4.572c-16.369,3.113-32.74,6.229-49.114,9.314\
  c-31.613,5.961-63.189,12.582-94.923,17.893c0.289-3.125-0.75-6.193-2.812-8.508c29.629-6.764,59.107-13.635,89.11-18.607\
  c30.311-5.021,60.656-10.975,90.501-18.311c0.2,0.123,0.433,0.223,0.717,0.275C326.562,243.349,324.094,250.564,320.707,252.687')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M159.401,152.698c0,0,24.888-0.582,34.911,0')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M196.126,149.657L196.126,149.657C196.293,149.658,196.215,149.657,196.126,149.657z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M189.998,154.246c0.001-0.002,0.003-0.004,0.003-0.004C189.967,154.243,189.976,154.244,189.998,154.246z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M385.023,76.869c-2.079-9.423-5.848-18.306-8.418-27.569c1.695-1.693,1.687-4.97-1.32-5.622\
  c-29.897-6.495-60.026-11.382-90.39-15.097c-30.688-3.752-61.313-7.94-92.263-8.5c-1.183-0.021-1.513,1.927-0.287,2.118\
  c30.15,4.689,60.569,7.444,90.693,12.337c29.995,4.873,59.922,10.245,89.83,15.612c0.754,7.829,2.84,15.427,4.414,23.137\
  c1.959,9.599,2.95,19.428,2.986,29.224c0.07,19.079-4.038,38.214-12.441,55.366c-0.503,0.005-1.01,0.029-1.514,0.04\
  c-12.84-16.791-11.344-38.883-15.554-58.495c-0.24-1.125-2.204-1.218-2.368,0c-2.697,19.992,1.141,41.132,10.873,58.769\
  c-11.109,0.628-22.314,2.049-33.34,2.843c-14.446,1.041-28.899,2.024-43.348,3.044c-5.047,0.357-10.096,0.68-15.146,0.99\
  c0.091-0.094,0.165-0.204,0.251-0.301l-9.699,0.723c0.007,0.05,0.004,0.101,0.015,0.15c-3.822,0.229-7.645,0.462-11.466,0.702\
  l-29.088,2.168c-6.859,0.624-13.712,1.345-20.55,2.234c-1.615,0.211-1.731,2.564,0,2.609c16.226,0.422,32.425-0.146,48.616-1.01\
  c0.944,3.271-10.379,5.454-12.405,6.761c-1.143,0.736-1.463,2.812,0,3.464c7.722,3.438,12.913,10.268,15.376,18.283\
  c1.517,4.934,1.599,9.162-3.209,11.895c-4.104,2.332-9.061,3.615-13.657,4.557c-17.914,3.68-37.413,2.215-55.607,2.25\
  c-39.524,0.076-79.047,0.236-118.571,0.365c-8.75,0.029-17.808,0.809-26.518-0.15c-9.026-0.994-17.048-7.564-11.594-17.115\
  c4.728-8.28,14.978-9.861,23.618-10.827c9.716-1.087,19.454-1.999,29.176-3.028c5.772-0.612,14.737,0.208,19.47-3.884\
  c5.346-4.622-1.611-8.264-2.378-12.869c-1.832-10.979,11.376-14.544,19.573-15.005c9.214-0.52,18.478-0.514,27.704-0.77\
  c7.491-0.209,14.972-0.444,22.451-0.702c0.186,0.518,0.383-1.278,0.587-0.743c2.063,0.029,4.348,0.119,6.318,0.215\
  c-0.328-0.667-0.668,0.997-0.975,0.319c0.74-0.027-0.846-0.062-0.104-0.09c-1.006-1.866-1.56-3.559-1.854-4.929\
  c-0.032,0.002-0.048,0.003-0.094,0.006c-0.007-0.017-0.011-0.035-0.018-0.052c0.035,0.002,0.065,0.005,0.102,0.009\
  c-0.004-0.017-0.01-0.036-0.014-0.052c-0.05,0.002-0.067,0.005-0.101,0.007c-0.911-2.503-1.698-5.054-2.359-7.643\
  c-3.824-14.955-3.644-30.692-4.616-46.009c-0.046-0.722-1.024-0.696-1.104,0c-2.061,18.017-2.578,36.406,2.604,53.983\
  c-7.279,0.326-14.56,0.677-21.84,1c-10.43,0.463-21.233,0.208-31.563,1.824c-7.479,1.168-14.791,4.366-17.825,11.77\
  c-1.246,3.034-1.609,6.464-0.553,9.606c0.49,1.456,1.575,2.466,2.181,3.791c1.643,3.596-0.09,4.044-3.654,4.557\
  c-12.311,1.768-24.888,2.42-37.267,3.646c-8.875,0.881-18.712,1.491-26,7.25c-5.281,4.172-8.91,11.27-7.434,18.086\
  c1.604,7.41,8.53,11.051,15.457,12.252c9.998,1.732,20.66,0.875,30.76,0.936c12.462,0.07,24.925,0.145,37.387,0.217\
  c24.569,0.143,49.136,0.338,73.706,0.418c24.061,0.08,51.436,3.906,74.174-5.867c9.558-4.109,13.186-10.762,8.979-20.697\
  c-3.15-7.445-8.758-13.173-15.178-17.854c3.437-0.665,6.935-0.729,9.668-3.513c1.795-1.83,2.507-3.799,2.246-5.948\
  c11.029-0.625,22.053-1.356,33.079-1.975c14.103-0.792,28.196-1.704,42.29-2.637c14.282-0.943,29.001-1.035,43.161-3.032\
  c1.166-0.166,1.874-0.858,2.193-1.734c0.407-0.229,0.775-0.589,1.05-1.13c8.91-17.561,14.295-36.565,15.065-56.286\
  C387.766,95.776,387.072,86.159,385.023,76.869z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M155.382,81.596c1.351-12.998,3.402-25.26,7.319-37.751c1.794-5.717,3.757-11.509,6.166-16.998c1.438-3.274,4.955-8.124,8.779-8.07\
  c-0.135,0.397-0.135,0.862,0.082,1.347c17.915,40.041,24.776,85.809,13.879,128.274c-0.262,2.738-0.405,4.948-1.029,5.866\
  c-0.087-0.007-0.49-0.012-0.58-0.018c-2.158,7.246-4.831,14.387-8.094,21.369l-0.434,6.687c0.861,0.101,1.742,0.13,2.647,0.064\
  c1.107-0.082,1.901-0.569,2.389-1.235c0.666-0.002,1.337-0.058,2.005-0.191c3.667-0.738,6.464-3.619,6.614-7.388\
  c0.112-2.864-4.416-4.333-5.656-1.531c-0.501,1.133-1.135,2.228-2.044,3.044c2.877-6.853,5.368-13.909,7.475-21.099\
  c0.394-0.021-0.375-0.044,0.019-0.066c0.374-1.39,0.796-2.901,1.206-4.244c-0.006,0-0.006,0-0.013,0c0,0,0-0.001,0-0.002\
  c0.005,0,0.009,0.001,0.014,0.001c0-0.001,0-0.002,0-0.002c-0.007,0-0.007,0-0.013,0c11.52-42.873,8.836-90.102-13.969-128.77\
  c0.042-0.05,0.071-0.111,0.074-0.18c0.011-0.925-0.144-1.747-0.426-2.472c2.058,1.426,3.68,3.562,4.976,5.937\
  c1.512,2.77,5.123,0.711,4.721-1.991c-1.104-7.454-9.996-11.031-16.599-9.133c-0.812,0.233-1.205,0.958-1.216,1.68\
  c-5.734,1.125-8.414,6.818-10.31,11.765c-6.514,17-9.512,36.928-9.087,55.105C154.294,82.318,155.311,82.289,155.382,81.596z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M162.903,150.3c0.003,0.012,0.006,0.025,0.01,0.038C163.126,150.324,163.042,150.312,162.903,150.3z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='2', stroke-miterlimit='10', d='M260.147,124.721\
  c0.234,1.619,0.27,0.989,0.402,4.225c0.076,1.878-0.57,4.346-2.997,4.509c-3.706,0.25-5.562,0.415-9.276,0.821\
  c-6.661,0.727-13.834,1.816-19.756,2.671c-2.022,0.292-2.729-2.501-3.116-4.818c-0.689-4.124-0.739-6.433,2.986-6.864\
  c1.327-0.153,1.815,0.975,1.996,2.365c0.022,0.18,0.03,0.375,0.021,0.546c-0.052,1.028-0.112,2.123-0.01,2.799\
  c0.067,0.45,0.379,1.137,1.175,1.018c0.299-0.045,0.448-0.067,0.748-0.111c2.091-0.308,3.771-0.624,5.611-0.857\
  c0.775-0.098,1.163-0.145,1.938-0.237c0.518-0.062,0.775-0.093,1.292-0.152c0.398-0.046,0.44-0.094,0.415-0.308\
  c-0.016-0.136-0.023-0.206-0.04-0.342c-0.019-0.17-0.169-1.629-0.153-1.838c0.105-1.436,0.621-2.421,2.341-2.563\
  c1.519-0.125,1.829,2.071,1.982,3.337c0.134,1.105,0.121,1.173,0.668,1.122c1.788-0.171,3.566-0.412,6.096-0.595\
  c0.298-0.021,1.295-0.053,1.593-0.072c0.544-0.036,0.788-0.22,0.85-0.706c0.28-2.221-0.856-5.5,2.292-5.615\
  C258.73,123.001,260.011,123.774,260.147,124.721z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='2', stroke-miterlimit='10', d='M259.868,109.077\
  c-0.02,1.516-4.091,3.291-5.357,4.006c-1.755,0.991-10.193,4.456-10.193,4.456c-0.154,0.049-1.101,0.44-1.061,0.556\
  c0.046,0.137,1.141,0.027,1.348,0.018c0.104-0.005,0.155-0.049,0.206-0.053c1.146-0.092,8.104-0.896,10.537-0.955\
  c3.105-0.076,5.329,0.219,5.342,1.415c0.021,2.113-2.112,2.515-4.67,2.602c-1.176,0.041-2.46,0.009-3.638,0.06\
  c-3.849,0.167-5.776,0.274-9.631,0.534c-5.49,0.286-11.871,0.737-15.441,0.869c-1.398,0.052-2.774-0.8-3.081-2.099\
  c-0.296-1.247-0.486-2.512-0.571-3.663c-0.339-4.558,1.571-9.658,7.486-9.75c5.649-0.087,8.544,3.872,10.021,7.44\
  c0.102,0.245,0.277,0.414,0.485,0.405c0.021-0.001,0.032-0.001,0.054-0.002c4.379-1.529,11.162-6.125,15.453-7.885\
  c0.26-0.107,0.583-0.198,0.898-0.197C259.216,106.84,259.879,108.16,259.868,109.077z M237.56,117.553\
  c-1.142-2.59-1.913-5.631-5.779-5.824c-0.358-0.018-0.634-0.021-0.948-0.008c-3.15,0.122-3.217,1.793-2.96,5.396\
  c0.022,0.324,0.029,0.486,0.055,0.811c0.056,0.721,0.307,0.907,1.169,0.862c0.152-0.008,0.362,0.015,0.725-0.013\
  c2.179-0.167,8.196-0.518,8.196-0.518C238.011,118.174,237.614,117.678,237.56,117.553z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='2', stroke-miterlimit='10', d='M253.913,105.206\
  c-0.17-0.001-0.253-0.001-0.422-0.002c-3.011-0.056-5.971-0.065-8.931-0.066c-5.919-0.001-11.787,0.069-17.605,0.118\
  c-0.084,0-0.127,0.001-0.211,0.002c-1.057,0.009-2.686-0.073-3.124-0.703c-0.538-0.774-0.571-2.382-0.543-3.711\
  c0.014-0.604,0.022-0.907,0.041-1.511c0.038-1.236,0.175-3.207,0.503-4.287c0.836-2.749,3.121-5.512,5.928-6.326\
  c1.123-0.326,2.747-0.503,4.376-0.385c1.156,0.083,2.299,0.299,3.155,0.78c2.865,1.612,4.169,3.535,5.279,5.538\
  c0.237,0.429,0.175,0.679,0.704,0.698c0.021,0,0.03,0.001,0.051,0.001c4.735-2.34,10.958-5.231,15.903-6.565\
  c0.104-0.028,0.264-0.027,0.37-0.022c0.684,0.029,1.525,0.305,1.898,0.835c0.195,0.278,0.279,0.646,0.261,0.964\
  c-0.031,0.555-0.329,1.061-0.761,1.326c-4.422,2.72-8.771,4.386-13.312,6.705c-1.082,0.552-3.753,1.433-4.043,2.033\
  c-0.075,0.157,3.062,0.379,5.445,0.417c3.229,0.051,6.039,0.016,9.587,0.077c1.483,0.026,2.207,0.397,2.152,2.346\
  c-0.01,0.358-0.127,0.841-0.295,1.111c-0.368,0.589-2.021,0.697-3.658,0.686C255.657,105.256,254.705,105.21,253.913,105.206z\
  M237.103,95.771c-0.759-0.968-1.755-2.613-3.604-2.706c-2.166-0.109-3.84,1.8-4.422,3.062c-0.419,0.911-0.598,2.876-0.625,3.812\
  c-0.005,0.196-0.008,0.293-0.012,0.489c-0.006,0.224,2.217,0.344,4.653,0.38c2.807,0.042,5.825,0.002,5.827-0.083\
  C238.948,99.581,237.9,96.788,237.103,95.771z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='2', stroke-miterlimit='10', d='M225.403,78.21\
  c0.999-6.439,13.863-5.526,22.058-4.593c8.094,0.921,15.145,3.393,14.751,8.583c-0.342,4.519-7.428,6.08-18.918,5.326\
  C236.894,87.106,224.46,84.289,225.403,78.21z M246.678,77.968c-0.37-0.036-0.557-0.056-0.926-0.093\
  c-5.593-0.56-14.642-1.66-15.033,1.032c-0.283,1.942,6.312,3.949,13.027,4.496c6.717,0.546,13.493,0.243,13.632-1.357\
  C257.53,80.286,253.913,78.675,246.678,77.968z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='2', stroke-miterlimit='10', d='M256.203,72.463\
  c-0.162-0.015-0.242-0.021-0.404-0.036c-2.859-0.309-5.672-0.617-8.481-0.965c-5.619-0.696-11.187-1.506-16.688-2.52\
  c-0.079-0.015-0.122-0.023-0.201-0.038c-1.001-0.185-2.52-0.579-2.797-1.285c-0.341-0.869-0.022-2.464,0.291-3.773\
  c0.142-0.597,0.212-0.892,0.359-1.488c0.302-1.221,0.857-3.155,1.391-4.169c1.357-2.581,4.005-4.911,6.67-5.246\
  c1.063-0.134,2.543-0.042,3.966,0.331c1.01,0.264,1.98,0.649,2.657,1.255c2.258,2.024,3.13,4.104,3.834,6.24\
  c0.151,0.458,0.062,0.698,0.54,0.781c0.02,0.003,0.027,0.005,0.047,0.008c4.655-1.761,10.567-4.091,14.983-5.101\
  c0.095-0.021,0.234-0.013,0.326-0.002c0.598,0.07,1.316,0.393,1.605,0.939c0.152,0.288,0.201,0.663,0.164,0.979\
  c-0.066,0.553-0.366,1.041-0.77,1.282c-4.142,2.475-8.271,3.786-12.766,5.622c-1.069,0.437-3.668,1.006-4.029,1.57\
  c-0.097,0.151,2.802,0.738,5.022,1.015c3.01,0.374,5.634,0.577,8.944,0.867c1.384,0.122,2.032,0.532,1.843,2.469\
  c-0.035,0.356-0.177,0.833-0.356,1.091c-0.394,0.565-1.984,0.573-3.544,0.443C257.855,72.654,256.956,72.533,256.203,72.463z\
  M241.837,61.18c-0.527-1.072-1.14-2.856-2.793-3.239c-1.938-0.449-3.823,1.167-4.607,2.325c-0.565,0.835-1.122,2.757-1.333,3.681\
  c-0.044,0.194-0.065,0.29-0.109,0.484c-0.051,0.219,1.989,0.732,4.251,1.155c2.605,0.486,5.429,0.862,5.444,0.778\
  C242.901,65.233,242.395,62.311,241.837,61.18z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='2', stroke-miterlimit='10', d='M291.65,131.405\
  c0.166-1.465,0.011-4.609-0.053-5.286c-0.112-1.195,0.333-2.508-1.341-2.759c-2.382-0.358-4.797-0.49-7.204-0.59\
  c-4.192-0.174-8.304-0.124-12.325-0.139c-0.5-0.002-0.751-0.003-1.251-0.003c-2.055,0-4.12-1.09-4.119-2.762\
  c0.003-2.576,4.922-2.507,7.559-2.608c4.093-0.156,8.192-0.112,12.371,0.061c3.998,0.166,7.987,0.457,11.976,0.737\
  c9.522,0.669,15.465,0.824,24.695,2.035c3.256,0.427,6.516,1.587,5.938,4.184c-0.529,2.376-0.816,4.092-6.296,3.144\
  c-4.33-0.749-5.729-1.042-9.98-1.625c-3.188-0.438-4.355-0.51-7.733-0.812c-0.815-0.09-1.223-0.135-2.039-0.219\
  c-1.15-0.121-1.453,0.141-1.574,1.066c-0.004,0.028-0.006,0.043-0.01,0.072c-0.219,2.358,0.32,4.681,0.567,7.027\
  c0.1,0.956,0.084,3.669-0.308,5.813c-0.47,2.573-4.022,2.768-7.34,2.338c-4.854-0.628-28.301-2.56-28.424-5.774\
  c-0.087-2.307,3.072-2.843,6.999-2.846c2.732-0.002,5.706,0.262,8.344,0.363c4.017,0.156,6.023,0.283,10.028,0.634\
  C291.148,133.543,291.54,132.383,291.65,131.405z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='2', stroke-miterlimit='10', d='M303.363,87.726\
  c8.89-0.038,27.63,1.334,28.47,11.083c1.298,15.061-26.417,15.813-38.427,15.055c-0.997-0.063-1.839-0.158-2.832-0.282\
  c-10.508-1.309-26.598-5.639-25.843-13.842C266.023,85.694,293.341,87.768,303.363,87.726z M282.365,106.552\
  c3.2,0.68,6.256,1.099,9.883,1.154c4.451,0.068,9.126,0.054,13.615-0.456c6.459-0.733,14.809-2.352,15.032-8.257\
  c0.169-4.449-18.622-4.877-25.054-4.957c-3.076-0.039-6.098,0.03-8.681,0.292c-4.721,0.479-15.432,0.787-15.588,4.726\
  C271.386,103.752,277.344,105.485,282.365,106.552z')
  path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='2', stroke-miterlimit='10', d='M294.383,74.608\
  c-0.037-1.479-0.633-4.589-0.789-5.259c-0.276-1.18-0.026-2.532-1.67-2.611c-2.339-0.112-4.673-0.058-7-0.034\
  c-4.055,0.042-8.023,0.117-11.897-0.044c-0.481-0.02-0.721-0.031-1.202-0.054c-1.979-0.093-3.861-1.328-3.715-2.989\
  c0.226-2.563,4.729-2.21,7.152-2.263c3.762-0.082,7.521-0.133,11.369-0.238c3.68-0.1,7.369-0.237,11.062-0.551\
  c8.815-0.751,14.218-2.009,22.818-3.75c3.033-0.614,6.341-0.667,6.804,2.036c0.423,2.47,0.814,4.303-4.596,5.164\
  c-4.276,0.681-5.682,0.798-9.859,1.309c-3.133,0.383-4.255,0.584-7.552,0.961c-0.8,0.074-1.201,0.109-2.001,0.176\
  c-1.129,0.095-1.362,0.403-1.29,1.341c0.002,0.028,0.005,0.042,0.007,0.071c0.275,2.372,1.297,4.573,2.063,6.834\
  c0.312,0.922,0.914,3.585,0.988,5.758c0.089,2.608-3.776,3.499-7.546,3.545c-5.518,0.068-31.776-1.93-31.544-5.123\
  c0.166-2.291,3.521-2.523,7.653-2.389c2.876,0.093,6.017,0.365,8.808,0.387c4.249,0.035,6.375,0.02,10.631-0.064\
  C294.161,76.799,294.408,75.594,294.383,74.608z')
