svg#play-video(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 192 191',  xml:space='preserve')
  g(opacity='0.5')
    path(fill='#E53027', d='M184.331,95.834c9.279,48.551-39.332,82.5-89.499,89.5c-48.956,6.831-94.977-40.374-89.5-89.5\
    c5.667-50.833,40.07-89.5,89.5-89.5C144.263,6.334,174.999,47,184.331,95.834z')
  g
    g
      path(fill='#FFFFFF', d='M182.78,95.034c9.133,50.649-45.724,80.63-88.389,86.14c-23.614,3.049-46.897-7.459-63.077-24.292\
      c-16.756-17.433-24.547-40.995-21.218-64.889c3.037-21.794,12.421-43.053,28.027-58.749C53.64,17.639,74.668,9.5,96.543,9.34\
      c21.921-0.161,42.226,9.025,57.234,24.837C169.467,50.709,178.456,72.929,182.78,95.034c0.802,4.1,6.72,5.111,5.772,0.266\
      c-8.18-41.821-33.018-83.576-77.847-92.004C89.603-0.673,67.197,3.966,49.043,15.219C31.154,26.308,18.462,44.247,10.992,63.656\
      c-8.176,21.241-10.419,44.728-2.816,66.418c7.326,20.901,23.077,39.149,42.628,49.516c9.926,5.264,20.657,8.467,31.874,9.275\
      c11.562,0.836,23.402-1.721,34.468-4.832c21.594-6.068,42.395-17.482,56.992-34.753c12.707-15.034,17.9-34.647,14.414-53.98\
      C187.809,91.172,181.904,90.173,182.78,95.034z')
  path(fill='#FFFFFF', d='M64.666,60.334c0,0,6,66.667,5.333,72.667s63.334-37.333,63.334-37.333\
  S61.333,65.667,64.666,60.334z')
