svg#share-video(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 438.333 135.333', xml:space='preserve')
  path(fill='#FFFFFF', stroke='#E43127', stroke-width='4', stroke-miterlimit='10', d='M33.932,53.775c0,0-3.124,16.095-1.913,25.037\
  c1.21,8.942-10.656,27.626-2.87,33.084c7.653,5.365,32.934,1.788,58.358-0.894c25.423-2.685,164.492,7.151,169.333,8.047\
  c4.842,0.895,140.172-5.365,140.172-5.365s3.4-24.312,4.287-32.189c1.914-16.989-0.703-11.623-1.914-25.931\
  c-1.209-14.307,11.48-18.777-18.112-16.989c-96.769,5.848-285.711-0.894-285.711-0.894l-43.453-2.683\
  C52.109,34.998,33.932,30.527,33.932,53.775z')
  g
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M70.676,65.687c0,2.124-1.016,2.724-2.955,2.77\
    c-0.969,0-2.17-0.323-2.17-1.292c0-2.216-1.154-2.863-1.754-2.863c-3.787,0-4.433,6.002-4.433,11.682\
    c0,4.202,0.277,10.573,3.324,10.573c1.247,0,2.863-0.784,2.863-2.077c0-2.632,1.385-3.094,2.632-3.094\
    c1.662,0,2.355,1.662,2.355,3.463c0,4.433-3.971,7.019-7.85,7.019c-6.557,0-8.265-6.603-8.265-14.313\
    c0-8.635,0.97-18.701,9.789-18.701c3.509,0,6.372,3.048,6.464,6.695V65.687z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M81.53,58.853c6.557,0,7.803,11.451,7.803,18.931\
    c0,7.388-2.355,13.99-8.404,13.99c-5.264,0-7.341-6.141-7.341-16.253C73.588,69.888,75.342,58.853,81.53,58.853z M84.438,77.599\
    v-0.831c0-5.033-0.092-13.16-2.909-13.16c-2.032,0-3.371,6.002-3.371,11.959c0,5.956,0.785,11.912,2.632,11.912\
    C82.823,87.48,84.438,84.11,84.438,77.599z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M97.969,71.55c0,0.23,0.046,0.416,0.046,0.601\
    c0,1.616,0.138,2.17,0.138,3.555c0,1.662,0.092,2.447,0.092,5.311v5.402c0,3.416-0.416,5.448-2.77,5.448\
    c-0.185,0-0.37,0-0.554-0.046c-1.293-0.231-1.57-2.679-1.57-5.356c0-7.064,0.277-12.929,0.277-19.901\
    c0-2.401,0.092-7.388,1.939-8.034c0.139-0.046,0.231-0.046,0.369-0.046c0.37,0,0.785,0.139,1.247,0.416\
    c2.216,1.339,3.371,5.402,4.202,7.803c0.323,0.97,0.508,1.985,0.785,2.955c0.139,0.601,1.755,7.342,2.032,7.342\
    c0.416,0,6.095-14.175,6.603-15.606c0.277-0.739,1.57-2.078,2.17-2.493c0.277-0.185,0.6-0.277,0.97-0.277\
    c1.939,0,2.585,2.724,2.771,6.326c0.092,2.17,0.138,3.786,0.138,5.171v2.078c0,4.571,0.323,9.419,0.323,14.036v1.524\
    c0,2.17-0.185,3.925-2.124,3.925c-1.247,0-2.54-0.323-2.955-1.709c-0.739-2.539-0.877-5.171-0.877-8.311v-0.047\
    c0-2.678,0.092-5.402,0.092-7.987c0-1.154,0-0.323-0.092-1.432c0-0.139-0.046-0.23-0.231-0.23c-0.739,0-5.079,16.945-6.511,17.269\
    h-0.185c-0.231,0-0.461-0.093-0.6-0.185c-3.186-2.447-4.109-13.021-4.987-17.361c-0.046-0.231-0.139-0.693-0.416-0.693h-0.046\
    C98.015,71.042,97.969,71.273,97.969,71.55z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M125.722,88.219c0,3.14-0.6,3.186-1.847,3.186\
    c-1.201,0-2.309-0.369-2.309-4.525c0-2.632-0.139-4.524-0.139-7.341c0-2.725,0.092-5.402,0.092-8.127\
    c0-4.202-0.231-8.357-0.231-10.25c0-0.093,0.046-0.185,0.046-0.277c0.231-1.016,0.923-1.662,2.032-1.847\
    c1.062-0.185,1.431-0.323,2.447-0.323c6.233,0,10.02,2.585,10.02,8.727c0,5.771-4.34,9.419-9.466,10.436\
    c-0.692,0.138-0.877,0.323-0.877,0.923v0.231C125.583,81.016,125.722,86.372,125.722,88.219z M125.399,72.151v0.6\
    c0.046,0.462,0.138,0.646,0.416,0.646c0.138,0,0.277-0.046,0.461-0.139c1.708-0.738,4.756-2.586,4.756-5.817\
    c0-1.708-1.431-3.833-3.14-4.248c-0.416-0.092-0.831-0.185-1.201-0.185c-0.554,0-1.016,0.185-1.016,0.831\
    C125.676,67.995,125.399,68.133,125.399,72.151z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M150.38,91.867c-1.847,0-2.54-1.339-2.816-2.955\
    c-0.277-1.57-0.508-2.493-0.739-4.063c-0.046-0.415-0.462-0.738-0.831-0.738h-0.046c-0.462,0.046-0.97,0.092-1.523,0.092\
    c-0.693,0-1.432-0.046-2.078-0.046c-0.369,0-0.739,0-1.062,0.046c-0.554,0.093-0.831,0.601-0.831,1.2\
    c-0.185,3.002-0.646,6.419-3.324,6.419c-1.755,0-2.17-0.785-2.17-1.894c0-0.462,0.046-0.97,0.139-1.523\
    c1.616-9.604,3.878-17.962,6.695-26.688c0.323-0.97,0.693-1.847,1.247-2.724c0.185-0.277,0.969-0.923,1.893-0.923\
    c2.078,0,2.678,3.094,3.047,4.895c1.523,7.896,2.724,16.668,4.34,24.61c0.185,0.831,0.369,1.339,0.369,2.309\
    S151.211,91.867,150.38,91.867z M146.271,78.753v-0.139c-0.462-3.879-1.016-8.357-1.801-12.189c-0.046-0.185-0.046-0.37-0.277-0.37\
    h-0.046c-0.277,0-0.185,0.185-0.231,0.37c-0.969,4.433-1.893,7.941-2.632,12.605v0.138c0,0.277,0.092,0.462,0.37,0.462\
    c0.923,0,3.093-0.139,4.155-0.323C146.086,79.261,146.271,79.031,146.271,78.753z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M155.231,88.866c0-4.248,0.277-7.942,0.277-12.052v-2.586\
    c-0.092-2.862-0.185-6.325-0.185-9.096v-1.985c0-3.833,0.97-4.479,4.709-4.479c1.755,0,3.648,0.37,4.248,0.554\
    c0.554,0.185,1.108,0.369,1.57,0.646c2.078,1.154,2.817,3.74,3.14,6.418c0.138,1.108,0.23,2.4,0.23,3.74\
    c0,4.063-0.923,8.588-4.386,8.588c-0.416,0-0.554,0.139-0.554,0.369c0,0.185,0.092,0.37,0.231,0.555\
    c1.985,2.724,4.433,6.049,5.726,8.818c0.231,0.462,0.323,0.831,0.323,1.293c0,1.247-0.785,2.355-1.755,2.355\
    c-2.77,0-4.155-3.463-5.125-5.356c-1.201-2.354-1.616-3.879-2.816-6.233c-0.092-0.185-0.277-0.369-0.462-0.369\
    c-0.323,0-0.37,0.692-0.37,1.432c0,0.646,0.046,1.339,0.046,1.662c0.046,1.385,0.323,4.479,0.323,6.233\
    c0,1.985-1.201,2.354-2.863,2.354C155.6,91.728,155.231,90.481,155.231,88.866z M160.541,64.347\
    c-0.046,1.247-0.092,2.494-0.092,3.786c0,1.894,0.092,3.971,0.138,5.818c0.046,0.369,0.139,0.738,0.462,0.738h0.046\
    c3.186-0.369,3.971-1.847,3.971-4.986c0-3.325-0.185-6.926-3.648-6.926C160.633,62.777,160.587,63.516,160.541,64.347z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M176.38,67.672v-2.909c0-0.554,0-0.831-0.416-0.831h-0.092\
    c-0.693,0.046-1.062,0.046-1.432,0.046h-1.247c-1.662-0.092-1.939-1.57-1.939-2.632c0-1.201,0.877-2.309,2.262-2.355\
    c4.664-0.092,4.571-0.416,9.05-0.416c2.678,0,3.833,0.97,3.833,2.309v0.092c0,1.801-0.046,2.909-3.14,3.047\
    c-0.924,0.046-0.416,0.046-1.432,0.093c-0.739,0.046-0.831,0.138-0.831,0.877v0.092c0,4.571,0.139,8.866,0.139,13.206\
    c0,1.57-0.046,3.048-0.046,4.525c0,0.923,0.046,2.031,0.046,3.14c0,0.554,0,1.108-0.046,1.662c-0.185,2.816,0.416,4.34-2.401,4.34\
    c-1.801,0-1.985-2.216-1.985-4.247v-1.663v-1.801C176.704,78.523,176.38,73.351,176.38,67.672z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M189.911,78.292v-8.588c0-2.078,0.046-4.387,0.185-6.926v-1.292\
    c0-1.616,0.185-2.678,1.662-2.678c2.632,0,1.985,0.046,4.756,0.046h0.646c2.032,0,4.525,0.093,4.525,2.032\
    c0,2.216-1.2,2.263-3.094,2.263h-0.185h-2.078c-0.785,0-1.247,0-1.247,0.831v0.462c0,1.985-0.046,4.017-0.046,5.91\
    c0,0.877,0,0.877-0.046,0.877v0.554c0.046,0.739,0.831,0.832,1.616,0.832c0.601,0,0.646,0,0.646,0.046h0.37\
    c1.292,0,2.54,0.046,2.54,2.354v0.369c-0.093,1.34-1.247,1.524-2.586,1.524c-0.6,0-2.032-0.047-2.585-0.047\
    c-0.231,0-0.323,4.018-0.323,5.126c0,1.2,0.092,2.678,0.092,3.001c0,0.785,0.138,1.478,0.877,1.478h0.046\
    c2.078,0,1.847-0.046,3.925-0.046c1.478,0,2.216,0.646,2.216,2.4c0,0.139-0.046,0.323-0.046,0.462\
    c-0.092,1.801-0.97,2.124-2.401,2.124c-0.923,0-2.124-0.139-3.509-0.139s-2.724-0.046-3.694-0.046h-0.046\
    c-2.032,0-2.401-0.601-2.401-1.894C189.726,85.818,189.911,81.847,189.911,78.292z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M222.881,67.672v-2.909c0-0.554,0-0.831-0.415-0.831h-0.093\
    c-0.692,0.046-1.062,0.046-1.431,0.046h-1.247c-1.662-0.092-1.939-1.57-1.939-2.632c0-1.201,0.878-2.309,2.263-2.355\
    c4.663-0.092,4.571-0.416,9.05-0.416c2.678,0,3.832,0.97,3.832,2.309v0.092c0,1.801-0.046,2.909-3.14,3.047\
    c-0.923,0.046-0.415,0.046-1.431,0.093c-0.739,0.046-0.831,0.138-0.831,0.877v0.092c0,4.571,0.138,8.866,0.138,13.206\
    c0,1.57-0.046,3.048-0.046,4.525c0,0.923,0.046,2.031,0.046,3.14c0,0.554,0,1.108-0.046,1.662c-0.185,2.816,0.416,4.34-2.4,4.34\
    c-1.801,0-1.986-2.216-1.986-4.247v-1.663v-1.801C223.205,78.523,222.881,73.351,222.881,67.672z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M252.896,64.117c0,3.832,0.139,6.556,0.139,11.081\
    c0,4.433-0.462,8.773-1.755,11.959c-1.431,3.463-4.247,4.71-6.557,4.71c-8.818,0-8.818-14.129-8.818-22.81V69.01\
    c0-0.6-0.047-1.523-0.047-2.539c0-3.186,0.277-7.48,2.633-7.48c1.107,0,1.246,4.34,1.246,7.942c0,1.293-0.046,0.831-0.046,1.708\
    c0,0.462,0,0.831,0.046,1.062c0.369,4.709-0.601,18.284,4.063,18.284c3.047-0.323,3.647-11.728,3.647-15.237v-1.569\
    c0-1.709-0.185-4.063-0.185-6.095c0-3.509,0.369-6.418,3.463-6.418c1.985,0,2.17,1.154,2.17,3.232V64.117z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M270.354,88.866c0-4.248,0.277-7.942,0.277-12.052v-2.586\
    c-0.093-2.862-0.185-6.325-0.185-9.096v-1.985c0-3.833,0.969-4.479,4.709-4.479c1.755,0,3.647,0.37,4.248,0.554\
    c0.554,0.185,1.108,0.369,1.57,0.646c2.077,1.154,2.816,3.74,3.14,6.418c0.139,1.108,0.23,2.4,0.23,3.74\
    c0,4.063-0.923,8.588-4.387,8.588c-0.415,0-0.554,0.139-0.554,0.369c0,0.185,0.093,0.37,0.231,0.555\
    c1.985,2.724,4.433,6.049,5.725,8.818c0.231,0.462,0.323,0.831,0.323,1.293c0,1.247-0.784,2.355-1.754,2.355\
    c-2.771,0-4.156-3.463-5.126-5.356c-1.2-2.354-1.615-3.879-2.816-6.233c-0.092-0.185-0.276-0.369-0.461-0.369\
    c-0.323,0-0.37,0.692-0.37,1.432c0,0.646,0.047,1.339,0.047,1.662c0.046,1.385,0.323,4.479,0.323,6.233\
    c0,1.985-1.201,2.354-2.863,2.354C270.723,91.728,270.354,90.481,270.354,88.866z M275.664,64.347\
    c-0.046,1.247-0.092,2.494-0.092,3.786c0,1.894,0.092,3.971,0.139,5.818c0.046,0.369,0.138,0.738,0.461,0.738h0.047\
    c3.186-0.369,3.971-1.847,3.971-4.986c0-3.325-0.185-6.926-3.647-6.926C275.756,62.777,275.71,63.516,275.664,64.347z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M289.149,78.292v-8.588c0-2.078,0.046-4.387,0.185-6.926v-1.292\
    c0-1.616,0.185-2.678,1.662-2.678c2.632,0,1.985,0.046,4.756,0.046h0.646c2.031,0,4.525,0.093,4.525,2.032\
    c0,2.216-1.201,2.263-3.094,2.263h-0.185h-2.078c-0.785,0-1.247,0-1.247,0.831v0.462c0,1.985-0.046,4.017-0.046,5.91\
    c0,0.877,0,0.877-0.046,0.877v0.554c0.046,0.739,0.831,0.832,1.616,0.832c0.6,0,0.646,0,0.646,0.046h0.369\
    c1.293,0,2.539,0.046,2.539,2.354v0.369c-0.092,1.34-1.246,1.524-2.585,1.524c-0.601,0-2.032-0.047-2.586-0.047\
    c-0.231,0-0.323,4.018-0.323,5.126c0,1.2,0.092,2.678,0.092,3.001c0,0.785,0.139,1.478,0.878,1.478h0.046\
    c2.078,0,1.847-0.046,3.925-0.046c1.478,0,2.216,0.646,2.216,2.4c0,0.139-0.046,0.323-0.046,0.462\
    c-0.092,1.801-0.97,2.124-2.401,2.124c-0.923,0-2.123-0.139-3.509-0.139c-1.385,0-2.724-0.046-3.693-0.046h-0.047\
    c-2.031,0-2.4-0.601-2.4-1.894C288.964,85.818,289.149,81.847,289.149,78.292z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M319.717,65.687c0,2.124-1.016,2.724-2.955,2.77\
    c-0.97,0-2.17-0.323-2.17-1.292c0-2.216-1.154-2.863-1.755-2.863c-3.786,0-4.433,6.002-4.433,11.682\
    c0,4.202,0.277,10.573,3.325,10.573c1.246,0,2.862-0.784,2.862-2.077c0-2.632,1.385-3.094,2.632-3.094\
    c1.662,0,2.354,1.662,2.354,3.463c0,4.433-3.971,7.019-7.849,7.019c-6.557,0-8.266-6.603-8.266-14.313\
    c0-8.635,0.97-18.701,9.789-18.701c3.509,0,6.372,3.048,6.464,6.695V65.687z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M323.644,78.292v-8.588c0-2.078,0.046-4.387,0.185-6.926v-1.292\
    c0-1.616,0.185-2.678,1.662-2.678c2.632,0,1.985,0.046,4.756,0.046h0.646c2.031,0,4.525,0.093,4.525,2.032\
    c0,2.216-1.201,2.263-3.094,2.263h-0.185h-2.078c-0.785,0-1.247,0-1.247,0.831v0.462c0,1.985-0.046,4.017-0.046,5.91\
    c0,0.877,0,0.877-0.046,0.877v0.554c0.046,0.739,0.831,0.832,1.616,0.832c0.6,0,0.646,0,0.646,0.046h0.369\
    c1.293,0,2.539,0.046,2.539,2.354v0.369c-0.092,1.34-1.246,1.524-2.585,1.524c-0.601,0-2.032-0.047-2.586-0.047\
    c-0.231,0-0.323,4.018-0.323,5.126c0,1.2,0.092,2.678,0.092,3.001c0,0.785,0.139,1.478,0.878,1.478h0.046\
    c2.078,0,1.847-0.046,3.925-0.046c1.478,0,2.216,0.646,2.216,2.4c0,0.139-0.046,0.323-0.046,0.462\
    c-0.092,1.801-0.97,2.124-2.4,2.124c-0.924,0-2.124-0.139-3.51-0.139c-1.385,0-2.724-0.046-3.693-0.046h-0.047\
    c-2.031,0-2.4-0.601-2.4-1.894C323.459,85.818,323.644,81.847,323.644,78.292z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M343.454,67.672v-2.909c0-0.554,0-0.831-0.415-0.831h-0.093\
    c-0.692,0.046-1.062,0.046-1.431,0.046h-1.247c-1.662-0.092-1.939-1.57-1.939-2.632c0-1.201,0.878-2.309,2.263-2.355\
    c4.663-0.092,4.571-0.416,9.05-0.416c2.678,0,3.832,0.97,3.832,2.309v0.092c0,1.801-0.046,2.909-3.14,3.047\
    c-0.923,0.046-0.415,0.046-1.431,0.093c-0.739,0.046-0.831,0.138-0.831,0.877v0.092c0,4.571,0.138,8.866,0.138,13.206\
    c0,1.57-0.046,3.048-0.046,4.525c0,0.923,0.046,2.031,0.046,3.14c0,0.554,0,1.108-0.046,1.662c-0.185,2.816,0.416,4.34-2.4,4.34\
    c-1.801,0-1.986-2.216-1.986-4.247v-1.663v-1.801C343.777,78.523,343.454,73.351,343.454,67.672z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M368.113,91.867c-1.847,0-2.539-1.339-2.816-2.955\
    c-0.277-1.57-0.508-2.493-0.739-4.063c-0.046-0.415-0.461-0.738-0.831-0.738h-0.046c-0.462,0.046-0.97,0.092-1.523,0.092\
    c-0.692,0-1.432-0.046-2.078-0.046c-0.369,0-0.738,0-1.062,0.046c-0.555,0.093-0.831,0.601-0.831,1.2\
    c-0.186,3.002-0.646,6.419-3.325,6.419c-1.754,0-2.17-0.785-2.17-1.894c0-0.462,0.046-0.97,0.139-1.523\
    c1.616-9.604,3.879-17.962,6.695-26.688c0.323-0.97,0.692-1.847,1.246-2.724c0.185-0.277,0.97-0.923,1.894-0.923\
    c2.078,0,2.678,3.094,3.047,4.895c1.524,7.896,2.725,16.668,4.341,24.61c0.185,0.831,0.369,1.339,0.369,2.309\
    S368.944,91.867,368.113,91.867z M364.003,78.753v-0.139c-0.462-3.879-1.016-8.357-1.801-12.189\
    c-0.046-0.185-0.046-0.37-0.277-0.37h-0.046c-0.277,0-0.185,0.185-0.23,0.37c-0.97,4.433-1.894,7.941-2.632,12.605v0.138\
    c0,0.277,0.092,0.462,0.369,0.462c0.923,0,3.094-0.139,4.155-0.323C363.819,79.261,364.003,79.031,364.003,78.753z')
  path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M435.375,28.156c-0.262-1.056-0.576-1.938-0.906-2.677\
  c-0.232-0.554-0.846-1.46-0.812-1.425c0,0-1.209-1.76-2.604-1.434c-1.25,0.294-2.57,0.792-3.656,1.542\
  c-0.863,0.599-1.582,1.335-2.262,2.105c-0.078,0.002-0.146,0.013-0.225,0.023c-1.992,0.274-3.859,2.083-4.598,3.923\
  c-0.086,0.226-0.162,0.45-0.244,0.669c-0.684,0.415-1.303,0.812-2.051,1.299c-0.58,0.392-1.629,0.713-2.225,1.095\
  c-0.693,0.45-1.48,0.719-2.119,1.238c-0.938,0.753-1.422,1.532-1.268,2.727c0.131,0.996,0.699,2.007,1.473,3.2\
  c1.473,2.267,2.453,2.371,4.418,1.536c0.896-0.384,2.686-1.503,3.453-2.086c0.518-0.408,1.268-0.714,1.904-1.038\
  c1.016,0.223,2.168,0.183,3.074-0.111c1.502-0.492,2.041-1.505,2.607-2.896c0.062-0.163,0.135-0.321,0.195-0.486\
  c1.27-0.625,2.605-1.266,3.652-2.148C434.733,31.919,435.858,30.077,435.375,28.156 M423.776,27.578\
  c0.107-0.034,0.213-0.058,0.316-0.083c-0.795,0.915-1.6,1.808-2.605,2.503c0.02-0.34,0.066-0.671,0.191-0.96\
  C422.026,28.239,423,27.835,423.776,27.578 M424.319,37.104c-0.469-0.084-0.893-0.101-1.398-0.106\
  c-0.426-0.001-0.93-0.022-1.008,0.607c-0.031,0.318-0.342,0.864-0.49,0.976c-0.664,0.515-1.756,1.064-2.512,1.426\
  c-1.645,0.799-2.508,1.236-3.541-0.452c-0.547-0.89-0.877-1.429-1.018-2.359c-0.203-1.25,0.545-1.302,1.355-1.958\
  c0.555-0.458,1.324-0.801,1.916-1.202c0.438-0.287,1.125-0.563,1.633-0.855L419,33.015c1.082,0.811,2.02-0.041,2.332-1.151\
  c0.043-0.158,0.719-0.459,0.902-0.584c1.434-0.929,2.465-2.431,3.588-3.643c0.305,0.067,0.311,0.083,0.617,0.145\
  c1.057,0.213,2.637,0.16,3.412,0.969c-0.004-0.097,0.271,1.711-0.43,2.66c-0.553,0.734-0.605,1.772-0.885,2.648\
  c-0.045,0.145-0.092,0.304-0.135,0.475c-0.311,0.164-0.604,0.327-0.889,0.493C426.415,35.662,425.381,36.401,424.319,37.104\
  M425.827,37.546l-0.051-0.013c0.666-0.423,1.316-0.847,2.004-1.236C427.377,37.091,426.79,37.702,425.827,37.546 M431.528,32.58\
  c-0.357,0.306-0.754,0.573-1.158,0.84c0.104-0.268,0.225-0.529,0.342-0.791c0.469-1.04,0.996-2.02,0.881-3.225\
  c-0.047-0.472-0.248-0.934-0.311-1.394c-0.053-0.363-0.137-0.083,0.053-0.458c0.078-0.154,0.26-0.372,0.369-0.51\
  c0.145-0.171,0.654-0.509,0.129-0.702c-0.352-0.131-0.775,0.484-1.117,0.614c-0.531-0.578-1.904-0.159-2.652-0.307\
  c-0.436-0.087-0.881-0.192-1.328-0.271c0.225-0.193,0.455-0.385,0.707-0.559c0.93-0.671,1.904-0.862,2.945-1.183\
  c1.15-0.356,2.016,0.952,2.016,0.952c-0.023-0.024,0.406,0.652,0.566,1.071c0.217,0.566,0.402,1.239,0.549,2.058\
  C433.776,30.201,432.874,31.445,431.528,32.58')
  path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M417.75,28.464c0.355-0.746,0.428-1.579,0.693-2.362\
  c0.23-0.667,0.293-1.759,0.533-2.423c0.312-0.884,0.551-1.614,0.811-2.411l0.088-0.045c3.324-1.326,3.271-2.895,3.146-5.202\
  c-0.012-0.194-0.041-0.387-0.066-0.573c0.611-0.879,1.186-1.78,1.578-2.801c0.475-1.234,0.637-2.639,0.623-3.932\
  c-0.018-1.435-1.686-2.131-1.686-2.131c0.037,0.027-1.15-0.698-1.744-0.799c-0.793-0.142-1.826-0.366-2.92-0.379\
  c-1.963-0.01-3.529,1.93-4.422,3.745c-0.549,1.114-0.852,2.407-1.133,3.669c-0.607,0.364-1.199,0.764-1.697,1.343\
  c-1.139,1.304-1.314,3.626-0.654,5.211c0.047,0.119,0.137,0.293,0.26,0.481c-0.158,0.679-0.279,1.441-0.531,2.017\
  c-0.396,0.881-1.057,2.893-1.211,3.852c-0.344,2.113-0.012,3.044,2.533,3.944c1.342,0.471,2.453,0.781,3.455,0.679\
  C416.594,30.21,417.239,29.553,417.75,28.464 M422.045,16.701c0.104,1.01-0.123,2.091-0.887,2.665\
  c-0.248,0.194-0.557,0.314-0.879,0.423C420.708,18.657,421.356,17.667,422.045,16.701 M412.36,14.965\
  c0.152-0.137,0.314-0.262,0.479-0.376c-0.258,0.965-0.574,1.9-0.898,2.836C411.649,16.532,411.6,15.651,412.36,14.965\
  M414.881,11.881c0.145-0.44,0.314-0.865,0.518-1.264c0.773-1.58,1.242-2.566,2.689-2.952c1.145-0.301,1.156-0.575,2.668-0.316\
  c0.441,0.068,1.398,0.428,1.373,0.412c0,0,1.207,1.005,1.135,2.21c-0.061,1.092,0.08,1.96-0.344,3.028\
  c-0.119,0.292-0.258,0.576-0.396,0.855c-0.119-0.335-0.248-0.668-0.371-1.003c-0.186-0.51-0.352-1.017-0.49-1.546\
  c-0.059-0.235-0.096-0.484-0.201-0.708c-0.041-0.077-0.42-0.522-0.42-0.522c0.047-0.359,0.812-1.117,0.6-1.439\
  c-0.309-0.461-0.791,0.313-0.914,0.493c-0.111,0.146-0.279,0.37-0.416,0.483c-0.311,0.27-0.066,0.125-0.42,0.161\
  c-0.469,0.043-0.961-0.036-1.43,0.037c-1.197,0.17-2.021,0.909-2.916,1.614C415.327,11.589,415.102,11.737,414.881,11.881\
  M414.905,28.745c-0.779,0.071-1.48-0.313-2.479-0.641c-1.883-0.608-1.311-1.546-0.934-3.349c0.172-0.822,0.109-2.016,0.457-2.779\
  c0.082-0.194,0.764-0.757,0.996-1.12c0.273-0.418,0.008-1.085-0.336-1.849c0.461-1.308,0.984-2.576,1.365-3.908\
  c0.119-0.435,0.244-0.889,0.363-1.344c0.891-0.414,1.83-0.775,2.688-1.366c0.934-0.64,2.439-1.044,2.479-1.049\
  c0.783-0.166,1.928,3.429,2.166,3.93l0.01,0.008c-0.92,1.376-1.943,2.675-2.51,4.279c-0.082,0.213-0.146,0.419-0.213,0.617\
  c-0.156,0.058-0.307,0.118-0.453,0.195c-0.996,0.575-1.607,1.691-0.57,2.542L418,22.88c-0.17,0.561-0.562,1.3-0.746,1.787\
  c-0.244,0.672-0.289,1.26-0.596,1.913C416.211,27.525,415.708,28.674,414.905,28.745')
  path(fill='#E43127', d='M413.278,7.934c-0.059,0.128-0.047,0.126,0.023-0.002l-0.006-0.022L413.278,7.934z')
  path(fill='#E43127', d='M417.981,3.776l-0.264,0.082c0.168-0.021,0.318-0.081,0.459-0.166c-2.535-1.618-5.402,1.743-4.879,4.218\
  C414.512,5.511,415.651,4.465,417.981,3.776')
  path(fill='#E43127', d='M413.528,42.169c-0.254,2.527,4.646,3.879,5.025,1.737C419.286,43.891,415.182,45.012,413.528,42.169')
  g
    polygon(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', points='20.145,109.467 19.778,109.816 11.817,117.238 \
    8.745,119.797 7.155,121.325 11.043,124.148 13.374,121.689 15.679,119.25 	')
    polygon(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', points='24.348,118.543 21.569,121.528 19.883,125.42 \
    17.516,128.486 20.724,130.717 22.414,126.806 22.926,123.215 	')
    polygon(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', points='18.228,104.471 14.381,103.34 11.74,103.12 \
    8.917,102.883 5.008,104.575 6.383,109.477 9.443,107.334 11.463,107.497 13.788,105.788 	')
