svg#title-video(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 506 110.197', xml:space='preserve')
  path(fill='#E53228', stroke='#FFFFFF', stroke-width='4', stroke-miterlimit='10', d='M14.388,34.197c0,0,3.796,11,5.062,21\
  s-3.796,40,6.327,39c10.124-1,56.945,10,83.52,7c26.574-3,172.101,2,177.164,3c5.062,1,148.058-9,148.058-9s36.698-1,45.556-1\
  c8.858,0,17.717-50,16.451-66s22.778-22-78.458-17s-298.646-1-298.646-1l-96.174,2C23.246,12.197,5.529,9.197,14.388,34.197z')
  text(transform='matrix(1 0 0 1 109.8203 70)', fill='#FFFFFF', font-family="'stick'", font-size='45', letter-spacing='1') batido de cerezas
