// Generator: Adobe Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg#welcome(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',  viewbox='0 0 421.167 88.167', preserveAspectRatio="none", xml:space='preserve')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M10.068,25.21\
  c9.448-1.318,14.318-1.438,20.167,3.365c1.828,1.501,2.798,3.784,3.011,5.494c0.527,4.234-2.166,9.365-4.642,11.338\
  c0.034-0.004,0.051-0.006,0.084-0.011c5.244,1.642,11.117,7.954,12.146,15.101c1.626,11.302-6.06,20.603-17.301,21.827\
  c-2.237,0.244-3.897,0.302-6.376,0.3c-1.657-0.001-2.184-0.686-2.448-2.554c-0.994-7.019-1.491-10.529-2.485-17.548\
  c-1.438-10.61-3.238-21.453-3.564-31.896C8.582,28.125,8.025,25.496,10.068,25.21z M18.68,45.89\
  c1.01,0.715,8.012-6.027,7.422-10.583c-0.442-3.418-5.665-3.811-8.545-3.422c-0.254,0.034-0.497,0.149-0.497,0.149\
  c0.011,0.081-0.085,0.192-0.104,0.51c-0.108,1.787,0.168,3.787,0.433,5.738C17.743,40.883,18.143,45.509,18.68,45.89z\
  M23.106,72.364c0.083-0.011,0.257,0.048,0.422,0.026c0.988-0.133,2.072-0.193,2.896-0.302c2.801-0.372,4.627-2.946,5.119-5.8\
  c0.197-1.145,0.359-3.769,0.016-6.454c-0.843-6.592-2.787-9.168-9.056-8.332c-0.752,0.1-2.976,0.649-2.898,1.218\
  c0.738,5.447,2.092,9.817,3.425,19.075C23.061,72.022,23.076,72.137,23.106,72.364z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M53.838,77.884\
  c-2.905-1.302-4.373-5.44-4.961-10.493c-0.702-6.031-0.917-13.689-1.626-19.802c-0.652-5.624-1.371-14.051,1.928-14.426\
  c5.245-0.595,6.196,5.749,6.965,12.763c0.984,8.971,1.694,16.981,2.572,24.974c0.421,3.833,0.727,6.601-3.455,7.073\
  c-0.229,0.026-0.344,0.038-0.573,0.063C54.44,78.064,54.095,77.999,53.838,77.884z M50.631,30.853\
  c-2.542,0.286-5.781-1.735-6.282-6.054c-0.454-3.912,1.026-6.066,3.076-6.299c0.77-0.087,1.688,0.136,2.58,0.619\
  c2.289,1.242,3.794,3.872,4.098,6.645C54.452,28.944,52.75,30.615,50.631,30.853z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M65.469,53.265\
  c-0.63-6.072-0.946-9.108-1.577-15.18c-0.381-3.672-0.721-7.762-0.931-12.276c-0.095-0.914-0.141-1.371-0.236-2.285\
  c-0.296-2.856-0.149-4.772,2.584-5.049c4.869-0.494,3.682-0.296,8.809-0.785c0.479-0.046,0.717-0.067,1.195-0.113\
  c3.759-0.356,8.389-0.605,8.694,2.827c0.349,3.923-1.853,4.199-5.339,4.523c-0.136,0.013-0.205,0.018-0.341,0.03\
  c-1.53,0.143-2.295,0.215-3.825,0.361c-1.445,0.138-2.295,0.222-2.152,1.691c0.032,0.327,0.048,0.491,0.08,0.817\
  c0.341,3.511,0.606,7.112,0.932,10.461c0.151,1.551,0.15,1.55,0.066,1.559c0.038,0.392,0.058,0.589,0.096,0.981\
  c0.211,1.298,1.655,1.321,3.084,1.185c1.092-0.104,1.177-0.111,1.185-0.029c0.269-0.025,0.403-0.038,0.672-0.063\
  c2.353-0.221,4.629-0.346,5,3.74c0.024,0.261,0.036,0.392,0.06,0.653c0.048,2.385-2.012,2.901-4.437,3.129\
  c-1.086,0.102-3.687,0.27-4.689,0.368c-0.418,0.041,0.11,7.16,0.302,9.12c0.208,2.123,0.629,4.721,0.685,5.292\
  c0.136,1.388,0.501,2.588,1.823,2.461c0.033-0.003,0.049-0.004,0.083-0.008c3.717-0.359,3.298-0.403,7.017-0.743\
  c2.645-0.242,4.068,0.787,4.344,3.892c0.022,0.245-0.025,0.585-0.01,0.825c0.196,3.115-1.392,3.911-3.938,4.145\
  c-1.643,0.151-3.802,0.105-6.266,0.343s-4.852,0.392-6.576,0.565c-0.033,0.003-0.049,0.005-0.082,0.009\
  c-3.613,0.365-4.379-0.623-4.617-2.907C66.519,66.602,66.121,59.549,65.469,53.265z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M127.762,21.029\
  c0.136,2.293,0.379,4.911,0.45,6.137c0.618,10.767,1.045,21.599,1.667,32.367c0.236,4.089-0.407,10.279-3.789,11.328\
  c-0.646,0.2-1.287,0.574-1.945,0.616c-5.596,0.358-8.952-10.031-10.798-13.58c-1.812-3.482-2.898-6.621-4.824-9.934\
  c-1.926-3.314-3.289-7.448-5.452-9.627c-0.15-0.151-0.502-1.031-0.839-1.005c-0.674,0.052-0.586,2.267-0.382,4.885\
  c0.772,9.897,1.744,13.771,2.403,22.279c0.399,5.153,0.62,9.079-3.899,9.444c-0.329,0.026-0.754,0.042-1.156,0.012\
  c-2.702-0.203-3.368-3.674-3.717-7.844c-0.104-1.243-0.157-1.864-0.261-3.106c-0.206-2.453-0.327-4.912-0.463-6.547\
  c-0.137-1.635-0.178-3.115-0.314-4.75c-0.213-2.551-0.32-3.826-0.533-6.377c-0.608-7.277-1.123-13.95-0.965-20.749\
  c0.088-3.773,0.297-6.782,4.11-7.498c0.205-0.017,0.307-0.024,0.512-0.04c10.864,5.394,15.344,23.104,20.928,32.936\
  c0.178,0.313,2.174,3.721,2.507,3.699c0.167-0.011,0.223-0.426,0.191-0.917c-0.042-0.655-0.172-1.309-0.189-1.632\
  c-0.148-2.909-0.206-5.742-0.382-8.444c-0.49-7.533-1.261-14.144-1.721-21.184c-0.406-6.223,0.525-7.766,4.036-7.984\
  C126.788,13.274,127.597,18.245,127.762,21.029z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M165.946,14.17\
  c0.188,5.658-0.622,10.468-1.418,15.976c-1.731,11.963-3.317,38.292-10.838,41.475c-4.191,1.774-10.572-13.897-12.884-21.24\
  c-2.837-9.011-5.308-18.459-5.95-27.783c-0.384-5.567,0.675-9.654,4.358-9.842c0.171-0.009,0.583-0.011,0.691,0.045\
  c4.683,2.455,5.823,21.811,8.763,32.024c0.95,3.299,2.732,8.571,3.311,8.475c1.192-0.198,4.24-21.203,4.841-25.165\
  c1.014-6.682,1.505-16.08,6.561-16.256C164.581,11.835,165.905,12.939,165.946,14.17z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M173.794,46.106\
  c-0.174-6.102-0.263-9.153-0.437-15.255c-0.105-3.69-0.138-7.795-0.01-12.312c-0.026-0.918-0.04-1.378-0.065-2.297\
  c-0.082-2.871,0.208-4.769,2.951-4.84c4.886-0.128,3.688-0.019,8.831-0.123c0.48-0.01,0.72-0.015,1.2-0.024\
  c3.771-0.074,8.403,0.024,8.451,3.469c0.054,3.938-2.161,4.049-5.657,4.111c-0.136,0.002-0.206,0.003-0.342,0.006\
  c-1.535,0.027-2.303,0.042-3.838,0.074c-1.45,0.03-2.303,0.049-2.27,1.525c0.007,0.328,0.009,0.492,0.017,0.82\
  c0.078,3.527,0.074,7.139,0.148,10.502c0.035,1.558,0.035,1.557-0.049,1.559c0.009,0.394,0.013,0.592,0.022,0.986\
  c0.113,1.311,1.549,1.441,2.982,1.413c1.096-0.022,1.182-0.023,1.183,0.059c0.27-0.005,0.403-0.009,0.673-0.014\
  c2.361-0.044,4.638,0.003,4.702,4.105c0.004,0.263,0.008,0.393,0.012,0.655c-0.13,2.382-2.224,2.743-4.656,2.789\
  c-1.09,0.021-3.69-0.008-4.696,0.015c-0.42,0.009-0.427,7.149-0.382,9.118c0.048,2.132,0.274,4.753,0.287,5.328\
  c0.031,1.394,0.307,2.618,1.634,2.59c0.033,0,0.049,0,0.083-0.001c3.73-0.08,3.315-0.154,7.045-0.216\
  c2.653-0.043,3.994,1.089,4.037,4.206c0.003,0.246-0.069,0.581-0.072,0.821c-0.038,3.121-1.679,3.797-4.232,3.84\
  c-1.648,0.027-3.795-0.18-6.267-0.128s-4.862,0.028-6.592,0.072c-0.033,0.001-0.05,0.002-0.083,0.003\
  c-3.625,0.093-4.313-0.951-4.379-3.247C173.845,59.483,173.975,52.422,173.794,46.106z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M238.271,18.62\
  c-0.036,2.297,0.011,4.926-0.011,6.154c-0.188,10.783-0.572,21.616-0.757,32.4c-0.07,4.095-1.175,10.22-4.624,11.012\
  c-0.659,0.151-1.324,0.477-1.983,0.47c-5.604-0.062-8.172-10.672-9.747-14.349c-1.545-3.608-2.395-6.819-4.066-10.267\
  s-2.721-7.673-4.713-10.009c-0.138-0.162-0.424-1.066-0.762-1.065c-0.676,0.001-0.753,2.218-0.745,4.844\
  c0.03,9.928,0.708,13.862,0.73,22.396c0.013,5.169-0.061,9.101-4.591,9.127c-0.33,0.002-0.754-0.014-1.152-0.074\
  c-2.677-0.405-3.082-3.916-3.118-8.101c-0.011-1.247-0.016-1.87-0.027-3.117c-0.021-2.461,0.04-4.923,0.026-6.564\
  c-0.014-1.641,0.056-3.118,0.042-4.758c-0.022-2.56-0.033-3.84-0.055-6.4c-0.062-7.302-0.077-13.996,0.589-20.764\
  c0.37-3.756,0.802-6.739,4.654-7.168c0.206-0.001,0.308-0.001,0.514-0.002c10.429,6.199,13.56,24.183,18.396,34.41\
  c0.154,0.326,1.887,3.87,2.221,3.874c0.167,0.001,0.254-0.407,0.259-0.899c0.006-0.657-0.075-1.317-0.067-1.641\
  c0.069-2.912,0.223-5.741,0.25-8.448c0.074-7.548-0.202-14.198-0.134-21.253c0.06-6.235,1.104-7.706,4.621-7.662\
  C237.878,10.812,238.314,15.831,238.271,18.62z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M248.688,69.127\
  c-2.696-1.685-3.584-5.987-3.479-11.073c0.126-6.071,0.958-13.686,1.089-19.838c0.121-5.66,0.556-14.107,3.87-14.028\
  c5.269,0.125,5.346,6.539,5.152,13.592c-0.248,9.021-0.634,17.053-0.854,25.091c-0.105,3.854-0.184,6.639-4.384,6.537\
  c-0.23-0.006-0.346-0.009-0.577-0.014C249.258,69.388,248.927,69.276,248.688,69.127z M251.92,22.097\
  c-2.553-0.063-5.482-2.507-5.39-6.854c0.083-3.937,1.843-5.87,3.903-5.821c0.772,0.018,1.65,0.364,2.467,0.965\
  c2.094,1.541,3.227,4.353,3.149,7.142C255.96,20.726,254.048,22.15,251.92,22.097z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M262.932,57.302\
  c-0.091-2.302-0.015-4.598,0.061-6.894c0.282-8.528,1.152-16.718,1.689-25.394c0.193-3.11,0.662-7.212,1.118-10.305\
  c0.325-2.2,2.583-2.786,5.16-2.853c0.823,0.031,1.233,0.046,2.056,0.079c2.313,0.09,4.475,0.326,6.658,0.849\
  c7.923,1.896,11.397,8.621,12.256,16.852c0.186,1.784,0.013,7.65-0.061,9.199c-0.646,13.629-7.178,32.579-23.868,32.026\
  c-0.739-0.024-1.562-0.14-2.385-0.169c-1.81-0.064-2.582-2.073-2.588-3.864c-0.01-2.929-0.137-5.835-0.122-8.79\
  C262.917,57.743,262.922,57.597,262.932,57.302z M274.091,61.082c4.474,0.184,10.277-15.313,10.684-23.837\
  c0.411-8.605,0.467-16.928-8.982-17.645c-0.034-0.001-0.051-0.002-0.085-0.003c-1.109-0.045-1.229,0.854-1.269,1.837\
  c-0.012,0.295-0.02,0.442-0.031,0.737c-0.008,0.197-0.012,0.296-0.02,0.493c-0.099,2.459-0.219,3.357-0.314,5.734\
  c-0.049,1.23-0.076,2.396-0.06,3.611c0.087,6.549-0.119,9.274-0.171,16.745c-0.009,0.229-0.015,0.344-0.024,0.573\
  c-0.046,1.148-0.069,1.721-0.116,2.869c-0.078,1.935-0.117,2.903-0.196,4.838c-0.043,1.065-0.044,2.173-0.049,3.282\
  C273.457,60.633,273.594,61.061,274.091,61.082z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M315.145,14.341\
  c13.097,0.547,12.493,24.85,11.868,34.585c-0.617,9.617-5.69,24.987-16.874,23.709c-11.8-1.348-12.143-19.656-11.418-29.644\
  C299.428,33.237,303.292,13.846,315.145,14.341z M318.174,47.941c0.042-0.589,0.062-0.884,0.104-1.474\
  c0.634-8.92,1.489-23.345-3.703-23.695c-3.745-0.252-6.886,10.238-7.554,20.801s0.071,21.211,3.377,21.432\
  C314.037,65.248,317.354,59.481,318.174,47.941z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M382.274,79.455\
  c-3.276-0.386-4.23-2.895-4.404-5.797c-0.17-2.822-0.454-4.555-0.502-7.324c-0.013-0.73-0.678-1.396-1.34-1.471\
  c-0.033-0.004-0.051-0.006-0.084-0.01c-0.837-0.011-1.753-0.033-2.747-0.143c-1.241-0.137-2.558-0.362-3.716-0.487\
  c-0.662-0.071-1.333-0.149-1.914-0.123c-1,0.045-1.572,0.94-1.713,1.964c-0.702,5.129-2.343,11.214-7.102,10.733\
  c-3.118-0.315-3.72-1.773-3.526-3.733c0.08-0.816,0.243-1.721,0.513-2.669c4.457-15.66,10.23-31.128,16.993-45.926\
  c0.748-1.638,1.624-3.159,2.819-4.565c0.384-0.451,1.969-1.436,3.678-1.246c3.843,0.427,4.364,6.046,4.646,9.276\
  c1.28,14.626,1.448,29.774,2.751,44.355c0.133,1.49,0.371,2.442,0.164,4.153S383.75,79.629,382.274,79.455z M377.59,55.459\
  c0.011-0.098,0.016-0.146,0.026-0.244c-0.061-6.942-0.046-15.133-0.871-21.891c-0.04-0.329-0.013-0.664-0.436-0.71\
  c-0.034-0.004-0.051-0.004-0.085-0.008c-0.508-0.056-0.382,0.292-0.495,0.606c-2.71,7.477-4.978,13.654-7.188,21.752\
  c-0.011,0.098-0.017,0.146-0.027,0.243c-0.052,0.489,0.08,0.834,0.579,0.888c1.666,0.178,5.61,0.354,7.556,0.25\
  C377.156,56.318,377.535,55.949,377.59,55.459z')
  path(fill='#E53027', stroke='#D32622', stroke-width='2', stroke-miterlimit='10', d='M404.829,23.131\
  c3.152,0.406,2.394,9.495,1.454,16.654c-0.427,3.254-0.885,6.09-1.077,7.554c-0.886,6.752-2.262,14.682-3.188,21.759\
  c-0.085,0.651,0.291,1.609,0.95,1.696c1.649,0.217,1.084,0.061,2.65,0.271c2.885,0.386,6.75,1.006,8.719,2.518\
  c1.586,1.218,1.971,2.101,1.718,3.888c-0.518,3.655-3.283,5.497-7.455,4.926c-0.72-0.099-1.08-0.147-1.8-0.245\
  c-2.944-0.399-3.558-0.149-6.34-0.514c-4.91-0.643-8.722-2.206-8.276-8.335c0.125-1.716,0.276-3.604,0.489-5.314\
  c0.356-2.866,0.536-4.299,0.893-7.165c0.719-5.781,1.72-11.112,2.449-16.974c0.243-1.954,0.434-4.162,0.707-6.36\
  C397.603,30.404,399.205,22.407,404.829,23.131z')
