svg#camera(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', preserveAspectRatio="none", xml:space='preserve' viewBox="0 0 95.167 98.833")
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M47.781,56.261\
  c-0.167-0.704-0.613-1.593-0.994-2.197c-0.738-1.156-1.281-0.721-2.121-1.271c0,0-1.907-0.236-3.157-0.133\
  c-1.645,0.177-2.271,0.848-2.716,2.552c-0.451,1.711,0.057,3.255,0.827,4.771c0.825,1.604,1.631,3.44,3.139,4.503\
  c0.644,0.459,2.276,2.121,3.191,1.205c0.558-0.547,0.569-2.414,0.694-3.17c0.187-1.188,0.369-2.41,0.71-3.549\
  C47.626,58.082,48.044,57.257,47.781,56.261 M44.079,64.001l-0.25-0.156c-0.302-0.141-0.076-0.515,0.099-0.879\
  C45.124,62.622,44.866,64.348,44.079,64.001 M45.493,57.594c-0.275,0.987-0.708,2.02-1.722,2.374\
  c-1.263,0.422-2.477-0.488-3.059-1.573c-0.354-0.605-0.537-1.481-0.187-2.126c1.352-2.334,3.903-0.969,4.34-0.467\
  C45.416,56.473,45.735,56.718,45.493,57.594')
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M61.587,33.949\
  c-1.859,2.912,0.938-3.095,1.14-4.393c0.474-3.077,0.354-5.922,1.025-8.946c1.352-6.073,3.509-12.938,5.384-18.598\
  c2.998,0.681,6.39,1.187,9.59,1.85c-0.782,9.31-8.562,20.634-14.974,28.322L61.587,33.949z')
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M70.164,43.873\
  c1.219,0.089,2.433-0.476,3.615-0.738c2.703-0.614,5.441-1.138,8.176-1.663c2.385-0.462,5.042-0.969,7.338-1.715\
  c0.919-0.303,4.236-1.014,4.685-1.681c0.615-0.872-0.448-2.41-0.674-3.188c-0.615-2.254-0.615-3.748-2.109-5.566\
  c-0.538-0.645-0.355-1.312-1.263-1.33c-1.071-0.026-3.898,3.174-4.869,3.734c-3.44,1.997-6.534,3.166-9.438,5.962\
  c-1.125,1.054-5.136,6.416-5.661,6.185H70.164z')
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M48.719,33.647\
  c-0.857-0.4,0.383-6.074,0.538-7.181c0.694-5.278,1.096-10.568,1.552-15.877c0.281-2.828,1.25-5.104-1.951-5.335\
  c-2.351-0.151-6.98,0.347-8.715,1.983c3.979,8.239,4.534,18.465,8.332,26.535L48.719,33.647z')
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M68.056,55.976\
  c-1.766-7.248-3.975-13.356-12.019-15.438c-6.318-1.645-12.743-0.711-19.172,0.694c-7.744,1.708-18.784,4.473-30.447,6.856\
  c-2,0.542-3.032,1.352-3.463,2.241c-1.965,2.015-1.507,8.848-1.494,10.965c0.036,4.565,1.676,8.869,2.801,13.178\
  c1.139,4.33,2.228,8.963,3.29,13.404c0.858,3.522,1.525,7.235,5.135,8.857c1.103,0.502,2.166,0.663,3.246,0.548\
  c0.227,0.062,0.458,0.115,0.702,0.133c5.042,0.56,36.896-2.518,42.017-3.535c4.38-0.858,11.418-2.734,12.956-6.851\
  C73.978,80.795,69.55,62.129,68.056,55.976 M56.22,80.544c-0.198,8.377-3.921,8.587-11.497,9.436\
  c-3.659,0.409-12.561,0.214-15.896,1.513c0,0-9.497,1.378-14.219,2.098c-0.818-1.485-1.107-3.343-1.689-5.699\
  c-1.049-4.313-2.063-8.795-3.17-13.224c-1.059-4.245-1.92-8.199-2.134-12.613c-0.111-2.321,0-4.639,0.551-6.843\
  c0.062-0.303,0.155-0.583,0.244-0.854c8.475-2.533,30.151-8.461,39.39-6.909c-0.037,0.747,3.61,3.112,5.161,8.301\
  C55.159,63.071,56.407,72.654,56.22,80.544 M66.906,84.893c-0.534,1.156-2.322,2.65-3.167,3.38c-1.646,1.378-3.04,0.818-4.997,1.591\
  c1.957-0.772,3.229-3.299,3.229-5.05c0-1.174-0.335-2.535-0.446-3.727c-0.398-4.339-0.996-8.696-1.645-13.004\
  c-0.688-4.735-0.534-9.653-1.707-14.304c-0.369-1.521-1.412-2.837-2.29-4.001c-0.77-1.014-2.921-3.006-2.921-3.797\
  c0-2.472,0.986-2.054,1.57-2.139c0.893-0.12,1.906,0.32,2.721,0.707c1.4,0.675,4.371,5.299,4.855,6.776\
  c0.666,1.952,1.236,4.198,1.8,6.193c1.356,4.807,0.877,8.417,2.077,13.291c0.8,3.187,1.09,6.304,1.49,9.568\
  C67.723,82.351,67.781,83.07,66.906,84.893')
