svg#copy-register(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-52.167 -2.833 741 122.167',  xml:space='preserve')
  path(fill='#FFFFFF', stroke='#D32622', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M-22.19,109.334c0,0-5.66-14.668-7.546-45.334S-48.604,5.334-25.02,7.334s128.294,1.333,162.254-0.667S324.012,2,358.917,2\
  c34.902,0,164.794,10.252,191.496,3.333C578.714-2,657.012,5.334,661.727,11.334c4.717,6-1.888,30.667,0.942,50\
  s15.092,49.333-8.49,51.333c-23.583,2-80.183,0.667-91.503,2.667s-73.579-4-90.559-2c-16.98,2-60.374-0.667-74.524-0.667\
  S230.623,114,230.623,114s-212.25,0.668-223.57-0.666C-4.268,112-25.02,121.334-22.19,109.334z')
  g
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M55.303,92.197c-3.074-1.622-3.842-6.147-3.842-11.442\
    c0-6.318,0.683-14.261,0.683-20.664c0-5.892,0.256-14.687,3.586-14.687c5.294,0,5.55,6.66,5.55,14.003\
    c0,9.393-0.171,17.762-0.171,26.13c0,4.013,0,6.916-4.355,6.916h-0.597C55.901,92.453,55.559,92.368,55.303,92.197z M57.438,43.184\
    c-2.562,0-5.55-2.477-5.55-7.002c0-4.099,1.708-6.148,3.757-6.148c0.768,0,1.623,0.342,2.476,0.939\
    c2.135,1.623,3.331,4.44,3.331,7.344C61.451,41.646,59.573,43.184,57.438,43.184z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M103.974,39.854c0,2.391,0.085,5.123,0.085,6.404\
    c0,11.528-0.256,22.288-0.256,33.729c0,4.27-1.024,10.673-4.61,11.527c-0.684,0.171-1.367,0.513-2.05,0.513\
    c-5.806,0-8.539-11.016-10.161-14.857c-1.623-3.758-2.477-7.088-4.185-10.675c-1.708-3.586-2.817-7.513-4.781-10.417\
    c-0.171-0.171-0.427-1.11-0.769-1.11c-0.683,0-0.768,2.305-0.768,5.038c0,10.333,0.683,14.431,0.683,23.311\
    c0,5.379-0.085,9.478-4.782,9.478c-0.342,0-0.769,0-1.195-0.084c-2.903-0.342-3.16-4.1-3.16-8.454v-3.245\
    c0-2.562,0.085-5.123,0.085-6.831c0-1.707,0.085-3.245,0.085-4.952v-6.661c0-7.599,0.085-14.516,0.769-21.603\
    c0.427-3.928,0.854-7.002,4.696-7.429h0.512c5.978,0,14.516,27.922,18.615,35.778c0.171,0.342,1.964,4.013,2.306,4.013\
    c0.171,0,0.256-0.426,0.256-0.938c0-0.684-0.085-1.366-0.085-1.707c0.085-3.075,0.171-5.979,0.171-8.796\
    c0-7.856-0.342-14.772-0.342-22.116c0-6.49,1.024-8.027,4.525-8.027C103.462,31.741,103.974,36.95,103.974,39.854z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M135.995,71.532c0-0.512-0.256-0.769-0.939-0.769h-0.085\
    c-3.16,0-5.55-0.255-8.283-0.255c-1.708,0-3.5-1.11-3.5-2.818c0-1.281,0.598-3.074,1.366-3.757\
    c1.452-1.367,5.124-1.623,8.625-1.623c2.561,0,5.123,0.171,6.575,0.171c2.903,0,4.696,2.477,4.952,5.465\
    c0.342,2.647,0.513,4.014,0.513,6.832c0,12.723-3.843,18.699-16.31,18.699c-13.15,0-18.7-16.479-18.7-29.459\
    c0-16.053,5.807-31.936,21.262-31.936c8.795,0,12.467,4.525,12.467,12.467c0,1.025,0.085,2.22,0.085,3.33\
    c0,1.793-0.256,3.416-1.879,3.671c-0.939,0.171-1.878,0.256-2.818,0.256c-3.33,0-3.757-3.33-3.928-6.147\
    c-0.256-3.928-1.623-5.294-3.416-5.294c-3.074,0-7.344,4.526-8.88,7.855c-2.477,5.38-3.672,9.564-3.672,16.908\
    c0,4.61,0.598,8.282,2.732,11.869c0.939,1.622,1.793,3.244,2.989,4.696c1.366,1.708,2.562,3.501,5.038,3.501\
    C135.909,85.195,135.995,76.059,135.995,71.532z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M151.961,87.586c0-7.856,0.512-14.687,0.512-22.286v-4.782\
    c-0.171-5.294-0.342-11.698-0.342-16.821v-3.672c0-7.088,1.793-8.283,8.71-8.283c3.245,0,6.746,0.684,7.856,1.024\
    c1.024,0.342,2.049,0.684,2.903,1.196c3.843,2.135,5.209,6.917,5.807,11.87c0.256,2.049,0.427,4.44,0.427,6.916\
    c0,7.515-1.708,15.882-8.112,15.882c-0.768,0-1.024,0.257-1.024,0.684c0,0.342,0.171,0.684,0.427,1.025\
    c3.671,5.037,8.197,11.186,10.588,16.309c0.427,0.854,0.598,1.538,0.598,2.391c0,2.306-1.452,4.355-3.246,4.355\
    c-5.123,0-7.685-6.404-9.478-9.905c-2.22-4.354-2.988-7.173-5.208-11.527c-0.171-0.342-0.513-0.684-0.854-0.684\
    c-0.598,0-0.683,1.281-0.683,2.647c0,1.196,0.085,2.477,0.085,3.074c0.085,2.561,0.598,8.282,0.598,11.526\
    c0,3.673-2.22,4.355-5.294,4.355C152.644,92.88,151.961,90.575,151.961,87.586z M161.78,42.244\
    c-0.085,2.306-0.171,4.611-0.171,7.002c0,3.5,0.171,7.343,0.256,10.759c0.085,0.683,0.256,1.366,0.854,1.366h0.085\
    c5.892-0.683,7.344-3.415,7.344-9.222c0-6.148-0.342-12.808-6.746-12.808C161.951,39.341,161.866,40.707,161.78,42.244z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M185.775,68.032V52.149c0-3.843,0.085-8.112,0.341-12.808V36.95\
    c0-2.989,0.342-4.953,3.074-4.953c4.867,0,3.672,0.085,8.795,0.085h1.195c3.757,0,8.369,0.171,8.369,3.757\
    c0,4.099-2.22,4.184-5.721,4.184h-0.342h-3.842c-1.452,0-2.306,0-2.306,1.537v0.854c0,3.671-0.085,7.429-0.085,10.93\
    c0,1.622,0,1.622-0.085,1.622v1.024c0.085,1.366,1.537,1.537,2.988,1.537c1.11,0,1.195,0,1.195,0.085h0.684\
    c2.391,0,4.696,0.085,4.696,4.354v0.684c-0.171,2.477-2.306,2.818-4.782,2.818c-1.11,0-3.757-0.086-4.782-0.086\
    c-0.427,0-0.598,7.43-0.598,9.479c0,2.22,0.17,4.952,0.17,5.55c0,1.451,0.256,2.732,1.623,2.732h0.085\
    c3.842,0,3.416-0.085,7.258-0.085c2.733,0,4.099,1.195,4.099,4.44c0,0.256-0.085,0.598-0.085,0.853\
    c-0.171,3.331-1.793,3.929-4.44,3.929c-1.708,0-3.928-0.256-6.49-0.256s-5.038-0.085-6.831-0.085h-0.085\
    c-3.757,0-4.44-1.111-4.44-3.502C185.433,81.95,185.775,74.607,185.775,68.032z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M221.382,76.571c0,1.365,0.085,1.878,0.085,4.269\
    c0,3.587,1.623,4.953,4.525,4.953c4.611,0,4.868-4.696,4.868-8.71c0-16.992-12.979-8.88-17.42-22.03\
    c-0.427-1.367-0.598-2.903-0.598-4.44c0-8.454,3.501-18.871,13.663-18.871c10.161,0,13.235,4.185,13.235,14.26\
    c0,2.733-2.647,3.246-4.185,3.246c-5.721,0-2.306-8.881-8.453-8.881c-4.697,0-5.721,7.002-5.721,10.247\
    c0,2.733,1.537,4.526,3.416,5.465c8.453,4.27,15.541,8.71,15.541,21.433c0,8.283-4.355,16.48-14.431,16.48\
    c-8.453,0-13.321-6.489-13.321-15.37c0-5.38,1.025-7.344,4.782-7.344C220.699,71.276,221.382,74.521,221.382,76.571z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M271.847,93.136c-3.416,0-4.696-2.477-5.209-5.464\
    c-0.513-2.904-0.939-4.611-1.367-7.515c-0.084-0.769-0.854-1.366-1.535-1.366h-0.086c-0.855,0.086-1.794,0.171-2.818,0.171\
    c-1.279,0-2.646-0.085-3.842-0.085c-0.683,0-1.366,0-1.965,0.085c-1.023,0.171-1.536,1.109-1.536,2.22\
    c-0.342,5.55-1.196,11.869-6.148,11.869c-3.245,0-4.014-1.451-4.014-3.501c0-0.854,0.085-1.793,0.256-2.818\
    c2.988-17.761,7.173-33.216,12.382-49.354c0.597-1.793,1.28-3.416,2.306-5.038c0.34-0.513,1.793-1.708,3.5-1.708\
    c3.842,0,4.952,5.721,5.635,9.051c2.818,14.602,5.039,30.826,8.027,45.513c0.342,1.536,0.684,2.477,0.684,4.27\
    S273.384,93.136,271.847,93.136z M264.247,68.886v-0.257c-0.853-7.172-1.878-15.455-3.329-22.542\
    c-0.086-0.341-0.086-0.683-0.512-0.683h-0.086c-0.513,0-0.342,0.342-0.427,0.683c-1.793,8.198-3.501,14.688-4.868,23.312v0.256\
    c0,0.513,0.171,0.854,0.684,0.854c1.709,0,5.721-0.257,7.686-0.599C263.906,69.825,264.247,69.398,264.247,68.886z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M310.699,48.392v-5.379c0-1.024,0-1.537-0.769-1.537h-0.171\
    c-1.28,0.085-1.964,0.085-2.646,0.085h-2.306c-3.074-0.171-3.587-2.904-3.587-4.868c0-2.22,1.623-4.269,4.185-4.354\
    c8.625-0.171,8.454-0.769,16.736-0.769c4.953,0,7.088,1.793,7.088,4.27v0.171c0,3.33-0.086,5.379-5.808,5.635\
    c-1.707,0.085-0.768,0.085-2.646,0.171c-1.366,0.085-1.537,0.256-1.537,1.623v0.171c0,8.453,0.256,16.395,0.256,24.421\
    c0,2.902-0.085,5.635-0.085,8.368c0,1.707,0.085,3.757,0.085,5.806c0,1.025,0,2.05-0.085,3.074\
    c-0.342,5.209,0.769,8.026-4.44,8.026c-3.33,0-3.671-4.099-3.671-7.855v-3.074v-3.33C311.297,68.459,310.699,58.896,310.699,48.392\
    z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M365.262,41.817c0,7.087,0.257,12.125,0.257,20.493\
    c0,8.198-0.854,16.225-3.244,22.116c-2.647,6.403-7.856,8.709-12.126,8.709c-16.309,0-16.309-26.129-16.309-42.182v-0.085\
    c0-1.11-0.086-2.818-0.086-4.697c0-5.892,0.512-13.833,4.866-13.833c2.05,0,2.306,8.026,2.306,14.687\
    c0,2.391-0.085,1.537-0.085,3.159c0,0.854,0,1.537,0.085,1.964c0.684,8.71-1.109,33.814,7.515,33.814\
    c5.636-0.598,6.746-21.689,6.746-28.179v-2.903c0-3.16-0.342-7.514-0.342-11.271c0-6.49,0.684-11.87,6.404-11.87\
    c3.671,0,4.013,2.135,4.013,5.978V41.817z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M380.376,76.571c0,1.365,0.085,1.878,0.085,4.269\
    c0,3.587,1.623,4.953,4.526,4.953c4.61,0,4.867-4.696,4.867-8.71c0-16.992-12.979-8.88-17.42-22.03\
    c-0.427-1.367-0.598-2.903-0.598-4.44c0-8.454,3.502-18.871,13.662-18.871c10.161,0,13.235,4.185,13.235,14.26\
    c0,2.733-2.646,3.246-4.184,3.246c-5.721,0-2.306-8.881-8.453-8.881c-4.697,0-5.722,7.002-5.722,10.247\
    c0,2.733,1.537,4.526,3.416,5.465c8.453,4.27,15.541,8.71,15.541,21.433c0,8.283-4.355,16.48-14.432,16.48\
    c-8.453,0-13.32-6.489-13.32-15.37c0-5.38,1.024-7.344,4.781-7.344C379.694,71.276,380.376,74.521,380.376,76.571z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M429.218,79.475c-0.171-2.392-0.171-4.782-0.171-7.173\
    c0-8.881,0.598-17.42,0.854-26.471c0.085-3.245,0.427-7.515,0.768-10.76c0.256-2.306,2.477-2.988,5.038-3.159h2.049\
    c2.306,0,4.44,0.171,6.661,0.598c8.027,1.708,11.613,8.282,13.064,16.907c0.256,1.879,0.427,7.941,0.427,9.564\
    c0,16.907-6.746,34.412-22.969,34.412c-0.77,0-1.623-0.086-2.477-0.086c-1.88,0-2.732-2.049-2.818-3.928\
    c-0.085-3.074-0.342-6.062-0.427-9.137V79.475z M440.832,82.975c4.61,0,9.819-16.395,9.819-25.275\
    c0-8.966-0.341-17.59-9.819-17.932h-0.086c-1.11,0-1.195,0.939-1.195,1.964V42.5v0.512c0,2.562-0.086,3.501-0.086,5.978\
    c0,1.281,0,2.477,0.086,3.757c0.256,6.917,0.256,9.648,0.512,17.42v0.597v2.989v5.038c0,1.109,0,2.22,0.086,3.415\
    C440.148,82.548,440.319,82.975,440.832,82.975z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M486.942,93.136c-3.416,0-4.696-2.477-5.209-5.464\
    c-0.511-2.904-0.938-4.611-1.365-7.515c-0.086-0.769-0.854-1.366-1.537-1.366h-0.085c-0.854,0.086-1.793,0.171-2.818,0.171\
    c-1.28,0-2.647-0.085-3.843-0.085c-0.683,0-1.366,0-1.964,0.085c-1.024,0.171-1.537,1.109-1.537,2.22\
    c-0.342,5.55-1.195,11.869-6.148,11.869c-3.244,0-4.013-1.451-4.013-3.501c0-0.854,0.086-1.793,0.257-2.818\
    c2.987-17.761,7.173-33.216,12.381-49.354c0.598-1.793,1.281-3.416,2.306-5.038c0.342-0.513,1.793-1.708,3.501-1.708\
    c3.843,0,4.952,5.721,5.636,9.051c2.817,14.602,5.038,30.826,8.026,45.513c0.341,1.536,0.683,2.477,0.683,4.27\
    S488.479,93.136,486.942,93.136z M479.342,68.886v-0.257c-0.854-7.172-1.878-15.455-3.33-22.542\
    c-0.085-0.341-0.085-0.683-0.512-0.683h-0.086c-0.513,0-0.342,0.342-0.427,0.683c-1.793,8.198-3.501,14.688-4.867,23.312v0.256\
    c0,0.513,0.171,0.854,0.683,0.854c1.709,0,5.722-0.257,7.686-0.599C479.001,69.825,479.342,69.398,479.342,68.886z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M497.531,48.392v-5.379c0-1.024,0-1.537-0.77-1.537h-0.17\
    c-1.281,0.085-1.965,0.085-2.646,0.085h-2.306c-3.074-0.171-3.587-2.904-3.587-4.868c0-2.22,1.623-4.269,4.185-4.354\
    c8.624-0.171,8.453-0.769,16.736-0.769c4.952,0,7.087,1.793,7.087,4.27v0.171c0,3.33-0.085,5.379-5.807,5.635\
    c-1.708,0.085-0.768,0.085-2.646,0.171c-1.367,0.085-1.538,0.256-1.538,1.623v0.171c0,8.453,0.257,16.395,0.257,24.421\
    c0,2.902-0.086,5.635-0.086,8.368c0,1.707,0.086,3.757,0.086,5.806c0,1.025,0,2.05-0.086,3.074\
    c-0.342,5.209,0.77,8.026-4.439,8.026c-3.33,0-3.672-4.099-3.672-7.855v-3.074v-3.33C498.128,68.459,497.531,58.896,497.531,48.392\
    z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M532.285,32.083c12.126,0,14.432,21.177,14.432,35.01\
    c0,13.662-4.355,25.872-15.541,25.872c-9.735,0-13.577-11.355-13.577-30.057C517.598,52.491,520.843,32.083,532.285,32.083z\
    M537.665,66.751v-1.537c0-9.308-0.171-24.336-5.38-24.336c-3.757,0-6.233,11.101-6.233,22.116c0,11.015,1.452,22.03,4.867,22.03\
    C534.675,85.024,537.665,78.791,537.665,66.751z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M560.549,76.571c0,1.365,0.086,1.878,0.086,4.269\
    c0,3.587,1.622,4.953,4.525,4.953c4.61,0,4.866-4.696,4.866-8.71c0-16.992-12.979-8.88-17.419-22.03\
    c-0.428-1.367-0.599-2.903-0.599-4.44c0-8.454,3.502-18.871,13.663-18.871c10.162,0,13.235,4.185,13.235,14.26\
    c0,2.733-2.647,3.246-4.185,3.246c-5.721,0-2.306-8.881-8.453-8.881c-4.696,0-5.721,7.002-5.721,10.247\
    c0,2.733,1.537,4.526,3.415,5.465c8.453,4.27,15.541,8.71,15.541,21.433c0,8.283-4.354,16.48-14.431,16.48\
    c-8.454,0-13.32-6.489-13.32-15.37c0-5.38,1.024-7.344,4.781-7.344C559.866,71.276,560.549,74.521,560.549,76.571z')
