svg#copy-edit-profile(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='559.333px', height='122.167px', viewbox='87 0 559.333 122.167', enable-background='new 87 0 559.333 122.167', xml:space='preserve')
  path(fill='#FFFFFF', stroke='#D32622', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M106.302,110.333c0,0-4.355-14.668-5.807-45.334c-1.452-30.666-14.52-58.666,3.629-56.666s98.726,1.333,124.858-0.667\
  C255.116,5.667,372.713,3,399.573,3c26.858,0,126.813,10.252,147.361,3.333c21.778-7.333,82.03,0.001,85.659,6.001\
  c3.63,6-1.453,30.667,0.725,50c2.178,19.334,11.614,49.334-6.533,51.334c-18.148,2-61.702,0.666-70.414,2.666\
  c-8.711,2-56.621-4-69.687-2c-13.067,2-46.46-0.666-57.349-0.666S300.848,115,300.848,115s-163.332,0.668-172.043-0.666\
  C120.093,113,104.124,122.333,106.302,110.333z')
  g
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M146.497,69.932V51.884c0-4.366,0.1-9.218,0.399-14.555v-2.717\
    c0-3.396,0.4-5.627,3.597-5.627c5.694,0,4.295,0.097,10.29,0.097h1.398c4.396,0,9.79,0.194,9.79,4.27\
    c0,4.657-2.597,4.754-6.693,4.754h-0.399h-4.496c-1.698,0-2.697,0-2.697,1.747v0.97c0,4.172-0.1,8.442-0.1,12.42\
    c0,1.844,0,1.844-0.1,1.844v1.165c0.1,1.552,1.798,1.746,3.497,1.746c1.299,0,1.398,0,1.398,0.097h0.799\
    c2.797,0,5.495,0.097,5.495,4.948v0.776c-0.2,2.814-2.697,3.202-5.595,3.202c-1.298,0-4.396-0.097-5.594-0.097\
    c-0.5,0-0.699,8.441-0.699,10.771c0,2.522,0.2,5.628,0.2,6.307c0,1.649,0.3,3.105,1.898,3.105h0.1c4.496,0,3.996-0.098,8.491-0.098\
    c3.197,0,4.795,1.358,4.795,5.046c0,0.291-0.1,0.679-0.1,0.97c-0.2,3.784-2.098,4.464-5.194,4.464\
    c-1.998,0-4.596-0.291-7.593-0.291c-2.997,0-5.894-0.097-7.992-0.097h-0.1c-4.396,0-5.195-1.262-5.195-3.979\
    C146.097,85.749,146.497,77.404,146.497,69.932z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M181.163,82.934c-0.2-2.717-0.2-5.434-0.2-8.15\
    c0-10.092,0.699-19.794,0.999-30.08c0.1-3.687,0.5-8.539,0.899-12.226c0.3-2.62,2.897-3.396,5.894-3.59h2.397\
    c2.697,0,5.195,0.194,7.792,0.679c9.39,1.94,13.586,9.412,15.285,19.212c0.299,2.135,0.499,9.024,0.499,10.868\
    c0,19.212-7.892,39.104-26.873,39.104c-0.899,0-1.898-0.098-2.897-0.098c-2.198,0-3.197-2.328-3.297-4.463\
    c-0.1-3.493-0.399-6.89-0.5-10.383V82.934z M194.749,86.913c5.395,0,11.488-18.63,11.488-28.721\
    c0-10.188-0.399-19.988-11.488-20.376h-0.1c-1.299,0-1.398,1.067-1.398,2.231v0.874v0.582c0,2.911-0.1,3.979-0.1,6.792\
    c0,1.455,0,2.813,0.1,4.269c0.3,7.859,0.3,10.964,0.599,19.794v0.679v3.396v5.725c0,1.262,0,2.523,0.1,3.882\
    C193.95,86.427,194.149,86.913,194.749,86.913z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M227.716,97.392c-3.596-1.844-4.496-6.986-4.496-13.003\
    c0-7.18,0.799-16.204,0.799-23.481c0-6.695,0.3-16.689,4.196-16.689c6.194,0,6.494,7.568,6.494,15.913\
    c0,10.673-0.2,20.182-0.2,29.692c0,4.561,0,7.859-5.095,7.859h-0.699C228.416,97.683,228.016,97.585,227.716,97.392z\
    M230.214,41.696c-2.997,0-6.494-2.814-6.494-7.957c0-4.658,1.998-6.986,4.396-6.986c0.899,0,1.898,0.388,2.897,1.067\
    c2.498,1.844,3.896,5.045,3.896,8.345C234.909,39.95,232.711,41.696,230.214,41.696z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M253.191,47.615v-6.113c0-1.164,0-1.747-0.899-1.747h-0.2\
    c-1.499,0.097-2.298,0.097-3.097,0.097h-2.697c-3.597-0.194-4.196-3.299-4.196-5.531c0-2.523,1.898-4.852,4.895-4.949\
    c10.09-0.194,9.89-0.873,19.58-0.873c5.794,0,8.292,2.038,8.292,4.852v0.194c0,3.784-0.1,6.113-6.793,6.404\
    c-1.998,0.097-0.899,0.097-3.097,0.194c-1.599,0.097-1.798,0.291-1.798,1.844v0.194c0,9.606,0.3,18.63,0.3,27.751\
    c0,3.299-0.1,6.404-0.1,9.509c0,1.94,0.1,4.27,0.1,6.599c0,1.164,0,2.328-0.1,3.493c-0.399,5.918,0.899,9.12-5.195,9.12\
    c-3.896,0-4.295-4.657-4.295-8.927v-3.493v-3.784C253.89,70.417,253.191,59.55,253.191,47.615z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M307.039,98.459c-3.996,0-5.495-2.814-6.094-6.21\
    c-0.6-3.3-1.099-5.24-1.599-8.539c-0.1-0.873-0.999-1.553-1.798-1.553h-0.1c-0.999,0.098-2.098,0.194-3.297,0.194\
    c-1.499,0-3.097-0.097-4.495-0.097c-0.799,0-1.599,0-2.298,0.097c-1.199,0.194-1.798,1.262-1.798,2.522\
    c-0.399,6.308-1.398,13.487-7.193,13.487c-3.796,0-4.695-1.649-4.695-3.978c0-0.971,0.1-2.038,0.299-3.202\
    c3.497-20.183,8.392-37.745,14.485-56.084c0.7-2.038,1.499-3.881,2.697-5.725c0.4-0.582,2.098-1.94,4.096-1.94\
    c4.496,0,5.794,6.501,6.593,10.285c3.297,16.592,5.894,35.028,9.391,51.717c0.399,1.747,0.799,2.814,0.799,4.852\
    C312.034,96.325,308.837,98.459,307.039,98.459z M298.147,70.903v-0.292c-0.999-8.15-2.198-17.562-3.896-25.616\
    c-0.1-0.388-0.1-0.776-0.6-0.776h-0.1c-0.6,0-0.4,0.388-0.5,0.776c-2.098,9.315-4.096,16.689-5.694,26.49v0.291\
    c0,0.582,0.2,0.97,0.799,0.97c1.998,0,6.693-0.291,8.991-0.679C297.748,71.969,298.147,71.485,298.147,70.903z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M318.028,92.152c0-8.927,0.6-16.689,0.6-25.325v-5.433\
    c-0.2-6.016-0.4-13.293-0.4-19.115v-4.172c0-8.054,2.098-9.412,10.19-9.412c3.796,0,7.892,0.776,9.19,1.165\
    c1.199,0.388,2.398,0.776,3.397,1.358c4.495,2.426,6.094,7.859,6.793,13.487c0.3,2.329,0.5,5.045,0.5,7.859\
    c0,8.539-1.998,18.047-9.49,18.047c-0.899,0-1.199,0.292-1.199,0.776c0,0.389,0.2,0.776,0.5,1.165\
    c4.296,5.725,9.59,12.711,12.388,18.532c0.5,0.971,0.699,1.747,0.699,2.717c0,2.62-1.698,4.949-3.796,4.949\
    c-5.994,0-8.991-7.277-11.089-11.256c-2.598-4.948-3.497-8.15-6.094-13.1c-0.2-0.388-0.599-0.775-0.999-0.775\
    c-0.699,0-0.799,1.455-0.799,3.008c0,1.358,0.1,2.813,0.1,3.493c0.1,2.91,0.699,9.412,0.699,13.099\
    c0,4.173-2.597,4.949-6.193,4.949C318.828,98.168,318.028,95.548,318.028,92.152z M329.517,40.629c-0.1,2.62-0.2,5.24-0.2,7.957\
    c0,3.978,0.2,8.345,0.3,12.226c0.1,0.776,0.3,1.553,0.999,1.553h0.1c6.893-0.776,8.591-3.881,8.591-10.479\
    c0-6.986-0.399-14.555-7.892-14.555C329.716,37.33,329.617,38.882,329.517,40.629z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M397.35,90.793c0,6.599-1.299,6.695-3.996,6.695\
    c-2.598,0-4.995-0.776-4.995-9.509c0-5.531-0.3-9.509-0.3-15.428c0-5.726,0.2-11.353,0.2-17.078c0-8.83-0.5-17.562-0.5-21.541\
    c0-0.194,0.101-0.388,0.101-0.582c0.499-2.135,1.997-3.493,4.396-3.881c2.297-0.388,3.097-0.679,5.294-0.679\
    c13.486,0,21.679,5.434,21.679,18.339c0,12.129-9.391,19.794-20.479,21.929c-1.499,0.291-1.898,0.679-1.898,1.94v0.485\
    C397.05,75.657,397.35,86.913,397.35,90.793z M396.65,57.027v1.262c0.1,0.97,0.3,1.358,0.898,1.358c0.3,0,0.6-0.097,0.999-0.291\
    c3.696-1.553,10.29-5.434,10.29-12.226c0-3.59-3.097-8.054-6.793-8.927c-0.899-0.194-1.799-0.388-2.598-0.388\
    c-1.199,0-2.198,0.388-2.198,1.747C397.249,48.294,396.65,48.585,396.65,57.027z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M427.818,69.932V51.884c0-4.366,0.101-9.218,0.4-14.555v-2.717\
    c0-3.396,0.399-5.627,3.596-5.627c5.694,0,4.296,0.097,10.29,0.097h1.398c4.396,0,9.79,0.194,9.79,4.27\
    c0,4.657-2.598,4.754-6.693,4.754H446.2h-4.495c-1.698,0-2.697,0-2.697,1.747v0.97c0,4.172-0.101,8.442-0.101,12.42\
    c0,1.844,0,1.844-0.1,1.844v1.165c0.1,1.552,1.798,1.746,3.496,1.746c1.299,0,1.399,0,1.399,0.097h0.799\
    c2.797,0,5.494,0.097,5.494,4.948v0.776c-0.199,2.814-2.697,3.202-5.594,3.202c-1.299,0-4.396-0.097-5.595-0.097\
    c-0.499,0-0.699,8.441-0.699,10.771c0,2.522,0.2,5.628,0.2,6.307c0,1.649,0.299,3.105,1.897,3.105h0.101\
    c4.495,0,3.995-0.098,8.491-0.098c3.196,0,4.795,1.358,4.795,5.046c0,0.291-0.1,0.679-0.1,0.97c-0.2,3.784-2.099,4.464-5.195,4.464\
    c-1.998,0-4.595-0.291-7.592-0.291s-5.895-0.097-7.992-0.097h-0.1c-4.396,0-5.195-1.262-5.195-3.979\
    C427.419,85.749,427.818,77.404,427.818,69.932z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M462.484,92.152c0-8.927,0.6-16.689,0.6-25.325v-5.433\
    c-0.199-6.016-0.399-13.293-0.399-19.115v-4.172c0-8.054,2.098-9.412,10.189-9.412c3.797,0,7.893,0.776,9.191,1.165\
    c1.198,0.388,2.397,0.776,3.396,1.358c4.495,2.426,6.094,7.859,6.793,13.487c0.3,2.329,0.499,5.045,0.499,7.859\
    c0,8.539-1.997,18.047-9.49,18.047c-0.898,0-1.198,0.292-1.198,0.776c0,0.389,0.199,0.776,0.499,1.165\
    c4.296,5.725,9.591,12.711,12.388,18.532c0.499,0.971,0.699,1.747,0.699,2.717c0,2.62-1.698,4.949-3.796,4.949\
    c-5.994,0-8.991-7.277-11.089-11.256c-2.598-4.948-3.497-8.15-6.094-13.1c-0.2-0.388-0.6-0.775-0.999-0.775\
    c-0.699,0-0.8,1.455-0.8,3.008c0,1.358,0.101,2.813,0.101,3.493c0.1,2.91,0.699,9.412,0.699,13.099\
    c0,4.173-2.598,4.949-6.194,4.949C463.284,98.168,462.484,95.548,462.484,92.152z M473.974,40.629c-0.101,2.62-0.2,5.24-0.2,7.957\
    c0,3.978,0.2,8.345,0.3,12.226c0.1,0.776,0.3,1.553,0.999,1.553h0.1c6.894-0.776,8.592-3.881,8.592-10.479\
    c0-6.986-0.399-14.555-7.893-14.555C474.173,37.33,474.073,38.882,473.974,40.629z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M514.333,90.115c0,0.97,0.1,1.94,0.1,2.813\
    c0,2.717-0.499,4.561-4.096,4.561c-6.394,0-6.793-2.426-6.793-6.986v-1.844v-2.426c0-4.366,0.5-10.673,0.5-15.524\
    c0-5.24-0.2-10.673-0.3-16.301c-0.101-3.59-0.4-8.733-0.4-14.167c0-3.687,0.101-6.792,0.7-7.859c1.598-3.396,4.595-3.59,8.891-3.59\
    h0.699c6.894,0,4.495,0.291,9.89,0.291c3.397,0,5.195,2.814,5.195,5.434c0,3.008-3.197,4.657-4.695,4.657h-2.397h-1.199\
    c-0.898,0-2.298,0-4.495,0.097c-0.999,0-1.998,1.649-1.998,3.784l0.3,16.689c0.3,2.231-0.2,3.784,1.698,3.881h0.3h1.599\
    c0.898,0,1.997,0,3.696,0.098c3.796,0.291,5.194,2.62,5.194,5.143c0,2.038-1.998,4.657-6.193,4.657h-0.999h-0.3\
    c-1.698,0-4.496,0.291-4.596,1.747v0.97v1.553C514.633,78.568,514.333,84.875,514.333,90.115z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M541.205,97.392c-3.597-1.844-4.495-6.986-4.495-13.003\
    c0-7.18,0.799-16.204,0.799-23.481c0-6.695,0.3-16.689,4.196-16.689c6.193,0,6.493,7.568,6.493,15.913\
    c0,10.673-0.2,20.182-0.2,29.692c0,4.561,0,7.859-5.095,7.859h-0.699C541.904,97.683,541.505,97.585,541.205,97.392z\
    M543.703,41.696c-2.997,0-6.494-2.814-6.494-7.957c0-4.658,1.998-6.986,4.396-6.986c0.899,0,1.898,0.388,2.897,1.067\
    c2.497,1.844,3.896,5.045,3.896,8.345C548.397,39.95,546.2,41.696,543.703,41.696z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M565.381,29.082c3.696,0,4.196,10.771,4.196,19.309\
    c0,3.881-0.1,7.277-0.1,9.024c0,8.053-0.4,17.563-0.4,26.004c0,0.776,0.6,1.844,1.399,1.844c1.998,0,1.298-0.098,3.196-0.098\
    c3.497,0,8.191,0.098,10.789,1.553c2.098,1.164,2.697,2.135,2.697,4.27c0,4.366-2.997,6.986-8.092,6.986h-2.197\
    c-3.597,0-4.296,0.388-7.692,0.388c-5.994,0-10.789-1.261-11.189-8.538c-0.1-2.038-0.199-4.27-0.199-6.308v-8.538\
    c0-6.89,0.399-13.294,0.399-20.28c0-2.329-0.1-4.949-0.1-7.568C558.089,38.688,558.788,29.082,565.381,29.082z')
