// Generator: Adobe Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg#copy-down-synchronize(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',viewbox='0 0 508.667 119.334', xml:space='preserve')
  path(fill='#FFFFFF', stroke='#D32622', stroke-width='3', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='10', d='\
  M15.683,110.334c0,0-4-14.668-5.333-45.334S-2.984,6.334,13.683,8.334S104.35,9.667,128.35,7.667S260.348,3,285.016,3\
  c24.666,0,116.462,10.252,135.333,3.333c20-7.333,75.334,0.001,78.666,6.001c3.334,6-1.334,30.667,0.666,50s10.666,49.333-6,51.333\
  s-56.666,0.667-64.666,2.667s-51.999-4-63.999-2s-42.667-0.667-52.667-0.667s-118,1.333-118,1.333s-150,0.668-158-0.666\
  S13.683,122.334,15.683,110.334z')
  g
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M36.053,53.263c-1.248-0.659-1.56-2.496-1.56-4.646\
    c0-2.565,0.277-5.79,0.277-8.39c0-2.392,0.104-5.963,1.456-5.963c2.149,0,2.253,2.704,2.253,5.686\
    c0,3.813-0.069,7.211-0.069,10.608c0,1.629,0,2.808-1.768,2.808h-0.243C36.295,53.367,36.157,53.333,36.053,53.263z M36.919,33.364\
    c-1.04,0-2.253-1.005-2.253-2.843c0-1.664,0.693-2.496,1.525-2.496c0.312,0,0.659,0.139,1.005,0.381\
    c0.867,0.659,1.352,1.803,1.352,2.981C38.549,32.74,37.786,33.364,36.919,33.364z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M56.369,32.012c0,0.971,0.035,2.08,0.035,2.6\
    c0,4.68-0.104,9.048-0.104,13.694c0,1.733-0.416,4.333-1.872,4.68c-0.277,0.069-0.555,0.208-0.832,0.208\
    c-2.357,0-3.467-4.472-4.125-6.032c-0.659-1.525-1.005-2.877-1.699-4.333s-1.144-3.051-1.941-4.229\
    c-0.069-0.069-0.173-0.451-0.312-0.451c-0.277,0-0.312,0.936-0.312,2.045c0,4.195,0.277,5.859,0.277,9.464\
    c0,2.184-0.035,3.848-1.941,3.848c-0.139,0-0.312,0-0.485-0.035c-1.179-0.139-1.283-1.664-1.283-3.432v-1.317\
    c0-1.04,0.035-2.08,0.035-2.773c0-0.693,0.035-1.317,0.035-2.011v-2.704c0-3.085,0.035-5.894,0.312-8.771\
    c0.173-1.595,0.347-2.843,1.907-3.016h0.208c2.427,0,5.894,11.336,7.558,14.526c0.069,0.139,0.797,1.629,0.936,1.629\
    c0.069,0,0.104-0.173,0.104-0.381c0-0.277-0.035-0.555-0.035-0.693c0.035-1.248,0.069-2.427,0.069-3.571\
    c0-3.189-0.139-5.998-0.139-8.979c0-2.635,0.416-3.259,1.837-3.259C56.161,28.718,56.369,30.833,56.369,32.012z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M69.925,44.874c0-0.208-0.104-0.312-0.381-0.312h-0.035\
    c-1.283,0-2.253-0.104-3.363-0.104c-0.693,0-1.421-0.451-1.421-1.144c0-0.52,0.243-1.248,0.555-1.525\
    c0.589-0.555,2.08-0.659,3.501-0.659c1.04,0,2.08,0.069,2.669,0.069c1.179,0,1.907,1.005,2.011,2.219\
    c0.139,1.075,0.208,1.629,0.208,2.773c0,5.166-1.56,7.592-6.622,7.592c-5.339,0-7.592-6.691-7.592-11.96\
    c0-6.518,2.357-12.966,8.632-12.966c3.571,0,5.062,1.837,5.062,5.062c0,0.416,0.035,0.901,0.035,1.352\
    c0,0.728-0.104,1.387-0.763,1.491c-0.381,0.069-0.763,0.104-1.144,0.104c-1.352,0-1.525-1.352-1.595-2.496\
    c-0.104-1.595-0.659-2.149-1.387-2.149c-1.248,0-2.981,1.837-3.605,3.189c-1.005,2.184-1.491,3.883-1.491,6.864\
    c0,1.872,0.243,3.363,1.109,4.819c0.381,0.659,0.728,1.317,1.213,1.907c0.555,0.693,1.04,1.421,2.045,1.421\
    C69.891,50.42,69.925,46.711,69.925,44.874z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M76.964,51.391c0-3.189,0.208-5.963,0.208-9.048v-1.941\
    c-0.069-2.149-0.139-4.75-0.139-6.83v-1.491c0-2.877,0.728-3.363,3.536-3.363c1.317,0,2.739,0.277,3.189,0.416\
    c0.416,0.139,0.832,0.277,1.179,0.485c1.56,0.867,2.115,2.808,2.357,4.819c0.104,0.832,0.173,1.803,0.173,2.808\
    c0,3.051-0.693,6.448-3.293,6.448c-0.312,0-0.416,0.104-0.416,0.277c0,0.139,0.069,0.277,0.173,0.416\
    c1.491,2.045,3.328,4.542,4.299,6.622c0.173,0.347,0.243,0.624,0.243,0.971c0,0.936-0.589,1.768-1.317,1.768\
    c-2.08,0-3.12-2.6-3.848-4.021c-0.901-1.768-1.213-2.912-2.115-4.68c-0.069-0.139-0.208-0.277-0.347-0.277\
    c-0.243,0-0.277,0.52-0.277,1.075c0,0.485,0.035,1.005,0.035,1.248c0.035,1.04,0.243,3.363,0.243,4.68\
    c0,1.491-0.901,1.768-2.149,1.768C77.241,53.541,76.964,52.604,76.964,51.391z M80.951,32.982\
    c-0.035,0.936-0.069,1.872-0.069,2.843c0,1.421,0.069,2.981,0.104,4.368c0.035,0.277,0.104,0.555,0.347,0.555h0.035\
    c2.392-0.277,2.981-1.387,2.981-3.744c0-2.496-0.139-5.2-2.739-5.2C81.02,31.804,80.985,32.358,80.951,32.982z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M91.248,43.452v-6.448c0-1.56,0.035-3.293,0.139-5.2v-0.971\
    c0-1.213,0.139-2.011,1.248-2.011c1.976,0,1.491,0.035,3.571,0.035h0.485c1.525,0,3.397,0.069,3.397,1.525\
    c0,1.664-0.901,1.699-2.323,1.699h-0.139h-1.56c-0.589,0-0.936,0-0.936,0.624v0.347c0,1.491-0.035,3.016-0.035,4.438\
    c0,0.659,0,0.659-0.035,0.659v0.416c0.035,0.555,0.624,0.624,1.213,0.624c0.451,0,0.485,0,0.485,0.035h0.277\
    c0.971,0,1.907,0.035,1.907,1.768v0.277c-0.069,1.005-0.936,1.144-1.941,1.144c-0.451,0-1.525-0.035-1.941-0.035\
    c-0.173,0-0.243,3.016-0.243,3.848c0,0.901,0.069,2.011,0.069,2.253c0,0.589,0.104,1.109,0.659,1.109h0.035\
    c1.56,0,1.387-0.035,2.947-0.035c1.109,0,1.664,0.485,1.664,1.803c0,0.104-0.035,0.243-0.035,0.347\
    c-0.069,1.352-0.728,1.595-1.803,1.595c-0.693,0-1.595-0.104-2.635-0.104c-1.04,0-2.045-0.035-2.773-0.035H92.91\
    c-1.525,0-1.803-0.451-1.803-1.421C91.109,49.103,91.248,46.122,91.248,43.452z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M106.261,46.919c0,0.555,0.035,0.763,0.035,1.733\
    c0,1.456,0.659,2.011,1.837,2.011c1.872,0,1.976-1.907,1.976-3.536c0-6.899-5.27-3.605-7.072-8.944\
    c-0.173-0.555-0.243-1.179-0.243-1.803c0-3.432,1.421-7.662,5.547-7.662s5.374,1.699,5.374,5.79c0,1.109-1.075,1.317-1.699,1.317\
    c-2.323,0-0.936-3.605-3.432-3.605c-1.907,0-2.323,2.843-2.323,4.16c0,1.109,0.624,1.837,1.387,2.219\
    c3.432,1.733,6.31,3.536,6.31,8.702c0,3.363-1.768,6.691-5.859,6.691c-3.432,0-5.408-2.635-5.408-6.24\
    c0-2.184,0.416-2.981,1.941-2.981C105.983,44.77,106.261,46.087,106.261,46.919z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M127.305,53.645c-1.387,0-1.907-1.005-2.115-2.219\
    c-0.208-1.179-0.381-1.872-0.555-3.051c-0.035-0.312-0.347-0.555-0.624-0.555h-0.035c-0.347,0.035-0.728,0.069-1.144,0.069\
    c-0.52,0-1.075-0.035-1.56-0.035c-0.277,0-0.555,0-0.797,0.035c-0.416,0.069-0.624,0.451-0.624,0.901\
    c-0.139,2.253-0.485,4.819-2.496,4.819c-1.317,0-1.629-0.589-1.629-1.421c0-0.347,0.035-0.728,0.104-1.144\
    c1.213-7.211,2.912-13.486,5.027-20.038c0.243-0.728,0.52-1.387,0.936-2.045c0.139-0.208,0.728-0.693,1.421-0.693\
    c1.56,0,2.011,2.323,2.288,3.675c1.144,5.928,2.045,12.515,3.259,18.478c0.139,0.624,0.277,1.005,0.277,1.733\
    S127.929,53.645,127.305,53.645z M124.22,43.799v-0.104c-0.347-2.912-0.763-6.275-1.352-9.152\
    c-0.035-0.139-0.035-0.277-0.208-0.277h-0.035c-0.208,0-0.139,0.139-0.173,0.277c-0.728,3.328-1.421,5.963-1.976,9.464v0.104\
    c0,0.208,0.069,0.347,0.277,0.347c0.693,0,2.323-0.104,3.12-0.243C124.081,44.18,124.22,44.007,124.22,43.799z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M141.174,48.098c-0.069-0.971-0.069-1.941-0.069-2.912\
    c0-3.605,0.243-7.072,0.347-10.747c0.035-1.317,0.173-3.051,0.312-4.368c0.104-0.936,1.005-1.213,2.045-1.283h0.832\
    c0.936,0,1.803,0.069,2.704,0.243c3.259,0.693,4.715,3.363,5.304,6.864c0.104,0.763,0.173,3.224,0.173,3.883\
    c0,6.864-2.739,13.971-9.326,13.971c-0.312,0-0.659-0.035-1.005-0.035c-0.763,0-1.109-0.832-1.144-1.595\
    c-0.035-1.248-0.139-2.461-0.173-3.709V48.098L141.174,48.098z M145.889,49.519c1.872,0,3.987-6.656,3.987-10.262\
    c0-3.64-0.139-7.142-3.987-7.28h-0.035c-0.451,0-0.485,0.381-0.485,0.797v0.312v0.208c0,1.04-0.035,1.421-0.035,2.427\
    c0,0.52,0,1.005,0.035,1.525c0.104,2.808,0.104,3.917,0.208,7.072v0.243v1.213v2.045c0,0.451,0,0.901,0.035,1.387\
    C145.612,49.346,145.681,49.519,145.889,49.519z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M156.083,43.452v-6.448c0-1.56,0.035-3.293,0.139-5.2v-0.971\
    c0-1.213,0.139-2.011,1.248-2.011c1.976,0,1.491,0.035,3.571,0.035h0.485c1.525,0,3.397,0.069,3.397,1.525\
    c0,1.664-0.901,1.699-2.323,1.699h-0.139h-1.56c-0.589,0-0.936,0-0.936,0.624v0.347c0,1.491-0.035,3.016-0.035,4.438\
    c0,0.659,0,0.659-0.035,0.659v0.416c0.035,0.555,0.624,0.624,1.213,0.624c0.451,0,0.485,0,0.485,0.035h0.277\
    c0.971,0,1.907,0.035,1.907,1.768v0.277c-0.069,1.005-0.936,1.144-1.941,1.144c-0.451,0-1.525-0.035-1.941-0.035\
    c-0.173,0-0.243,3.016-0.243,3.848c0,0.901,0.069,2.011,0.069,2.253c0,0.589,0.104,1.109,0.659,1.109h0.035\
    c1.56,0,1.387-0.035,2.947-0.035c1.109,0,1.664,0.485,1.664,1.803c0,0.104-0.035,0.243-0.035,0.347\
    c-0.069,1.352-0.728,1.595-1.803,1.595c-0.693,0-1.595-0.104-2.635-0.104c-1.04,0-2.045-0.035-2.773-0.035h-0.035\
    c-1.525,0-1.803-0.451-1.803-1.421C155.944,49.103,156.083,46.122,156.083,43.452z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M171.096,46.919c0,0.555,0.035,0.763,0.035,1.733\
    c0,1.456,0.659,2.011,1.837,2.011c1.872,0,1.976-1.907,1.976-3.536c0-6.899-5.27-3.605-7.072-8.944\
    c-0.173-0.555-0.243-1.179-0.243-1.803c0-3.432,1.421-7.662,5.547-7.662s5.374,1.699,5.374,5.79c0,1.109-1.075,1.317-1.699,1.317\
    c-2.323,0-0.936-3.605-3.432-3.605c-1.907,0-2.323,2.843-2.323,4.16c0,1.109,0.624,1.837,1.387,2.219\
    c3.432,1.733,6.31,3.536,6.31,8.702c0,3.363-1.768,6.691-5.859,6.691c-3.432,0-5.408-2.635-5.408-6.24\
    c0-2.184,0.416-2.981,1.941-2.981C170.818,44.77,171.096,46.087,171.096,46.919z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M181.982,48.098c-0.069-0.971-0.069-1.941-0.069-2.912\
    c0-3.605,0.243-7.072,0.347-10.747c0.035-1.317,0.173-3.051,0.312-4.368c0.104-0.936,1.005-1.213,2.045-1.283h0.832\
    c0.936,0,1.803,0.069,2.704,0.243c3.259,0.693,4.715,3.363,5.304,6.864c0.104,0.763,0.173,3.224,0.173,3.883\
    c0,6.864-2.739,13.971-9.326,13.971c-0.312,0-0.659-0.035-1.005-0.035c-0.763,0-1.109-0.832-1.144-1.595\
    c-0.035-1.248-0.139-2.461-0.173-3.709V48.098L181.982,48.098z M186.697,49.519c1.872,0,3.987-6.656,3.987-10.262\
    c0-3.64-0.139-7.142-3.987-7.28h-0.035c-0.451,0-0.485,0.381-0.485,0.797v0.312v0.208c0,1.04-0.035,1.421-0.035,2.427\
    c0,0.52,0,1.005,0.035,1.525c0.104,2.808,0.104,3.917,0.208,7.072v0.243v1.213v2.045c0,0.451,0,0.901,0.035,1.387\
    C186.419,49.346,186.489,49.519,186.697,49.519z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M196.891,43.452v-6.448c0-1.56,0.035-3.293,0.139-5.2v-0.971\
    c0-1.213,0.139-2.011,1.248-2.011c1.976,0,1.491,0.035,3.571,0.035h0.485c1.525,0,3.397,0.069,3.397,1.525\
    c0,1.664-0.901,1.699-2.323,1.699h-0.139h-1.56c-0.589,0-0.936,0-0.936,0.624v0.347c0,1.491-0.035,3.016-0.035,4.438\
    c0,0.659,0,0.659-0.035,0.659v0.416c0.035,0.555,0.624,0.624,1.213,0.624c0.451,0,0.485,0,0.485,0.035h0.277\
    c0.971,0,1.907,0.035,1.907,1.768v0.277c-0.069,1.005-0.936,1.144-1.941,1.144c-0.451,0-1.525-0.035-1.941-0.035\
    c-0.173,0-0.243,3.016-0.243,3.848c0,0.901,0.069,2.011,0.069,2.253c0,0.589,0.104,1.109,0.659,1.109h0.035\
    c1.56,0,1.387-0.035,2.947-0.035c1.109,0,1.664,0.485,1.664,1.803c0,0.104-0.035,0.243-0.035,0.347\
    c-0.069,1.352-0.728,1.595-1.803,1.595c-0.693,0-1.595-0.104-2.635-0.104s-2.045-0.035-2.773-0.035h-0.035\
    c-1.525,0-1.803-0.451-1.803-1.421C196.752,49.103,196.891,46.122,196.891,43.452z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M221.992,35.479v-2.184c0-0.416,0-0.624-0.312-0.624h-0.069\
    c-0.52,0.035-0.797,0.035-1.075,0.035H219.6c-1.248-0.069-1.456-1.179-1.456-1.976c0-0.901,0.659-1.733,1.699-1.768\
    c3.501-0.069,3.432-0.312,6.795-0.312c2.011,0,2.877,0.728,2.877,1.733v0.069c0,1.352-0.035,2.184-2.357,2.288\
    c-0.693,0.035-0.312,0.035-1.075,0.069c-0.555,0.035-0.624,0.104-0.624,0.659v0.069c0,3.432,0.104,6.656,0.104,9.915\
    c0,1.179-0.035,2.288-0.035,3.397c0,0.693,0.035,1.525,0.035,2.357c0,0.416,0,0.832-0.035,1.248\
    c-0.139,2.115,0.312,3.259-1.803,3.259c-1.352,0-1.491-1.664-1.491-3.189v-1.248v-1.352\
    C222.235,43.625,221.992,39.743,221.992,35.479z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M244.701,32.809c0,2.877,0.104,4.923,0.104,8.32\
    c0,3.328-0.347,6.587-1.317,8.979c-1.075,2.6-3.189,3.536-4.923,3.536c-6.622,0-6.622-10.608-6.622-17.126v-0.035\
    c0-0.451-0.035-1.144-0.035-1.907c0-2.392,0.208-5.616,1.976-5.616c0.832,0,0.936,3.259,0.936,5.963\
    c0,0.971-0.035,0.624-0.035,1.283c0,0.347,0,0.624,0.035,0.797c0.277,3.536-0.451,13.729,3.051,13.729\
    c2.288-0.243,2.739-8.806,2.739-11.44v-1.179c0-1.283-0.139-3.051-0.139-4.576c0-2.635,0.277-4.819,2.6-4.819\
    c1.491,0,1.629,0.867,1.629,2.427L244.701,32.809L244.701,32.809z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M261.552,38.391c0,0.173,0.033,0.312,0.033,0.451\
    c0,1.213,0.104,1.629,0.104,2.669c0,1.248,0.067,1.837,0.067,3.987v4.056c0,2.565-0.312,4.091-2.079,4.091\
    c-0.14,0-0.277,0-0.416-0.035c-0.972-0.173-1.179-2.011-1.179-4.021c0-5.304,0.207-9.707,0.207-14.942\
    c0-1.803,0.07-5.547,1.457-6.032c0.104-0.035,0.174-0.035,0.277-0.035c0.277,0,0.59,0.104,0.936,0.312\
    c1.664,1.005,2.531,4.056,3.154,5.859c0.243,0.728,0.383,1.491,0.59,2.219c0.104,0.451,1.317,5.512,1.525,5.512\
    c0.312,0,4.576-10.643,4.957-11.718c0.209-0.555,1.18-1.56,1.63-1.872c0.208-0.139,0.45-0.208,0.728-0.208\
    c1.457,0,1.941,2.045,2.08,4.75c0.07,1.629,0.104,2.843,0.104,3.883v1.56c0,3.432,0.243,7.072,0.243,10.539v1.144\
    c0,1.629-0.139,2.947-1.596,2.947c-0.937,0-1.906-0.243-2.219-1.283c-0.556-1.907-0.658-3.883-0.658-6.24v-0.035\
    c0-2.011,0.068-4.056,0.068-5.998c0-0.867,0-0.243-0.068-1.075c0-0.104-0.035-0.173-0.174-0.173\
    c-0.556,0-3.812,12.723-4.889,12.966h-0.139c-0.174,0-0.348-0.069-0.45-0.139c-2.394-1.837-3.086-9.776-3.744-13.035\
    c-0.035-0.173-0.104-0.52-0.312-0.52h-0.035C261.585,38.009,261.552,38.183,261.552,38.391z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M284.988,28.857c4.924,0,5.859,8.598,5.859,14.214\
    c0,5.547-1.768,10.504-6.311,10.504c-3.951,0-5.513-4.611-5.513-12.203C279.025,37.143,280.343,28.857,284.988,28.857z\
    M287.171,42.932v-0.624c0-3.779-0.068-9.88-2.185-9.88c-1.524,0-2.53,4.507-2.53,8.979c0,4.472,0.59,8.944,1.977,8.944\
    C285.958,50.351,287.171,47.82,287.171,42.932z M284.988,28.164c-0.277,0-0.449-0.173-0.449-0.451v-0.139\
    c0.276-1.595,2.635-4.264,3.951-4.923c0.416-0.173,0.867-0.347,1.248-0.347c0.52,0,0.867,0.416,0.867,0.971\
    C290.605,25.217,286.548,28.164,284.988,28.164z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M305.894,29.862c0,2.392-0.381,4.403-0.797,6.726\
    c-0.381,2.115-2.844,17.334-5.166,17.334c-2.946,0-4.16-6.067-4.957-9.222c-0.484-1.803-1.838-7.87-1.838-11.856\
    c0-2.392,0.486-4.056,1.977-4.056c0.069,0,0.174,0.035,0.277,0.035c1.213,0.173,1.664,8.494,2.947,13.694\
    c0.346,1.421,0.936,3.64,1.213,3.64c0.555-0.139,2.115-8.875,2.427-10.539c0.521-2.808,0.866-6.76,2.912-6.76\
    C305.375,28.857,305.894,29.342,305.894,29.862z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M309.953,53.263c-1.248-0.659-1.561-2.496-1.561-4.646\
    c0-2.565,0.277-5.79,0.277-8.39c0-2.392,0.104-5.963,1.455-5.963c2.149,0,2.254,2.704,2.254,5.686\
    c0,3.813-0.068,7.211-0.068,10.608c0,1.629,0,2.808-1.77,2.808h-0.242C310.195,53.367,310.056,53.333,309.953,53.263z\
    M310.819,33.364c-1.04,0-2.253-1.005-2.253-2.843c0-1.664,0.693-2.496,1.525-2.496c0.312,0,0.658,0.139,1.005,0.381\
    c0.866,0.659,1.353,1.803,1.353,2.981C312.449,32.74,311.685,33.364,310.819,33.364z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M318.341,28.857c1.283,0,1.457,3.848,1.457,6.899\
    c0,1.387-0.035,2.6-0.035,3.224c0,2.877-0.139,6.275-0.139,9.291c0,0.277,0.209,0.659,0.485,0.659c0.692,0,0.45-0.035,1.108-0.035\
    c1.214,0,2.843,0.035,3.744,0.555c0.729,0.416,0.937,0.763,0.937,1.525c0,1.56-1.04,2.496-2.81,2.496h-0.762\
    c-1.248,0-1.49,0.139-2.67,0.139c-2.08,0-3.744-0.451-3.883-3.051c-0.035-0.728-0.068-1.525-0.068-2.253v-3.051\
    c0-2.461,0.139-4.75,0.139-7.246c0-0.832-0.034-1.768-0.034-2.704C315.812,32.289,316.054,28.857,318.341,28.857z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M349.789,53.645c-1.387,0-1.906-1.005-2.115-2.219\
    c-0.207-1.179-0.381-1.872-0.555-3.051c-0.035-0.312-0.347-0.555-0.623-0.555h-0.035c-0.348,0.035-0.729,0.069-1.145,0.069\
    c-0.52,0-1.074-0.035-1.561-0.035c-0.277,0-0.555,0-0.797,0.035c-0.416,0.069-0.625,0.451-0.625,0.901\
    c-0.139,2.253-0.484,4.819-2.496,4.819c-1.316,0-1.629-0.589-1.629-1.421c0-0.347,0.035-0.728,0.104-1.144\
    c1.214-7.211,2.912-13.486,5.025-20.038c0.244-0.728,0.521-1.387,0.938-2.045c0.139-0.208,0.729-0.693,1.422-0.693\
    c1.561,0,2.012,2.323,2.288,3.675c1.144,5.928,2.046,12.515,3.259,18.478c0.139,0.624,0.276,1.005,0.276,1.733\
    S350.412,53.645,349.789,53.645z M346.703,43.799v-0.104c-0.347-2.912-0.763-6.275-1.352-9.152\
    c-0.035-0.139-0.035-0.277-0.209-0.277h-0.034c-0.208,0-0.14,0.139-0.173,0.277c-0.729,3.328-1.422,5.963-1.977,9.464v0.104\
    c0,0.208,0.068,0.347,0.276,0.347c0.693,0,2.322-0.104,3.12-0.243C346.564,44.18,346.703,44.007,346.703,43.799z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M363.761,43.452v-6.448c0-1.56,0.035-3.293,0.139-5.2v-0.971\
    c0-1.213,0.139-2.011,1.248-2.011c1.977,0,1.491,0.035,3.57,0.035h0.486c1.524,0,3.396,0.069,3.396,1.525\
    c0,1.664-0.9,1.699-2.323,1.699h-0.139h-1.56c-0.59,0-0.938,0-0.938,0.624v0.347c0,1.491-0.034,3.016-0.034,4.438\
    c0,0.659,0,0.659-0.034,0.659v0.416c0.034,0.555,0.623,0.624,1.213,0.624c0.451,0,0.485,0,0.485,0.035h0.276\
    c0.972,0,1.908,0.035,1.908,1.768v0.277c-0.07,1.005-0.938,1.144-1.941,1.144c-0.451,0-1.525-0.035-1.941-0.035\
    c-0.174,0-0.242,3.016-0.242,3.848c0,0.901,0.068,2.011,0.068,2.253c0,0.589,0.104,1.109,0.658,1.109h0.035\
    c1.561,0,1.387-0.035,2.947-0.035c1.108,0,1.664,0.485,1.664,1.803c0,0.104-0.035,0.243-0.035,0.347\
    c-0.069,1.352-0.729,1.595-1.804,1.595c-0.692,0-1.595-0.104-2.635-0.104s-2.045-0.035-2.772-0.035h-0.035\
    c-1.525,0-1.803-0.451-1.803-1.421C363.623,49.103,363.761,46.122,363.761,43.452z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M378.773,46.919c0,0.555,0.035,0.763,0.035,1.733\
    c0,1.456,0.658,2.011,1.838,2.011c1.871,0,1.977-1.907,1.977-3.536c0-6.899-5.271-3.605-7.072-8.944\
    c-0.174-0.555-0.243-1.179-0.243-1.803c0-3.432,1.422-7.662,5.547-7.662c4.126,0,5.374,1.699,5.374,5.79\
    c0,1.109-1.075,1.317-1.697,1.317c-2.324,0-0.938-3.605-3.434-3.605c-1.907,0-2.323,2.843-2.323,4.16\
    c0,1.109,0.625,1.837,1.388,2.219c3.433,1.733,6.311,3.536,6.311,8.702c0,3.363-1.77,6.691-5.859,6.691\
    c-3.432,0-5.408-2.635-5.408-6.24c0-2.184,0.416-2.981,1.941-2.981C378.496,44.77,378.773,46.087,378.773,46.919z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M392.226,35.479v-2.184c0-0.416,0-0.624-0.312-0.624h-0.068\
    c-0.52,0.035-0.797,0.035-1.074,0.035h-0.938c-1.248-0.069-1.455-1.179-1.455-1.976c0-0.901,0.658-1.733,1.699-1.768\
    c3.5-0.069,3.432-0.312,6.795-0.312c2.01,0,2.877,0.728,2.877,1.733v0.069c0,1.352-0.035,2.184-2.357,2.288\
    c-0.693,0.035-0.312,0.035-1.074,0.069c-0.555,0.035-0.625,0.104-0.625,0.659v0.069c0,3.432,0.104,6.656,0.104,9.915\
    c0,1.179-0.033,2.288-0.033,3.397c0,0.693,0.033,1.525,0.033,2.357c0,0.416,0,0.832-0.033,1.248\
    c-0.139,2.115,0.312,3.259-1.803,3.259c-1.354,0-1.491-1.664-1.491-3.189v-1.248v-1.352\
    C392.468,43.625,392.226,39.743,392.226,35.479z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M402.558,43.452v-6.448c0-1.56,0.035-3.293,0.139-5.2v-0.971\
    c0-1.213,0.139-2.011,1.248-2.011c1.977,0,1.49,0.035,3.57,0.035h0.486c1.525,0,3.396,0.069,3.396,1.525\
    c0,1.664-0.9,1.699-2.322,1.699h-0.141h-1.559c-0.59,0-0.938,0-0.938,0.624v0.347c0,1.491-0.033,3.016-0.033,4.438\
    c0,0.659,0,0.659-0.035,0.659v0.416c0.035,0.555,0.623,0.624,1.213,0.624c0.451,0,0.486,0,0.486,0.035h0.275\
    c0.973,0,1.908,0.035,1.908,1.768v0.277c-0.07,1.005-0.938,1.144-1.941,1.144c-0.451,0-1.525-0.035-1.941-0.035\
    c-0.174,0-0.242,3.016-0.242,3.848c0,0.901,0.068,2.011,0.068,2.253c0,0.589,0.104,1.109,0.658,1.109h0.035\
    c1.561,0,1.387-0.035,2.947-0.035c1.109,0,1.664,0.485,1.664,1.803c0,0.104-0.035,0.243-0.035,0.347\
    c-0.07,1.352-0.729,1.595-1.803,1.595c-0.693,0-1.596-0.104-2.635-0.104c-1.041,0-2.045-0.035-2.773-0.035h-0.035\
    c-1.525,0-1.803-0.451-1.803-1.421C402.419,49.103,402.558,46.122,402.558,43.452z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M427.208,28.857c1.283,0,1.457,3.848,1.457,6.899\
    c0,1.387-0.035,2.6-0.035,3.224c0,2.877-0.139,6.275-0.139,9.291c0,0.277,0.209,0.659,0.484,0.659c0.693,0,0.451-0.035,1.109-0.035\
    c1.213,0,2.842,0.035,3.744,0.555c0.729,0.416,0.936,0.763,0.936,1.525c0,1.56-1.039,2.496-2.809,2.496h-0.762\
    c-1.248,0-1.49,0.139-2.67,0.139c-2.08,0-3.744-0.451-3.883-3.051c-0.035-0.728-0.068-1.525-0.068-2.253v-3.051\
    c0-2.461,0.139-4.75,0.139-7.246c0-0.832-0.035-1.768-0.035-2.704C424.679,32.289,424.921,28.857,427.208,28.857z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M439.101,53.263c-1.248-0.659-1.561-2.496-1.561-4.646\
    c0-2.565,0.277-5.79,0.277-8.39c0-2.392,0.104-5.963,1.457-5.963c2.148,0,2.254,2.704,2.254,5.686c0,3.813-0.07,7.211-0.07,10.608\
    c0,1.629,0,2.808-1.768,2.808h-0.242C439.343,53.367,439.207,53.333,439.101,53.263z M439.968,33.364\
    c-1.041,0-2.254-1.005-2.254-2.843c0-1.664,0.693-2.496,1.525-2.496c0.311,0,0.658,0.139,1.006,0.381\
    c0.867,0.659,1.352,1.803,1.352,2.981C441.597,32.74,440.835,33.364,439.968,33.364z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M459.417,32.012c0,0.971,0.035,2.08,0.035,2.6\
    c0,4.68-0.105,9.048-0.105,13.694c0,1.733-0.416,4.333-1.871,4.68c-0.277,0.069-0.555,0.208-0.832,0.208\
    c-2.357,0-3.467-4.472-4.125-6.032c-0.658-1.525-1.006-2.877-1.699-4.333s-1.145-3.051-1.941-4.229\
    c-0.068-0.069-0.174-0.451-0.311-0.451c-0.277,0-0.312,0.936-0.312,2.045c0,4.195,0.277,5.859,0.277,9.464\
    c0,2.184-0.035,3.848-1.941,3.848c-0.139,0-0.312,0-0.486-0.035c-1.178-0.139-1.281-1.664-1.281-3.432v-1.317\
    c0-1.04,0.035-2.08,0.035-2.773c0-0.693,0.033-1.317,0.033-2.011v-2.704c0-3.085,0.035-5.894,0.312-8.771\
    c0.174-1.595,0.348-2.843,1.908-3.016h0.207c2.428,0,5.895,11.336,7.559,14.526c0.068,0.139,0.797,1.629,0.936,1.629\
    c0.068,0,0.104-0.173,0.104-0.381c0-0.277-0.033-0.555-0.033-0.693c0.033-1.248,0.068-2.427,0.068-3.571\
    c0-3.189-0.139-5.998-0.139-8.979c0-2.635,0.416-3.259,1.838-3.259C459.208,28.718,459.417,30.833,459.417,32.012z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M466.734,37.385c0,0.624,0.035,1.491,0.174,1.491\
    c0.242,0,1.941-2.357,2.045-2.496c0.625-0.901,1.213-1.733,1.838-2.635c0.867-1.317,1.906-2.6,2.809-3.883\
    c0.312-0.416,0.938-0.624,1.49-0.624c0.867,0,1.664,0.416,1.664,1.213c0,0.485-0.209,1.144-0.764,1.907\
    c-1.178,1.664-2.393,3.189-3.5,4.819c-0.625,0.901-1.525,1.976-2.115,2.877c-0.139,0.208-0.209,0.347-0.209,0.451\
    c0,0.139,0.104,0.277,0.244,0.52c1.213,1.733,1.629,2.531,2.912,4.229c0.588,0.763,1.143,1.525,1.732,2.288\
    c0.936,1.213,1.838,2.427,1.838,3.432c0,0.589-0.902,2.045-2.879,2.045c-2.322,0-4.541-6.344-5.789-7.939\
    c-0.346-0.451-0.693-0.901-0.971-1.387c-0.207,0-0.312,0.104-0.312,0.277c0,2.531,0.068,4.68,0.242,7.072\
    c0.035,0.173,0.035,0.347,0.035,0.485c0,1.976-1.215,2.288-2.047,2.288c-1.178,0-2.08-1.005-2.322-3.12\
    c-0.068-0.763-0.068-1.213-0.068-1.941c0-1.144,0.035-2.323,0.035-3.779c0-4.368,0.104-8.424,0.104-12.758\
    c0-1.976,0.381-3.363,1.77-3.363c2.01,0,2.045,2.045,2.045,4.021v0.243V37.385L466.734,37.385z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M115.049,68.885c0,1.55-0.416,3.062-0.832,4.423\
    c-0.869,2.909-2.041,5.519-2.532,8.467c-0.227,1.359-0.643,2.646-0.793,4.043c-0.114,0.908-0.454,1.776-0.643,2.685\
    c-0.227,1.172-1.587,4.422-2.684,4.422h-0.151c-2.419,0-2.457-3.175-2.759-5.216c-0.151-0.982-0.303-2.268-0.492-3.213\
    c-0.113-0.604-0.265-4.157-0.869-4.157c-0.34,0-0.718,3.704-0.794,4.082c-0.189,0.907-0.264,1.813-0.34,2.722\
    c-0.151,1.664-0.756,6.01-2.343,6.01h-0.114c-0.113,0-0.227,0-0.34-0.037c-2.684-0.832-2.911-4.838-3.364-7.824\
    c-0.492-3.439-1.21-6.917-1.701-10.205c-0.265-1.775-0.832-4.006-0.832-5.781c0-1.324,0.303-2.383,1.248-2.873\
    c0.189-0.113,0.378-0.152,0.567-0.152c1.587,0,2.495,4.764,2.721,6.312c0.302,2.003,0.832,4.876,1.247,7.332\
    c0.038,0.151,0.265,2.154,0.265,2.307c0,0.227,0.151,0.528,0.265,0.528c0.038,0,0.076-0.038,0.076-0.151\
    c0.983-4.687,1.285-8.125,2.873-12.623c0.227-0.604,1.096-1.248,1.587-1.248c1.323,0,1.587,1.625,1.776,2.723\
    c0.604,3.363,0.756,7.823,1.55,10.167c0.038,0.112,0,0.303,0.113,0.303c0.265,0,0.68-1.7,0.718-2.004\
    c0.529-2.153,1.285-5.216,1.814-7.444c0.567-2.381,1.701-6.162,3.666-6.162C114.936,66.313,115.049,67.901,115.049,68.885z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M138.978,68.885c0,1.55-0.416,3.062-0.832,4.423\
    c-0.869,2.909-2.041,5.519-2.532,8.467c-0.227,1.359-0.643,2.646-0.793,4.043c-0.114,0.908-0.454,1.776-0.643,2.685\
    c-0.227,1.172-1.587,4.422-2.684,4.422h-0.151c-2.419,0-2.457-3.175-2.759-5.216c-0.151-0.982-0.303-2.268-0.492-3.213\
    c-0.113-0.604-0.265-4.157-0.869-4.157c-0.34,0-0.718,3.704-0.794,4.082c-0.189,0.907-0.264,1.813-0.34,2.722\
    c-0.151,1.664-0.756,6.01-2.343,6.01h-0.114c-0.113,0-0.227,0-0.34-0.037c-2.684-0.832-2.911-4.838-3.364-7.824\
    c-0.492-3.439-1.21-6.917-1.701-10.205c-0.265-1.775-0.832-4.006-0.832-5.781c0-1.324,0.303-2.383,1.248-2.873\
    c0.189-0.113,0.378-0.152,0.567-0.152c1.587,0,2.495,4.764,2.721,6.312c0.302,2.003,0.832,4.876,1.247,7.332\
    c0.038,0.151,0.265,2.154,0.265,2.307c0,0.227,0.151,0.528,0.265,0.528c0.038,0,0.076-0.038,0.076-0.151\
    c0.983-4.687,1.285-8.125,2.873-12.623c0.227-0.604,1.096-1.248,1.587-1.248c1.323,0,1.587,1.625,1.776,2.723\
    c0.604,3.363,0.756,7.823,1.55,10.167c0.038,0.112,0,0.303,0.113,0.303c0.265,0,0.68-1.7,0.718-2.004\
    c0.529-2.153,1.285-5.216,1.814-7.444c0.567-2.381,1.701-6.162,3.666-6.162C138.865,66.313,138.978,67.901,138.978,68.885z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M162.907,68.885c0,1.55-0.416,3.062-0.832,4.423\
    c-0.869,2.909-2.041,5.519-2.532,8.467c-0.227,1.359-0.643,2.646-0.793,4.043c-0.114,0.908-0.454,1.776-0.643,2.685\
    c-0.227,1.172-1.587,4.422-2.684,4.422h-0.151c-2.419,0-2.457-3.175-2.759-5.216c-0.151-0.982-0.303-2.268-0.492-3.213\
    c-0.113-0.604-0.265-4.157-0.869-4.157c-0.34,0-0.718,3.704-0.794,4.082c-0.189,0.907-0.264,1.813-0.34,2.722\
    c-0.151,1.664-0.756,6.01-2.343,6.01h-0.114c-0.113,0-0.227,0-0.34-0.037c-2.684-0.832-2.911-4.838-3.364-7.824\
    c-0.492-3.439-1.21-6.917-1.701-10.205c-0.265-1.775-0.832-4.006-0.832-5.781c0-1.324,0.303-2.383,1.248-2.873\
    c0.189-0.113,0.378-0.152,0.567-0.152c1.587,0,2.495,4.764,2.721,6.312c0.302,2.003,0.832,4.876,1.247,7.332\
    c0.038,0.151,0.265,2.154,0.265,2.307c0,0.227,0.151,0.528,0.265,0.528c0.038,0,0.076-0.038,0.076-0.151\
    c0.983-4.687,1.285-8.125,2.873-12.623c0.227-0.604,1.096-1.248,1.587-1.248c1.323,0,1.587,1.625,1.776,2.723\
    c0.604,3.363,0.756,7.823,1.55,10.167c0.038,0.112,0,0.303,0.113,0.303c0.265,0,0.68-1.7,0.718-2.004\
    c0.529-2.153,1.285-5.216,1.814-7.444c0.567-2.381,1.701-6.162,3.666-6.162C162.793,66.313,162.907,67.901,162.907,68.885z')
    path(fill='#544F50', d='M164.875,87.707c0.227,0,0.454,0,0.718,0.076c1.247,0.302,1.965,1.625,1.965,2.872\
    c0,1.246-0.718,2.419-2.381,2.419c-1.36,0-2.268-1.776-2.268-3.138v-0.15C163.023,88.539,163.742,87.707,164.875,87.707z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M174.742,90.466c0,2.57-0.492,2.608-1.512,2.608\
    c-0.982,0-1.89-0.304-1.89-3.704c0-2.154-0.113-3.704-0.113-6.01c0-2.229,0.076-4.422,0.076-6.651c0-3.438-0.189-6.842-0.189-8.392\
    c0-0.075,0.038-0.15,0.038-0.228c0.189-0.831,0.756-1.36,1.663-1.512c0.869-0.151,1.171-0.265,2.003-0.265\
    c5.103,0,8.202,2.117,8.202,7.144c0,4.726-3.553,7.711-7.749,8.542c-0.567,0.113-0.718,0.266-0.718,0.756v0.189\
    C174.628,84.569,174.742,88.954,174.742,90.466z M174.477,77.313v0.49c0.038,0.379,0.113,0.529,0.34,0.529\
    c0.114,0,0.227-0.038,0.378-0.113c1.398-0.604,3.893-2.117,3.893-4.763c0-1.397-1.171-3.138-2.57-3.478\
    c-0.34-0.076-0.681-0.15-0.983-0.15c-0.454,0-0.832,0.15-0.832,0.68C174.704,73.912,174.477,74.024,174.477,77.313z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M188.955,66.429c1.398,0,1.587,4.194,1.587,7.521\
    c0,1.512-0.038,2.835-0.038,3.516c0,3.138-0.151,6.841-0.151,10.129c0,0.304,0.227,0.718,0.529,0.718\
    c0.756,0,0.491-0.037,1.209-0.037c1.323,0,3.099,0.037,4.082,0.604c0.793,0.453,1.021,0.831,1.021,1.663\
    c0,1.701-1.134,2.723-3.062,2.723H193.3c-1.361,0-1.625,0.149-2.911,0.149c-2.268,0-4.082-0.491-4.233-3.326\
    c-0.038-0.793-0.076-1.662-0.076-2.456v-3.326c0-2.684,0.151-5.178,0.151-7.898c0-0.907-0.038-1.928-0.038-2.948\
    C186.196,70.17,186.46,66.429,188.955,66.429z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M212.278,93.452c-1.512,0-2.079-1.096-2.306-2.419\
    c-0.227-1.285-0.416-2.041-0.604-3.326c-0.038-0.34-0.378-0.604-0.68-0.604h-0.038c-0.378,0.039-0.793,0.076-1.247,0.076\
    c-0.567,0-1.172-0.037-1.701-0.037c-0.302,0-0.604,0-0.869,0.037c-0.454,0.075-0.68,0.49-0.68,0.982\
    c-0.151,2.456-0.529,5.253-2.721,5.253c-1.437,0-1.777-0.644-1.777-1.55c0-0.379,0.038-0.793,0.114-1.247\
    c1.323-7.861,3.175-14.702,5.48-21.847c0.264-0.793,0.567-1.512,1.021-2.229c0.151-0.228,0.793-0.756,1.549-0.756\
    c1.701,0,2.192,2.532,2.495,4.007c1.247,6.463,2.23,13.645,3.553,20.146c0.151,0.68,0.302,1.096,0.302,1.89\
    S212.958,93.452,212.278,93.452z M208.914,82.718v-0.113c-0.378-3.174-0.832-6.84-1.474-9.978\
    c-0.038-0.151-0.038-0.303-0.227-0.303h-0.038c-0.227,0-0.151,0.151-0.189,0.303c-0.793,3.628-1.549,6.501-2.154,10.317v0.113\
    c0,0.228,0.076,0.379,0.302,0.379c0.756,0,2.533-0.113,3.402-0.266C208.763,83.134,208.914,82.944,208.914,82.718z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M232.237,69.867c0,1.059,0.038,2.268,0.038,2.835\
    c0,5.104-0.113,9.865-0.113,14.93c0,1.891-0.454,4.725-2.041,5.104c-0.302,0.074-0.604,0.227-0.907,0.227\
    c-2.57,0-3.779-4.876-4.498-6.576c-0.718-1.662-1.096-3.138-1.852-4.725c-0.756-1.588-1.247-3.326-2.117-4.611\
    c-0.075-0.076-0.189-0.49-0.34-0.49c-0.303,0-0.34,1.021-0.34,2.229c0,4.572,0.302,6.388,0.302,10.318\
    c0,2.381-0.038,4.194-2.116,4.194c-0.151,0-0.34,0-0.529-0.036c-1.285-0.152-1.398-1.814-1.398-3.742v-1.438\
    c0-1.134,0.038-2.268,0.038-3.023c0-0.754,0.038-1.437,0.038-2.191v-2.948c0-3.362,0.038-6.425,0.34-9.562\
    c0.189-1.738,0.378-3.1,2.079-3.289h0.227c2.646,0,6.425,12.359,8.24,15.838c0.075,0.15,0.869,1.775,1.021,1.775\
    c0.075,0,0.113-0.188,0.113-0.416c0-0.302-0.038-0.604-0.038-0.756c0.038-1.359,0.076-2.646,0.076-3.893\
    c0-3.479-0.151-6.539-0.151-9.789c0-2.873,0.453-3.555,2.003-3.555C232.01,66.276,232.237,68.582,232.237,69.867z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M239.497,90.466c0,2.57-0.492,2.608-1.512,2.608\
    c-0.982,0-1.89-0.304-1.89-3.704c0-2.154-0.113-3.704-0.113-6.01c0-2.229,0.076-4.422,0.076-6.651c0-3.438-0.189-6.842-0.189-8.392\
    c0-0.075,0.038-0.15,0.038-0.228c0.189-0.831,0.756-1.36,1.663-1.512c0.869-0.151,1.171-0.265,2.003-0.265\
    c5.103,0,8.202,2.117,8.202,7.144c0,4.726-3.553,7.711-7.749,8.542c-0.567,0.113-0.718,0.266-0.718,0.756v0.189\
    C239.383,84.569,239.497,88.954,239.497,90.466z M239.232,77.313v0.49c0.038,0.379,0.113,0.529,0.34,0.529\
    c0.114,0,0.227-0.038,0.378-0.113c1.399-0.604,3.893-2.117,3.893-4.763c0-1.397-1.171-3.138-2.57-3.478\
    c-0.34-0.076-0.681-0.15-0.983-0.15c-0.454,0-0.832,0.15-0.832,0.68C239.459,73.912,239.232,74.024,239.232,77.313z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M251.972,93.036c-1.361-0.719-1.701-2.721-1.701-5.064\
    c0-2.797,0.302-6.312,0.302-9.146c0-2.608,0.113-6.501,1.587-6.501c2.343,0,2.457,2.947,2.457,6.197\
    c0,4.158-0.076,7.862-0.076,11.565c0,1.776,0,3.062-1.927,3.062h-0.265C252.237,93.149,252.085,93.112,251.972,93.036z\
    M252.917,71.342c-1.134,0-2.457-1.097-2.457-3.1c0-1.813,0.756-2.722,1.663-2.722c0.34,0,0.718,0.15,1.096,0.416\
    c0.945,0.719,1.474,1.965,1.474,3.25C254.693,70.661,253.862,71.342,252.917,71.342z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M274.123,69.867c0,1.059,0.037,2.268,0.037,2.835\
    c0,5.104-0.113,9.865-0.113,14.93c0,1.891-0.453,4.725-2.041,5.104c-0.303,0.074-0.604,0.227-0.906,0.227\
    c-2.57,0-3.779-4.876-4.498-6.576c-0.719-1.662-1.096-3.138-1.852-4.725c-0.756-1.588-1.248-3.326-2.117-4.611\
    c-0.075-0.076-0.188-0.49-0.34-0.49c-0.303,0-0.34,1.021-0.34,2.229c0,4.572,0.301,6.388,0.301,10.318\
    c0,2.381-0.037,4.194-2.115,4.194c-0.151,0-0.34,0-0.528-0.036c-1.284-0.152-1.397-1.814-1.397-3.742v-1.438\
    c0-1.134,0.037-2.268,0.037-3.023c0-0.754,0.037-1.437,0.037-2.191v-2.948c0-3.362,0.039-6.425,0.34-9.562\
    c0.188-1.738,0.379-3.1,2.08-3.289h0.227c2.646,0,6.426,12.359,8.238,15.838c0.076,0.15,0.869,1.775,1.021,1.775\
    c0.076,0,0.113-0.188,0.113-0.416c0-0.302-0.037-0.604-0.037-0.756c0.037-1.359,0.075-2.646,0.075-3.893\
    c0-3.479-0.151-6.539-0.151-9.789c0-2.873,0.454-3.555,2.004-3.555C273.895,66.276,274.123,68.582,274.123,69.867z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M288.903,83.89c0-0.227-0.112-0.34-0.416-0.34h-0.036\
    c-1.398,0-2.457-0.113-3.666-0.113c-0.757,0-1.551-0.49-1.551-1.248c0-0.565,0.266-1.359,0.604-1.662\
    c0.644-0.604,2.269-0.719,3.818-0.719c1.133,0,2.268,0.076,2.909,0.076c1.285,0,2.079,1.096,2.192,2.419\
    c0.15,1.171,0.227,1.776,0.227,3.023c0,5.632-1.699,8.276-7.219,8.276c-5.82,0-8.277-7.295-8.277-13.039\
    c0-7.105,2.57-14.137,9.411-14.137c3.894,0,5.519,2.004,5.519,5.52c0,0.453,0.037,0.981,0.037,1.474\
    c0,0.794-0.113,1.513-0.83,1.626c-0.416,0.075-0.832,0.113-1.248,0.113c-1.475,0-1.662-1.475-1.738-2.723\
    c-0.113-1.737-0.719-2.343-1.512-2.343c-1.36,0-3.25,2.003-3.932,3.478c-1.096,2.381-1.625,4.232-1.625,7.482\
    c0,2.041,0.266,3.668,1.209,5.254c0.416,0.719,0.795,1.438,1.323,2.08c0.604,0.756,1.134,1.549,2.229,1.549\
    C288.867,89.938,288.903,85.894,288.903,83.89z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M310.185,70.735c0,3.139,0.113,5.367,0.113,9.072\
    c0,3.629-0.379,7.182-1.438,9.789c-1.172,2.834-3.479,3.854-5.367,3.854c-7.219,0-7.219-11.565-7.219-18.671v-0.038\
    c0-0.491-0.038-1.247-0.038-2.079c0-2.607,0.228-6.123,2.154-6.123c0.907,0,1.021,3.554,1.021,6.501\
    c0,1.06-0.037,0.681-0.037,1.397c0,0.379,0,0.682,0.037,0.871c0.303,3.854-0.49,14.967,3.326,14.967\
    c2.495-0.266,2.986-9.602,2.986-12.473v-1.283c0-1.398-0.151-3.326-0.151-4.989c0-2.872,0.302-5.255,2.835-5.255\
    c1.625,0,1.776,0.945,1.776,2.646L310.185,70.735L310.185,70.735z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M315.367,93.036c-1.361-0.719-1.701-2.721-1.701-5.064\
    c0-2.797,0.303-6.312,0.303-9.146c0-2.608,0.113-6.501,1.587-6.501c2.344,0,2.457,2.947,2.457,6.197\
    c0,4.158-0.075,7.862-0.075,11.565c0,1.776,0,3.062-1.928,3.062h-0.266C315.63,93.149,315.479,93.112,315.367,93.036z\
    M316.31,71.342c-1.135,0-2.456-1.097-2.456-3.1c0-1.813,0.756-2.722,1.663-2.722c0.34,0,0.718,0.15,1.096,0.416\
    c0.945,0.719,1.475,1.965,1.475,3.25C318.087,70.661,317.255,71.342,316.31,71.342z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M337.515,69.867c0,1.059,0.038,2.268,0.038,2.835\
    c0,5.104-0.113,9.865-0.113,14.93c0,1.891-0.453,4.725-2.041,5.104c-0.303,0.074-0.604,0.227-0.907,0.227\
    c-2.57,0-3.779-4.876-4.498-6.576c-0.718-1.662-1.096-3.138-1.852-4.725c-0.756-1.588-1.247-3.326-2.116-4.611\
    c-0.075-0.076-0.188-0.49-0.341-0.49c-0.303,0-0.34,1.021-0.34,2.229c0,4.572,0.303,6.388,0.303,10.318\
    c0,2.381-0.038,4.194-2.117,4.194c-0.15,0-0.34,0-0.529-0.036c-1.285-0.152-1.397-1.814-1.397-3.742v-1.438\
    c0-1.134,0.038-2.268,0.038-3.023c0-0.754,0.038-1.437,0.038-2.191v-2.948c0-3.362,0.036-6.425,0.34-9.562\
    c0.188-1.738,0.378-3.1,2.079-3.289h0.227c2.646,0,6.426,12.359,8.239,15.838c0.076,0.15,0.869,1.775,1.021,1.775\
    c0.076,0,0.113-0.188,0.113-0.416c0-0.302-0.037-0.604-0.037-0.756c0.037-1.359,0.076-2.646,0.076-3.893\
    c0-3.479-0.152-6.539-0.152-9.789c0-2.873,0.455-3.555,2.004-3.555C337.289,66.276,337.515,68.582,337.515,69.867z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M347.421,66.429c5.365,0,6.387,9.373,6.387,15.496\
    c0,6.047-1.928,11.452-6.879,11.452c-4.309,0-6.01-5.026-6.01-13.306C340.919,75.461,342.356,66.429,347.421,66.429z\
    M349.802,81.772v-0.681c0-4.12-0.076-10.771-2.381-10.771c-1.664,0-2.76,4.912-2.76,9.789c0,4.875,0.643,9.75,2.153,9.75\
    C348.479,89.86,349.802,87.103,349.802,81.772z')
    path(fill='#544F50', d='M359.405,87.707c0.228,0,0.454,0,0.72,0.076c1.246,0.302,1.965,1.625,1.965,2.872\
    c0,1.246-0.719,2.419-2.381,2.419c-1.36,0-2.269-1.776-2.269-3.138v-0.15C357.553,88.539,358.271,87.707,359.405,87.707z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M378.606,72.021c0,1.739-0.831,2.23-2.419,2.27\
    c-0.794,0-1.775-0.266-1.775-1.059c0-1.814-0.945-2.344-1.438-2.344c-3.1,0-3.628,4.913-3.628,9.562\
    c0,3.438,0.227,8.655,2.721,8.655c1.021,0,2.345-0.644,2.345-1.701c0-2.154,1.133-2.532,2.153-2.532c1.36,0,1.929,1.36,1.929,2.835\
    c0,3.629-3.252,5.745-6.427,5.745c-5.366,0-6.767-5.405-6.767-11.718c0-7.066,0.795-15.308,8.015-15.308\
    c2.872,0,5.216,2.495,5.291,5.48V72.021z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M387.68,66.429c5.366,0,6.387,9.373,6.387,15.496\
    c0,6.047-1.928,11.452-6.879,11.452c-4.31,0-6.009-5.026-6.009-13.306C381.179,75.461,382.615,66.429,387.68,66.429z\
    M390.061,81.772v-0.681c0-4.12-0.076-10.771-2.381-10.771c-1.663,0-2.761,4.912-2.761,9.789c0,4.875,0.644,9.75,2.154,9.75\
    C388.738,89.86,390.061,87.103,390.061,81.772z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M401.328,76.821c0,0.188,0.037,0.341,0.037,0.492\
    c0,1.321,0.113,1.775,0.113,2.91c0,1.359,0.076,2.002,0.076,4.346v4.423c0,2.797-0.342,4.46-2.27,4.46c-0.15,0-0.301,0-0.453-0.038\
    c-1.059-0.188-1.285-2.19-1.285-4.384c0-5.783,0.229-10.584,0.229-16.29c0-1.966,0.074-6.048,1.588-6.577\
    c0.111-0.037,0.188-0.037,0.301-0.037c0.303,0,0.643,0.113,1.021,0.34c1.814,1.096,2.76,4.422,3.439,6.389\
    c0.264,0.793,0.416,1.625,0.643,2.418c0.113,0.492,1.438,6.011,1.662,6.011c0.342,0,4.99-11.604,5.406-12.775\
    c0.227-0.604,1.285-1.7,1.775-2.041c0.227-0.151,0.49-0.227,0.795-0.227c1.586,0,2.115,2.229,2.268,5.178\
    c0.074,1.776,0.113,3.101,0.113,4.233v1.699c0,3.742,0.264,7.711,0.264,11.49v1.247c0,1.776-0.15,3.213-1.738,3.213\
    c-1.02,0-2.078-0.265-2.418-1.397c-0.605-2.078-0.719-4.233-0.719-6.803v-0.039c0-2.191,0.076-4.422,0.076-6.539\
    c0-0.943,0-0.265-0.076-1.172c0-0.113-0.039-0.188-0.188-0.188c-0.605,0-4.158,13.871-5.33,14.136h-0.15\
    c-0.189,0-0.379-0.075-0.492-0.151c-2.607-2.002-3.363-10.657-4.082-14.211c-0.037-0.188-0.111-0.566-0.34-0.566h-0.037\
    C401.365,76.406,401.328,76.595,401.328,76.821z')
