svg#hot-air-balloon(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',preserveAspectRatio="none", xml:space='preserve' viewBox="0 0 72.667 105.334")
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M67.397,35.9\
  C67.539,20.874,54.81,10.323,40.805,7.473C26.108,4.479,11.042,11.981,6.467,26.759c-2.968,9.58-3.608,22.419,2.669,30.567\
  c1.143,1.437,2.439,2.731,3.921,3.893c2.985,4.792,4.588,8.4,7.492,13.847c2.516,4.752,4.345,7.244,7.109,11.531\
  c0,0,0.604,3.305,1.061,6.064c0.483,2.98,0.719,6.008,1.545,8.924c0.37,1.32,0.502,2.051,1.812,2.377\
  c1.838,0.451,3.97-0.051,5.808-0.176c1.373-0.096,2.701-0.123,4.092-0.168c2.046-0.082,2.001-1.021,2.466-2.818\
  c0.642-2.484,1.17-5.152,1.688-7.629c0.39-1.76,0.516-6.969,0.516-6.969c1.094-3.074,2.295-5.775,3.623-9.15\
  c2.249-5.682,1.811-6.01,3.419-8.773c1.733-3.008,2.949-5.533,4.466-8.495v-0.019l-0.062,0.23l0.158-0.312\
  C64.71,53.885,67.289,45.701,67.397,35.9 M34.73,9.244c3.014,0.479,5.434,4.905,6.904,7.344c3.136,5.194,4.855,11.941,4.961,18.111\
  c0.049,2.624,0.171,5.244-0.264,7.8c-0.47,2.995-1.295,5.808-1.996,8.749c-0.678,2.836-1.974,5.591-3.062,8.301\
  c-0.469,1.201-1.499,3.062-1.358,4.272l-0.688,0.402c-0.438,0.193-0.799,0.735-1.721,0.735c-0.75,0.032-1.576-0.325-2.187-0.696\
  c-1.342-0.789-2.498-2.709-3.559-3.91c-2.562-2.928-4.105-4.951-4.874-9.168c-0.952-5.23-1.296-10.189-0.718-15.545\
  c0.659-5.907,1.531-11.621,2.999-17.361C29.749,15.956,31.587,8.752,34.73,9.244 M10.636,53.329\
  c-2.579-3.464-2.218-7.881-2.484-12.1c-0.126-2.258,0.452-3.848,0.89-5.953c0.488-2.357,0.736-4.661,1.409-6.991\
  c1.404-4.697,3.45-9.16,6.915-12.529c2.276-2.213,5.713-5.176,9.046-4.543l0.136-0.271c0.406,0.167,0.967-0.009,1.499,0.271\
  c-0.388,1.567-1.734,3.125-2.389,4.679c-1.048,2.448-2.091,4.923-2.548,7.596c-0.687,3.966-0.984,7.994-1.589,11.978\
  c-0.533,3.55-0.723,8.274,0.045,11.828c0.687,3.374,1.843,5.912,3.689,8.658c0.899,1.363,1.576,2.854,2.543,4.154\
  c0.609,0.813,1.906,2.209,1.667,3.297c-1.292,0.361-3.279-0.145-4.558-0.604c-1.607-0.577-3.278-0.983-4.904-1.688\
  C16.271,59.485,13.196,56.767,10.636,53.329 M40.71,99.951c-0.844,0.543-2.39,0.385-3.359,0.528\
  c-1.012,0.142-2.372,0.619-3.279-0.096c-1.477-1.156-1.477-4.795-1.703-6.502c-0.122-1.072-0.682-2.584,0.145-3.438\
  c0.605-0.637,2.154-0.502,2.918-0.517c1.733-0.059,8.012-1.174,7.903-0.165C43.1,91.674,42.477,98.781,40.71,99.951 M52.173,67.765\
  c-2.28,4.397-1.797,5.176-4.123,9.649c-1.156,2.246-1.405,4.869-2.625,7.104c-0.262,0.447-0.563,1.111-0.857,1.722\
  c-2.015,0.034-4.994,0.106-6.652,0.207c-1.906,0.108-5.822-0.054-8.526,0.036c-1.418-2.182-3.261-4.489-4.245-6.666\
  c-2.467-5.379-3.248-6.27-6.125-10.83c-1.327-2.149-1.685-3.668-3.058-5.809c3.907,2.606,7.231,3.428,12.199,4.256l0.014,0.035\
  c0.312,0.018,0.623,0.049,0.903,0.127v-0.033c3.419,0.492,7.321,0.483,10.699,0.136l-0.019,0.05c0.234-0.055,0.451-0.09,0.699-0.09\
  c4.549-0.578,8.812-1.924,12.295-4.016c0,0,1.328-0.682,2.903-1.918C54.31,63.992,53.406,65.419,52.173,67.765 M61.432,42.54\
  c-0.497,2.746-1.468,5.826-2.604,8.346c-4.595,10.217-15.556,12.764-15.695,12.719c0.312-1.252,1.392-1.844,1.97-2.836\
  c0.623-1.058,0.983-2.443,1.481-3.627c0.856-2,1.467-4.051,1.986-6.201c0.555-2.385,1.559-4.376,1.729-6.865\
  c0.394-6.088,1.576-13.088-0.812-18.743c-2.402-5.682-4.322-11.02-8.367-15.292c-1.203-1.269,11.914,4.462,14.52,7.186\
  c2.674,2.823,4.811,5.677,5.637,9.742C62.276,31.971,62.511,36.478,61.432,42.54')
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M71.566,54.345\
  c0.014-1.084,0.533-3.311-0.637-3.975c-0.316,0.063-0.284,0.222-0.348,0.488l0.03-0.266c-0.577,3.441-1.812,6.843-4.015,9.552\
  c-1.057,1.328-2.29,2.643-3.559,3.744c-0.828,0.691-2.123,1.44-2.639,2.303c3.812,2.002,8.07-3.049,9.574-5.885\
  C71.057,58.312,71.535,56.594,71.566,54.345')
  path(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M17.835,1.274\
  c0,0-1.044-0.488-1.721-0.163C8.838,2.449-0.484,12.661,0.952,20.442c2.547-2.927,3.812-7.253,6.671-10.46\
  C10.229,7.051,14.633,3.37,17.835,1.274')
