svg#icon-desktop-synchronize(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='171.583 -78.25 107.5 149.083', xml:space='preserve')
  g
    path(fill='#FFFFFF', d='M202.251,29.41l49.653,0.78v30.156h3.121V28.8c0-0.472-0.218-0.884-0.577-1.247\
    c-0.363-0.36-0.873-0.483-1.345-0.483l-51.306-0.52c-0.473,0-1.487,0.644-1.844,1.003c-0.361,0.363-0.561,0.775-0.561,1.247v31.546\
    h3.12L202.251,29.41z M227.191,27.724c0.421,0,1.294,0.343,1.294,0.771c0,0.426-0.873,0.769-1.294,0.769\
    c-0.426,0-1.55-0.343-1.55-0.769C225.641,28.066,226.765,27.724,227.191,27.724z')
    path(fill='#FFFFFF', d='M193.787,61.462v1.961c0,0.551,0.209,1.104,0.631,1.527c0.424,0.422,1.234,0.371,1.787,0.371l62.23,0.262\
    c0.557,0,1.107-0.211,1.525-0.633c0.428-0.424,0.637-0.978,0.637-1.527v-1.961H193.787z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M193.804,61.537c0,0,24.371,0.26,26.126,0.195\
    c1.754-0.064,16.897-0.456,18.002-0.324c1.104,0.129,11.894-0.132,13.259-0.066c1.365,0.066,5.589-0.26,5.979-0.064\
    c0.391,0.196,3.511,0.064,3.511,0.064s0.651,3.836-1.886,4.096c-2.533,0.262-17.807-0.131-18.326,0\
    c-0.52,0.13-24.112-0.131-26.191,0.064c-2.08,0.195-16.833-0.129-17.613-0.195C195.884,65.242,193.35,65.63,193.804,61.537z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M246.964,32.037l-39.115-0.313\
    c-1.712-0.014-3.113,1.342-3.126,3.027l-0.173,21.623c-0.014,1.688,1.365,3.064,3.078,3.078l39.115,0.313\
    c1.713,0.014,3.112-1.343,3.127-3.028l0.172-21.623C250.056,33.428,248.678,32.05,246.964,32.037z M212.38,48.871\
    c-2.018,0-3.654-1.641-3.654-3.66c0-2.019,1.637-3.658,3.654-3.658c2.021,0,3.66,1.641,3.66,3.658\
    C216.041,47.23,214.401,48.871,212.38,48.871z M222.352,47.777c-1.415,0-2.563-1.148-2.563-2.566c0-1.416,1.149-2.564,2.563-2.564\
    c1.417,0,2.565,1.148,2.565,2.564C224.917,46.628,223.769,47.777,222.352,47.777z M230.341,46.947\
    c-0.957,0-1.732-0.777-1.732-1.736c0-0.957,0.775-1.735,1.732-1.735c0.959,0,1.736,0.778,1.736,1.735\
    C232.08,46.169,231.3,46.947,230.341,46.947z M237.649,46.32c-0.61,0-1.106-0.498-1.106-1.107c0-0.612,0.496-1.109,1.106-1.109\
    c0.612,0,1.108,0.497,1.108,1.109C238.757,45.822,238.262,46.32,237.649,46.32z M243.632,45.945c-0.404,0-0.732-0.328-0.732-0.732\
    c0-0.406,0.329-0.736,0.732-0.736c0.406,0,0.734,0.33,0.734,0.736C244.367,45.617,244.039,45.945,243.632,45.945z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M199.263,60.433c0.845,0,3.186,0.52,3.186-0.455\
    c0-0.977,0-28.597,0-28.597s-0.847-1.884,0.26-1.95c1.104-0.064,48.744,0.13,48.938,0.65c0.195,0.52,0.064,12.672,0.26,13.583\
    c0.196,0.91,0,12.935,0,13.715c0,0.779,0,2.014,0,2.014v0.977h3.381v-15.47c0,0-0.131-5.655-0.261-6.694s0.779-9.877-0.455-10.397\
    c-1.233-0.52-29.051-0.911-29.051-0.911s-8.188-0.779-9.878-0.39c-1.689,0.39-12.35-0.13-12.35-0.13s-4.224-0.845-4.158,3.25\
    C199.199,33.721,199.263,60.433,199.263,60.433z')
    path(fill='#EFEFEF', d='M227.179,28.015c0.21,0.012,0.462,0.111,0.59,0.284c0.102,0.137-0.525,0.166-0.596,0.151\
    c-0.19-0.042-0.432-0.114-0.555-0.274C226.608,28.164,227.105,28.019,227.179,28.015c0.236-0.011,0.535-0.467,0.188-0.451\
    c-0.406,0.018-1.041,0.194-1.232,0.598c-0.229,0.485,0.537,0.698,0.873,0.754c0.416,0.07,1.062-0.156,1.246-0.562\
    c0.232-0.515-0.498-0.768-0.887-0.79C227.125,27.55,226.826,27.995,227.179,28.015z')
  g
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M201.292-57.31c-3.317,0-4.142-3.825-4.142-7.629\
    c0-1.141,0.042-2.536,0.042-3.487c0-1.332,0.084-2.621,0.338-3.297c0.169-0.465,0.782-0.486,0.973-0.486\
    c0.612,0,0.549,1.395,0.612,1.923c0.317,3.487-0.612,10.567,2.24,10.567h0.021c1.817,0,1.775-4.311,2.028-6.657\
    c0.169-1.585,0.19-5.495,1.269-5.495c0.803,0,0.972,0.782,0.972,1.691c0,0.296-0.021,0.57-0.021,0.845\
    c0,0.803,0.021,1.606,0.021,2.388c0,2.113-0.084,4.142-0.634,5.959C204.188-58.325,203.153-57.31,201.292-57.31z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M210.715-68.173v-1.331c0-0.254,0-0.38-0.19-0.38h-0.042\
    c-0.317,0.021-0.486,0.021-0.655,0.021h-0.57c-0.761-0.042-0.888-0.719-0.888-1.205c0-0.549,0.401-1.057,1.035-1.078\
    c2.135-0.042,2.093-0.19,4.143-0.19c1.226,0,1.754,0.444,1.754,1.057v0.042c0,0.824-0.021,1.331-1.438,1.395\
    c-0.422,0.021-0.189,0.021-0.654,0.042c-0.339,0.021-0.381,0.063-0.381,0.401v0.042c0,2.092,0.063,4.058,0.063,6.044\
    c0,0.719-0.021,1.395-0.021,2.071c0,0.422,0.021,0.93,0.021,1.437c0,0.253,0,0.507-0.021,0.761\
    c-0.084,1.289,0.19,1.986-1.099,1.986c-0.824,0-0.909-1.014-0.909-1.944v-0.761v-0.824\
    C210.863-63.206,210.715-65.573,210.715-68.173z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M218.828-57.331c-0.761-0.402-0.951-1.522-0.951-2.832\
    c0-1.564,0.17-3.529,0.17-5.114c0-1.458,0.062-3.635,0.887-3.635c1.311,0,1.374,1.648,1.374,3.466c0,2.325-0.042,4.396-0.042,6.467\
    c0,0.993,0,1.712-1.078,1.712h-0.147C218.976-57.268,218.891-57.289,218.828-57.331z M219.356-69.462\
    c-0.634,0-1.373-0.613-1.373-1.733c0-1.014,0.422-1.521,0.93-1.521c0.19,0,0.401,0.084,0.612,0.232\
    c0.528,0.401,0.824,1.099,0.824,1.817C220.349-69.842,219.884-69.462,219.356-69.462z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M224.998-72.209c0.782,0,0.888,2.346,0.888,4.206\
    c0,0.845-0.021,1.585-0.021,1.965c0,1.754-0.084,3.825-0.084,5.664c0,0.169,0.127,0.402,0.296,0.402\
    c0.423,0,0.274-0.021,0.676-0.021c0.74,0,1.733,0.021,2.283,0.338c0.443,0.253,0.57,0.465,0.57,0.93\
    c0,0.951-0.634,1.521-1.712,1.521h-0.465c-0.761,0-0.909,0.085-1.627,0.085c-1.269,0-2.283-0.275-2.367-1.86\
    c-0.021-0.444-0.043-0.93-0.043-1.374v-1.86c0-1.5,0.085-2.896,0.085-4.417c0-0.507-0.021-1.078-0.021-1.648\
    C223.455-70.117,223.603-72.209,224.998-72.209z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M233.301-57.331c-0.761-0.402-0.951-1.522-0.951-2.832\
    c0-1.564,0.169-3.529,0.169-5.114c0-1.458,0.063-3.635,0.888-3.635c1.311,0,1.374,1.648,1.374,3.466\
    c0,2.325-0.043,4.396-0.043,6.467c0,0.993,0,1.712-1.077,1.712h-0.148C233.449-57.268,233.365-57.289,233.301-57.331z\
    M233.83-69.462c-0.634,0-1.374-0.613-1.374-1.733c0-1.014,0.423-1.521,0.93-1.521c0.19,0,0.401,0.084,0.613,0.232\
    c0.528,0.401,0.824,1.099,0.824,1.817C234.823-69.842,234.358-69.462,233.83-69.462z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M242.62-59.762c1.31,0,1.585,0.317,1.585,1.395\
    c0,1.057-0.973,1.078-1.332,1.078c-0.866,0-0.908-0.105-1.648-0.105h-0.021c-0.339,0-0.824,0.021-1.606,0.084h-0.19\
    c-1.12,0-1.669-0.697-1.669-1.606c0-0.38,0.084-0.782,0.253-1.184c1.1-2.43,2.135-5.009,3.022-7.46\
    c0.211-0.571,0.401-1.142,0.634-1.712c0.042-0.106,0.063-0.19,0.063-0.254c0-0.105-0.063-0.211-0.169-0.211\
    c-0.993-0.063-1.902-0.275-3.297-0.275c-0.486,0-0.697-0.359-0.697-0.803c0-0.655,0.486-1.416,1.311-1.416s1.5-0.021,2.177-0.021\
    c0.422,0,0.845,0,1.246,0.042c0.804,0.042,1.691,0.148,1.691,1.014c0,4.269-2.6,6.932-3.551,11.095v0.105\
    c0,0.127,0.042,0.254,0.127,0.254C241.224-59.74,241.943-59.762,242.62-59.762z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M253.564-57.099c-0.845,0-1.162-0.613-1.289-1.353\
    c-0.127-0.719-0.232-1.141-0.338-1.86c-0.021-0.19-0.211-0.338-0.381-0.338h-0.021c-0.212,0.021-0.444,0.042-0.697,0.042\
    c-0.317,0-0.655-0.021-0.951-0.021c-0.169,0-0.338,0-0.486,0.021c-0.254,0.042-0.38,0.275-0.38,0.549\
    c-0.085,1.374-0.296,2.938-1.522,2.938c-0.803,0-0.993-0.359-0.993-0.867c0-0.211,0.021-0.444,0.063-0.697\
    c0.74-4.396,1.775-8.221,3.064-12.215c0.148-0.444,0.317-0.845,0.57-1.247c0.085-0.127,0.444-0.423,0.867-0.423\
    c0.951,0,1.226,1.416,1.395,2.24c0.697,3.614,1.247,7.629,1.986,11.264c0.085,0.38,0.169,0.613,0.169,1.057\
    S253.945-57.099,253.564-57.099z M251.683-63.101v-0.063c-0.211-1.775-0.465-3.825-0.824-5.579\
    c-0.021-0.084-0.021-0.169-0.127-0.169h-0.021c-0.127,0-0.085,0.084-0.105,0.169c-0.444,2.029-0.867,3.635-1.205,5.77v0.063\
    c0,0.127,0.042,0.211,0.169,0.211c0.423,0,1.416-0.063,1.902-0.148C251.599-62.868,251.683-62.974,251.683-63.101z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M190.421-41.312v-3.931c0-0.951,0.021-2.008,0.084-3.17v-0.592\
    c0-0.74,0.085-1.226,0.761-1.226c1.205,0,0.909,0.021,2.177,0.021h0.296c0.93,0,2.071,0.042,2.071,0.93\
    c0,1.015-0.55,1.036-1.416,1.036h-0.084h-0.951c-0.359,0-0.571,0-0.571,0.38v0.211c0,0.909-0.021,1.838-0.021,2.705\
    c0,0.401,0,0.401-0.021,0.401v0.253c0.021,0.338,0.381,0.381,0.74,0.381c0.274,0,0.296,0,0.296,0.021h0.169\
    c0.592,0,1.162,0.021,1.162,1.078v0.169c-0.042,0.613-0.57,0.698-1.184,0.698c-0.274,0-0.93-0.021-1.184-0.021\
    c-0.105,0-0.147,1.839-0.147,2.346c0,0.549,0.042,1.226,0.042,1.374c0,0.359,0.063,0.676,0.401,0.676h0.021\
    c0.951,0,0.845-0.021,1.796-0.021c0.677,0,1.015,0.296,1.015,1.099c0,0.063-0.021,0.148-0.021,0.211\
    c-0.042,0.824-0.443,0.972-1.099,0.972c-0.423,0-0.972-0.063-1.606-0.063c-0.634,0-1.246-0.021-1.69-0.021h-0.021\
    c-0.93,0-1.099-0.275-1.099-0.867C190.336-37.867,190.421-39.685,190.421-41.312z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M200.373-50.209c0.782,0,0.888,2.346,0.888,4.206\
    c0,0.845-0.021,1.585-0.021,1.965c0,1.754-0.084,3.825-0.084,5.664c0,0.169,0.127,0.402,0.296,0.402\
    c0.423,0,0.274-0.021,0.676-0.021c0.74,0,1.733,0.021,2.283,0.338c0.443,0.253,0.57,0.465,0.57,0.93\
    c0,0.951-0.634,1.521-1.712,1.521h-0.465c-0.761,0-0.909,0.085-1.627,0.085c-1.269,0-2.283-0.275-2.367-1.86\
    c-0.021-0.444-0.043-0.93-0.043-1.374v-1.86c0-1.5,0.085-2.896,0.085-4.417c0-0.507-0.021-1.078-0.021-1.648\
    C198.83-48.117,198.978-50.209,200.373-50.209z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M215.036-36.472c0-1.944,0.127-3.635,0.127-5.516v-1.184\
    c-0.043-1.31-0.085-2.895-0.085-4.163v-0.909c0-1.754,0.443-2.05,2.155-2.05c0.804,0,1.67,0.169,1.944,0.253\
    c0.254,0.084,0.508,0.169,0.719,0.296c0.951,0.528,1.289,1.712,1.438,2.938c0.063,0.507,0.105,1.099,0.105,1.712\
    c0,1.86-0.423,3.931-2.008,3.931c-0.19,0-0.254,0.063-0.254,0.169c0,0.084,0.043,0.169,0.106,0.254\
    c0.908,1.247,2.028,2.769,2.62,4.036c0.105,0.211,0.147,0.38,0.147,0.592c0,0.571-0.358,1.078-0.803,1.078\
    c-1.268,0-1.902-1.585-2.346-2.452c-0.55-1.078-0.739-1.775-1.289-2.853c-0.042-0.084-0.127-0.169-0.211-0.169\
    c-0.148,0-0.17,0.317-0.17,0.655c0,0.295,0.021,0.613,0.021,0.761c0.021,0.634,0.148,2.05,0.148,2.853\
    c0,0.909-0.55,1.078-1.311,1.078C215.205-35.162,215.036-35.733,215.036-36.472z M217.465-47.694\
    c-0.021,0.571-0.042,1.141-0.042,1.733c0,0.867,0.042,1.817,0.063,2.663c0.021,0.169,0.063,0.338,0.211,0.338h0.021\
    c1.458-0.169,1.817-0.845,1.817-2.282c0-1.521-0.084-3.17-1.669-3.17C217.508-48.413,217.487-48.075,217.465-47.694z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M231.348-35.099c-0.846,0-1.162-0.613-1.289-1.353\
    c-0.127-0.719-0.232-1.141-0.339-1.86c-0.021-0.19-0.211-0.338-0.38-0.338h-0.021c-0.211,0.021-0.443,0.042-0.697,0.042\
    c-0.316,0-0.655-0.021-0.951-0.021c-0.169,0-0.338,0-0.485,0.021c-0.254,0.042-0.381,0.275-0.381,0.549\
    c-0.085,1.374-0.296,2.938-1.521,2.938c-0.803,0-0.993-0.359-0.993-0.867c0-0.211,0.021-0.444,0.063-0.697\
    c0.739-4.396,1.775-8.221,3.064-12.215c0.147-0.444,0.316-0.845,0.57-1.247c0.084-0.127,0.443-0.423,0.866-0.423\
    c0.951,0,1.226,1.416,1.395,2.24c0.698,3.614,1.247,7.629,1.987,11.264c0.084,0.38,0.169,0.613,0.169,1.057\
    S231.728-35.099,231.348-35.099z M229.467-41.101v-0.063c-0.212-1.775-0.465-3.825-0.824-5.579\
    c-0.021-0.084-0.021-0.169-0.127-0.169h-0.021c-0.127,0-0.084,0.084-0.105,0.169c-0.443,2.029-0.866,3.635-1.204,5.77v0.063\
    c0,0.127,0.042,0.211,0.169,0.211c0.423,0,1.416-0.063,1.901-0.148C229.382-40.868,229.467-40.974,229.467-41.101z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M235.361-46.173v-1.331c0-0.254,0-0.38-0.189-0.38h-0.043\
    c-0.316,0.021-0.485,0.021-0.654,0.021h-0.571c-0.761-0.042-0.888-0.719-0.888-1.205c0-0.549,0.402-1.057,1.036-1.078\
    c2.134-0.042,2.092-0.19,4.142-0.19c1.226,0,1.755,0.444,1.755,1.057v0.042c0,0.824-0.021,1.331-1.438,1.395\
    c-0.423,0.021-0.19,0.021-0.655,0.042c-0.338,0.021-0.38,0.063-0.38,0.401v0.042c0,2.092,0.062,4.058,0.062,6.044\
    c0,0.719-0.021,1.395-0.021,2.071c0,0.422,0.021,0.93,0.021,1.437c0,0.253,0,0.507-0.021,0.761\
    c-0.085,1.289,0.19,1.986-1.099,1.986c-0.824,0-0.909-1.014-0.909-1.944v-0.761v-0.824\
    C235.509-41.206,235.361-43.573,235.361-46.173z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M245.355-50.209c3.001,0,3.572,5.241,3.572,8.665\
    c0,3.381-1.078,6.403-3.847,6.403c-2.409,0-3.36-2.811-3.36-7.439C241.72-45.158,242.524-50.209,245.355-50.209z M246.687-41.629\
    v-0.38c0-2.304-0.042-6.023-1.332-6.023c-0.93,0-1.542,2.747-1.542,5.474c0,2.726,0.359,5.452,1.204,5.452\
    C245.947-37.106,246.687-38.649,246.687-41.629z M245.355-50.632c-0.169,0-0.274-0.105-0.274-0.275v-0.084\
    c0.169-0.972,1.606-2.599,2.409-3.001c0.254-0.105,0.528-0.211,0.761-0.211c0.317,0,0.528,0.253,0.528,0.591\
    C248.779-52.428,246.306-50.632,245.355-50.632z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M260.801-48.286c0,0.592,0.021,1.268,0.021,1.585\
    c0,2.853-0.063,5.516-0.063,8.348c0,1.057-0.254,2.642-1.142,2.853c-0.169,0.042-0.338,0.127-0.507,0.127\
    c-1.438,0-2.113-2.726-2.515-3.677c-0.402-0.93-0.613-1.754-1.036-2.642s-0.697-1.86-1.184-2.578\
    c-0.042-0.042-0.105-0.275-0.189-0.275c-0.17,0-0.19,0.571-0.19,1.247c0,2.557,0.169,3.571,0.169,5.769\
    c0,1.332-0.021,2.346-1.184,2.346c-0.085,0-0.19,0-0.296-0.021c-0.719-0.084-0.782-1.014-0.782-2.092V-38.1\
    c0-0.634,0.021-1.268,0.021-1.691c0-0.422,0.021-0.803,0.021-1.226v-1.648c0-1.881,0.021-3.593,0.189-5.347\
    c0.106-0.972,0.212-1.733,1.163-1.839h0.126c1.479,0,3.593,6.911,4.607,8.855c0.042,0.084,0.486,0.994,0.57,0.994\
    c0.043,0,0.063-0.106,0.063-0.233c0-0.169-0.021-0.338-0.021-0.422c0.021-0.761,0.042-1.479,0.042-2.177\
    c0-1.944-0.085-3.656-0.085-5.474c0-1.606,0.254-1.986,1.12-1.986C260.674-50.293,260.801-49.004,260.801-48.286z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M213.345-16.48c-0.043-0.592-0.043-1.184-0.043-1.775\
    c0-2.198,0.148-4.311,0.212-6.551c0.021-0.803,0.105-1.86,0.19-2.663c0.063-0.571,0.612-0.74,1.246-0.782h0.508\
    c0.57,0,1.099,0.042,1.648,0.148c1.986,0.423,2.874,2.05,3.233,4.185c0.063,0.465,0.105,1.965,0.105,2.367\
    c0,4.185-1.67,8.517-5.685,8.517c-0.19,0-0.401-0.021-0.613-0.021c-0.465,0-0.676-0.507-0.697-0.972\
    c-0.021-0.761-0.085-1.5-0.105-2.261V-16.48z M216.219-15.614c1.141,0,2.431-4.058,2.431-6.255c0-2.219-0.085-4.354-2.431-4.438\
    h-0.021c-0.274,0-0.296,0.232-0.296,0.486v0.19v0.127c0,0.634-0.021,0.866-0.021,1.479c0,0.317,0,0.613,0.021,0.93\
    c0.063,1.712,0.063,2.388,0.127,4.311v0.148v0.74v1.247c0,0.274,0,0.549,0.021,0.845C216.05-15.719,216.092-15.614,216.219-15.614z\
    ')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M223.487-19.312v-3.931c0-0.951,0.021-2.008,0.084-3.17v-0.592\
    c0-0.74,0.085-1.226,0.761-1.226c1.205,0,0.909,0.021,2.177,0.021h0.296c0.93,0,2.071,0.042,2.071,0.93\
    c0,1.015-0.55,1.036-1.416,1.036h-0.084h-0.951c-0.359,0-0.571,0-0.571,0.38v0.211c0,0.909-0.021,1.838-0.021,2.705\
    c0,0.401,0,0.401-0.021,0.401v0.253c0.021,0.338,0.381,0.381,0.74,0.381c0.274,0,0.296,0,0.296,0.021h0.169\
    c0.592,0,1.162,0.021,1.162,1.078v0.169c-0.042,0.613-0.57,0.698-1.184,0.698c-0.274,0-0.93-0.021-1.184-0.021\
    c-0.105,0-0.147,1.839-0.147,2.346c0,0.549,0.042,1.226,0.042,1.374c0,0.359,0.063,0.676,0.401,0.676h0.021\
    c0.951,0,0.845-0.021,1.796-0.021c0.677,0,1.015,0.296,1.015,1.099c0,0.063-0.021,0.148-0.021,0.211\
    c-0.042,0.824-0.443,0.972-1.099,0.972c-0.423,0-0.972-0.063-1.606-0.063c-0.634,0-1.246-0.021-1.69-0.021H224.5\
    c-0.93,0-1.099-0.275-1.099-0.867C223.402-15.867,223.487-17.685,223.487-19.312z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M233.438-28.209c0.782,0,0.888,2.346,0.888,4.206\
    c0,0.845-0.021,1.585-0.021,1.965c0,1.754-0.084,3.825-0.084,5.664c0,0.169,0.127,0.402,0.296,0.402\
    c0.423,0,0.274-0.021,0.676-0.021c0.74,0,1.733,0.021,2.283,0.338c0.443,0.253,0.57,0.465,0.57,0.93\
    c0,0.951-0.634,1.521-1.712,1.521h-0.465c-0.761,0-0.909,0.085-1.627,0.085c-1.269,0-2.283-0.275-2.367-1.86\
    c-0.021-0.444-0.043-0.93-0.043-1.374v-1.86c0-1.5,0.085-2.896,0.085-4.417c0-0.507-0.021-1.078-0.021-1.648\
    C231.895-26.117,232.043-28.209,233.438-28.209z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M183.556-3.082c0,0.972-0.465,1.247-1.353,1.268\
    c-0.444,0-0.993-0.148-0.993-0.592c0-1.014-0.528-1.31-0.804-1.31c-1.732,0-2.028,2.747-2.028,5.347\
    c0,1.923,0.127,4.839,1.521,4.839c0.57,0,1.311-0.359,1.311-0.951c0-1.205,0.634-1.416,1.204-1.416\
    c0.761,0,1.078,0.761,1.078,1.585c0,2.029-1.817,3.212-3.593,3.212c-3.001,0-3.783-3.021-3.783-6.551\
    c0-3.952,0.444-8.559,4.48-8.559c1.606,0,2.917,1.395,2.959,3.064V-3.082z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M189.682-6.209c3.001,0,3.572,5.241,3.572,8.665\
    c0,3.381-1.078,6.403-3.847,6.403c-2.409,0-3.36-2.811-3.36-7.439C186.047-1.158,186.851-6.209,189.682-6.209z M191.014,2.371\
    v-0.38c0-2.304-0.042-6.023-1.332-6.023c-0.93,0-1.542,2.747-1.542,5.474c0,2.726,0.359,5.453,1.204,5.453\
    C190.274,6.894,191.014,5.351,191.014,2.371z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M198.366-0.397c0,0.105,0.021,0.19,0.021,0.275\
    c0,0.74,0.063,0.993,0.063,1.627c0,0.761,0.042,1.12,0.042,2.431v2.473c0,1.563-0.189,2.493-1.268,2.493\
    c-0.085,0-0.169,0-0.254-0.021c-0.592-0.105-0.719-1.226-0.719-2.452c0-3.233,0.127-5.917,0.127-9.108\
    c0-1.099,0.043-3.381,0.888-3.677c0.063-0.021,0.105-0.021,0.169-0.021c0.169,0,0.359,0.063,0.571,0.19\
    c1.014,0.613,1.542,2.473,1.923,3.572c0.147,0.443,0.232,0.909,0.359,1.353c0.063,0.274,0.803,3.36,0.93,3.36\
    c0.19,0,2.79-6.488,3.022-7.143c0.126-0.338,0.718-0.951,0.993-1.141c0.127-0.084,0.274-0.127,0.443-0.127\
    c0.888,0,1.184,1.247,1.269,2.896c0.042,0.993,0.063,1.733,0.063,2.367v0.951c0,2.092,0.147,4.311,0.147,6.424V7.02\
    c0,0.994-0.085,1.797-0.972,1.797c-0.571,0-1.163-0.148-1.353-0.782c-0.339-1.162-0.402-2.367-0.402-3.804V4.209\
    c0-1.226,0.043-2.473,0.043-3.656c0-0.528,0-0.148-0.043-0.655c0-0.063-0.021-0.105-0.105-0.105c-0.338,0-2.324,7.755-2.979,7.904\
    h-0.085c-0.105,0-0.211-0.042-0.274-0.085c-1.458-1.12-1.881-5.959-2.282-7.946c-0.021-0.106-0.063-0.317-0.19-0.317h-0.021\
    C198.386-0.63,198.366-0.524,198.366-0.397z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M212.225,7.232c0,1.437-0.274,1.458-0.846,1.458\
    c-0.549,0-1.057-0.169-1.057-2.071c0-1.205-0.062-2.071-0.062-3.36c0-1.247,0.042-2.473,0.042-3.72\
    c0-1.923-0.105-3.825-0.105-4.691c0-0.042,0.021-0.084,0.021-0.127c0.105-0.465,0.423-0.761,0.93-0.845\
    c0.486-0.084,0.655-0.148,1.12-0.148c2.854,0,4.586,1.184,4.586,3.994c0,2.642-1.986,4.311-4.332,4.776\
    c-0.317,0.063-0.401,0.148-0.401,0.422v0.106C212.162,3.935,212.225,6.386,212.225,7.232z M212.078-0.123v0.274\
    c0.021,0.211,0.063,0.296,0.189,0.296c0.063,0,0.127-0.021,0.212-0.063c0.782-0.338,2.177-1.183,2.177-2.663\
    c0-0.782-0.655-1.754-1.438-1.944c-0.19-0.042-0.38-0.084-0.549-0.084c-0.254,0-0.466,0.084-0.466,0.38\
    C212.204-2.025,212.078-1.961,212.078-0.123z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M227.27-3.8c0,1.754,0.063,3.001,0.063,5.072\
    c0,2.029-0.212,4.016-0.804,5.474c-0.654,1.585-1.943,2.155-3.001,2.155c-4.036,0-4.036-6.466-4.036-10.439V-1.56\
    c0-0.275-0.021-0.698-0.021-1.163c0-1.458,0.127-3.423,1.205-3.423c0.507,0,0.57,1.986,0.57,3.635c0,0.592-0.021,0.38-0.021,0.782\
    c0,0.211,0,0.38,0.021,0.486c0.169,2.155-0.274,8.369,1.86,8.369c1.395-0.148,1.669-5.368,1.669-6.975v-0.718\
    c0-0.782-0.084-1.86-0.084-2.79c0-1.606,0.169-2.938,1.585-2.938c0.908,0,0.993,0.528,0.993,1.479V-3.8z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M232.234-2.173v-1.331c0-0.254,0-0.38-0.19-0.38h-0.042\
    c-0.317,0.021-0.486,0.021-0.655,0.021h-0.57c-0.761-0.042-0.888-0.719-0.888-1.205c0-0.549,0.401-1.057,1.035-1.078\
    c2.135-0.042,2.093-0.19,4.143-0.19c1.226,0,1.754,0.444,1.754,1.057v0.042c0,0.824-0.021,1.331-1.438,1.395\
    c-0.422,0.021-0.189,0.021-0.654,0.042c-0.339,0.021-0.381,0.063-0.381,0.401v0.042c0,2.092,0.063,4.058,0.063,6.044\
    c0,0.719-0.021,1.395-0.021,2.071c0,0.422,0.021,0.93,0.021,1.437c0,0.253,0,0.507-0.021,0.76c-0.084,1.29,0.19,1.987-1.099,1.987\
    c-0.824,0-0.909-1.015-0.909-1.944V6.238V5.414C232.381,2.794,232.234,0.427,232.234-2.173z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M244.68,8.901c-0.846,0-1.162-0.612-1.289-1.353\
    c-0.127-0.718-0.232-1.141-0.339-1.859c-0.021-0.19-0.211-0.338-0.38-0.338h-0.021c-0.211,0.021-0.443,0.042-0.697,0.042\
    c-0.316,0-0.655-0.021-0.951-0.021c-0.169,0-0.338,0-0.485,0.021c-0.254,0.042-0.381,0.275-0.381,0.549\
    c-0.085,1.374-0.296,2.938-1.521,2.938c-0.803,0-0.993-0.359-0.993-0.866c0-0.212,0.021-0.444,0.063-0.698\
    c0.739-4.396,1.775-8.221,3.064-12.215c0.147-0.444,0.316-0.845,0.57-1.247c0.084-0.127,0.443-0.423,0.866-0.423\
    c0.951,0,1.226,1.416,1.395,2.24c0.698,3.614,1.247,7.629,1.987,11.264c0.084,0.38,0.169,0.612,0.169,1.057\
    C245.737,8.436,245.06,8.901,244.68,8.901z M242.799,2.899V2.836c-0.212-1.775-0.465-3.825-0.824-5.579\
    c-0.021-0.084-0.021-0.169-0.127-0.169h-0.021c-0.127,0-0.084,0.084-0.105,0.169c-0.443,2.029-0.866,3.635-1.204,5.77v0.063\
    c0,0.127,0.042,0.211,0.169,0.211c0.423,0,1.416-0.063,1.901-0.148C242.714,3.132,242.799,3.026,242.799,2.899z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M248.059,5.52c-0.043-0.592-0.043-1.184-0.043-1.775\
    c0-2.198,0.148-4.311,0.212-6.551c0.021-0.803,0.105-1.86,0.19-2.663c0.063-0.571,0.612-0.74,1.246-0.782h0.508\
    c0.57,0,1.099,0.042,1.648,0.148c1.986,0.423,2.874,2.05,3.233,4.185c0.063,0.465,0.105,1.965,0.105,2.367\
    c0,4.185-1.67,8.517-5.685,8.517c-0.19,0-0.401-0.021-0.613-0.021c-0.465,0-0.676-0.508-0.697-0.973\
    c-0.021-0.761-0.085-1.5-0.105-2.261V5.52z M250.933,6.386c1.141,0,2.431-4.058,2.431-6.255c0-2.219-0.085-4.354-2.431-4.438\
    h-0.021c-0.274,0-0.296,0.232-0.296,0.486v0.19v0.127c0,0.634-0.021,0.866-0.021,1.479c0,0.317,0,0.613,0.021,0.93\
    c0.063,1.712,0.063,2.388,0.127,4.311v0.148v0.74v1.247c0,0.274,0,0.549,0.021,0.845C250.764,6.281,250.806,6.386,250.933,6.386z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M261.624-6.209c3.001,0,3.572,5.241,3.572,8.665\
    c0,3.381-1.078,6.403-3.847,6.403c-2.409,0-3.36-2.811-3.36-7.439C257.989-1.158,258.792-6.209,261.624-6.209z M262.956,2.371\
    v-0.38c0-2.304-0.042-6.023-1.332-6.023c-0.93,0-1.542,2.747-1.542,5.474c0,2.726,0.359,5.453,1.204,5.453\
    C262.215,6.894,262.956,5.351,262.956,2.371z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M268.236,7.528c0-1.944,0.127-3.635,0.127-5.516V0.828\
    c-0.042-1.31-0.084-2.895-0.084-4.163v-0.909c0-1.754,0.443-2.05,2.155-2.05c0.803,0,1.669,0.169,1.944,0.253\
    c0.254,0.084,0.507,0.169,0.719,0.296c0.951,0.528,1.289,1.712,1.437,2.938c0.063,0.507,0.106,1.099,0.106,1.712\
    c0,1.86-0.423,3.931-2.008,3.931c-0.19,0-0.254,0.063-0.254,0.169c0,0.084,0.042,0.169,0.105,0.254\
    c0.909,1.247,2.029,2.769,2.621,4.037c0.105,0.211,0.147,0.38,0.147,0.592c0,0.57-0.359,1.077-0.803,1.077\
    c-1.269,0-1.902-1.585-2.347-2.451c-0.549-1.078-0.739-1.775-1.289-2.853c-0.042-0.084-0.126-0.169-0.211-0.169\
    c-0.147,0-0.169,0.317-0.169,0.655c0,0.295,0.021,0.613,0.021,0.761c0.021,0.634,0.147,2.049,0.147,2.853\
    c0,0.908-0.55,1.077-1.311,1.077C268.405,8.837,268.236,8.267,268.236,7.528z M270.667-3.694c-0.021,0.571-0.042,1.141-0.042,1.733\
    c0,0.867,0.042,1.817,0.063,2.663c0.021,0.169,0.062,0.338,0.211,0.338h0.021c1.458-0.169,1.817-0.845,1.817-2.282\
    c0-1.521-0.085-3.17-1.67-3.17C270.708-4.413,270.688-4.075,270.667-3.694z')
