// Generator: Adobe Illustrator 16.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)
svg#icon-mobile-synchronize(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='19.333 -39.667 128.5 159.25', xml:space='preserve')
  g
    g
      path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='0.75', stroke-miterlimit='10', d='M86.045,112.112\
      c0.798-1.666,2.171-3.035,3.189-4.564c2.157-3.244,3.542-7.001,5.528-10.347c2.053-3.454,4.762-6.457,6.843-9.896\
      c1.296-2.143,2.288-4.871,4.062-6.74c0.16,0.385,0.748,0.545,1.021,0.105c0.625-1.018,0.902-2.375,0.308-3.556\
      c-0.627-1.247-1.912-1.976-3.004-2.773c-0.082-0.057-0.158-0.073-0.229-0.067c-2.923-2.584-6.213-4.726-9.562-6.696\
      c-2.037-1.199-4.123-2.345-6.197-3.478c-1.252-0.683-2.516-1.002-3.791-1.352c0.02-0.003,0.044-0.002,0.062-0.004\
      c0.44-0.059,0.67-0.68,0.161-0.924c-0.428-0.202-0.772-0.229-1.239-0.27c-0.646-0.056-1.365-0.191-2.002-0.184\
      c-0.015,0-0.025,0.012-0.041,0.013c-0.135-0.058-0.291-0.048-0.412,0.087c-3.824,4.34-6.686,9.374-9.695,14.305\
      c0.064,0.012,0.125,0.012,0.187,0.021c-0.401,0.793-0.989,1.46-1.504,2.187c-0.737,1.039-1.452,2.107-2.179,3.156\
      c-0.67,0.963-1.192,2.038-1.838,3.021c-0.807,1.226-1.35,2.662-2.26,3.808c-0.043-0.021-0.094-0.034-0.144-0.038\
      c-0.026-0.003-0.054-0.006-0.078-0.006c-0.146-0.013-0.263,0.112-0.288,0.241c-0.009,0.039-0.018,0.079-0.025,0.118\
      c-0.017,0.082,0.002,0.148,0.033,0.205c-1.545,2.533-3.006,5.109-4.26,7.779c-0.234-0.104-0.533-0.07-0.705,0.209\
      c-0.625,1.014-0.902,2.373-0.308,3.553c0.628,1.248,1.913,1.977,3.007,2.774c0.115,0.083,0.221,0.071,0.307,0.026\
      c2.643,2.292,6.249,3.785,8.992,5.811c3.203,2.366,6.171,5.075,9.966,6.289c0.006,0.151,0.092,0.299,0.287,0.393\
      c0.432,0.205,0.773,0.23,1.24,0.271c0.645,0.057,1.367,0.19,2.002,0.184c0.109,0,0.203-0.039,0.292-0.094\
      c0.114,0.014,0.228-0.011,0.313-0.105C84.975,114.556,85.461,113.336,86.045,112.112z M80.5,114.392\
      c-4.111-1.164-7.313-4.217-10.721-6.729c-3.102-2.291-6.55-3.964-9.667-6.228c-0.388-0.406-0.769-0.817-1.098-1.264\
      c-0.823-1.105-0.458-2.07-0.014-3.164c0.043-0.104,0.045-0.203,0.033-0.294c1.631-2.845,3.344-5.632,5.083-8.399\
      c-0.026-0.013-0.054-0.02-0.08-0.028c0.543-0.718,0.936-1.513,1.356-2.331c0.703-1.374,1.658-2.604,2.396-3.962\
      c1.187-2.191,3.367-3.979,4.229-6.354c2.293-3.82,4.597-7.652,7.308-11.158c0.166,0.147,0.422,0.191,0.621-0.011\
      c0.59-0.594,1.022-1.305,1.553-1.948c0.373,0.064,0.768,0.131,1.16,0.182c1.371,0.666,2.83,1.009,4.235,1.669\
      c2.132,0.998,4.188,2.341,6.249,3.5c4.079,2.295,8.068,4.944,11.439,8.235c0.142,0.139,0.301,0.147,0.425,0.09\
      c0.229,0.25,0.45,0.506,0.651,0.775c0.594,0.801,0.562,1.526,0.338,2.278c-1.806,1.045-2.824,3.146-3.793,4.921\
      c-1.948,3.57-4.358,6.773-6.697,10.08c-2.315,3.268-3.906,6.971-5.858,10.468c-1.085,1.943-2.284,3.72-3.581,5.521\
      c-0.558,0.773-0.973,1.626-1.386,2.484c-0.565,0.584-0.993,1.273-1.511,1.897C82.305,114.469,81.329,114.304,80.5,114.392z')
      path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M107.536,79.144l-0.115,0.129L107.536,79.144z')
      path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='0.75', stroke-miterlimit='10', d='M94.586,71.815\
      c-1.694-1.34-3.937-1.862-5.741-3.073c-0.321-0.214-0.562,0.247-0.328,0.493c0.706,0.746,1.524,1.217,2.429,1.679\
      c1.079,0.55,2.199,1.142,3.342,1.517C94.64,72.546,94.877,72.044,94.586,71.815z')
      path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='0.75', stroke-miterlimit='10', d='M74.392,106.136\
      c0.101-0.279,0.159-0.582,0.177-0.878c0.1-1.6-1.617-2.821-3.087-2.805c-0.462,0.005-0.521,0.522-0.235,0.789\
      c-0.375,0.063-0.733,0.259-1.014,0.565c-0.951,1.047-0.201,2.516,0.959,3.166c0.676,0.375,1.521,0.483,2.21,0.235\
      c0.243-0.087,0.435-0.231,0.595-0.408c0.041-0.013,0.084-0.013,0.125-0.028C74.424,106.653,74.493,106.367,74.392,106.136z')
      path(fill='#FFFFFF', stroke='#EFEFEF', stroke-width='0.75', stroke-miterlimit='10', d='M92.87,94.394\
      c2.627-4.699,6.438-8.731,8.782-13.574c0.093-0.193,0.025-0.373-0.104-0.498c0.041-0.09,0.076-0.188,0.117-0.334\
      c0.058-0.198-0.094-0.441-0.277-0.538c-3.469-1.822-6.741-4.341-10.094-6.409c-3.518-2.172-7.234-3.443-11.033-4.922\
      c-0.43-0.166-0.733,0.395-0.299,0.627c0.002,0.002,0.007,0.002,0.01,0.004c-1.375,1.859-2.801,3.702-4.163,5.59\
      c-0.089,0.037-0.167,0.109-0.211,0.234c-0.019,0.056-0.047,0.109-0.071,0.164c-0.218,0.307-0.441,0.611-0.654,0.921\
      c0.062-0.009,0.119-0.019,0.18-0.028c-0.534,0.827-1.235,1.605-1.676,2.454c-0.726,1.384-1.282,2.862-1.904,4.298\
      c-0.639,1.469-1.385,2.871-2.297,4.178c-0.764,1.09-1.742,1.943-2.352,3.142c-0.037,0.069-0.05,0.141-0.052,0.206\
      c-1.022,1.992-1.996,4.076-3.276,5.796c-0.351,0.469,0.271,1.103,0.678,0.843c0.283,0.311,0.672,0.547,1.115,0.807\
      c2.084,1.227,4.485,1.905,6.606,3.119c2.015,1.152,3.958,2.428,5.996,3.535c1.987,1.079,3.909,2.617,5.97,3.471\
      c0.11,0.047,0.209,0.041,0.295,0.008c0.065,0.031,0.143,0.041,0.207-0.022C88.116,103.806,90.336,98.927,92.87,94.394z\
      M84.17,106.819c-1.521-0.592-3.077-1.834-4.549-2.631c-1.742-0.943-3.492-1.845-5.223-2.815\
      c-1.873-1.056-3.682-2.246-5.594-3.215c-1.303-0.658-3.148-1.056-4.208-2.159c1.121-1.684,1.869-3.689,2.849-5.46\
      c0.033-0.06,0.064-0.119,0.098-0.177c0.07-0.041,0.134-0.1,0.181-0.189c0.638-1.254,1.713-2.22,2.515-3.367\
      c0.746-1.068,1.342-2.236,1.896-3.422c0.661-1.414,1.221-2.881,1.88-4.296c0.668-1.433,1.941-2.554,2.477-4.022\
      c0.198-0.284,0.394-0.57,0.596-0.854c1.162-1.632,2.644-3.312,3.354-5.224c3.449,1.763,7.104,2.818,10.457,4.885\
      c0.883,0.545,9.592,6.212,9.59,6.214c-0.205,0.258-0.074,0.571,0.146,0.729c-2.025,4.119-5.191,7.729-7.509,11.683\
      c-2.862,4.89-5.113,10.099-8.813,14.409C84.275,106.872,84.23,106.842,84.17,106.819z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M88.366,114.709c0.127-0.151,0.129-0.392-0.016-0.552\
    c1.553-2.161,2.607-4.973,3.848-7.252c1.995-3.686,4.295-7.239,6.578-10.738c2.477-3.795,5.141-7.495,7.855-11.113\
    c0.869-1.16,1.615-2.414,2.314-3.688c0.719-1.305,1.729-2.088,1.942-3.648c0.047-0.34-0.209-0.568-0.479-0.623\
    c-1.137-3.434-5.685-5.49-8.574-7.294c-2.777-1.729-5.713-3.21-8.537-4.854c-2.531-1.479-5.065-2.87-7.829-3.772\
    c-0.166-0.055-0.248,0.204-0.089,0.279c0.091,0.042,0.179,0.09,0.268,0.133c-1.494-0.008-3.122-0.8-4.451,0.044\
    c-0.25,0.161,0.006,0.521,0.266,0.401c1.4-0.653,3.214,0.487,4.719,0.312c0.199-0.024,0.303-0.171,0.326-0.329\
    c3.934,1.932,7.671,4.201,11.507,6.342c2.388,1.334,4.702,2.754,6.967,4.295c1.871,1.271,3.651,2.252,4.577,4.104\
    c-0.503-0.123-1.079-0.1-1.574-0.12c-0.309-0.013-0.613-0.008-0.92,0.009c-0.309,0.017-0.539,0.121-0.837-0.017\
    c-0.198-0.095-0.38,0.106-0.267,0.295c0.062,0.113,0.133,0.224,0.205,0.334c0.062,0.097,0.188,0.171,0.304,0.161\
    c0.528-0.035,1.046-0.061,1.579-0.031c0.574,0.033,0.607-0.341,1.162-0.437c0.02-0.003-0.553-0.54-0.543-0.552\
    c0,0.002,0,0.002,0,0.002c0.601,2.317-0.938,3.312-1.68,4.662c-0.986,1.781-1.964,3.647-3.146,5.293\
    c-2.147,2.985-4.15,6.101-6.188,9.166c-3.928,5.903-7.056,12.23-10.462,18.426c-0.426,0.127-0.819,0.396-1.112,0.522\
    c-0.688,0.296-1.586,0.763-2.319,0.196c-0.315-0.246-0.728,0.072-0.501,0.428c0.556,0.881,1.513,0.895,2.367,0.647\
    c0.492-0.14,0.957-0.358,1.429-0.548c0.153,0.096,0.358,0.111,0.494-0.039c0.036-0.038,0.069-0.086,0.104-0.129\
    C87.937,114.962,88.219,114.888,88.366,114.709z')
  g
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M45.437-17.894c-3.318,0-4.142-3.825-4.142-7.629\
    c0-1.141,0.042-2.536,0.042-3.487c0-1.332,0.084-2.621,0.338-3.297c0.169-0.465,0.782-0.486,0.972-0.486\
    c0.613,0,0.549,1.395,0.613,1.923c0.317,3.487-0.613,10.567,2.24,10.567h0.021c1.817,0,1.775-4.311,2.029-6.657\
    c0.169-1.585,0.19-5.495,1.268-5.495c0.803,0,0.972,0.782,0.972,1.691c0,0.296-0.021,0.57-0.021,0.845\
    c0,0.803,0.021,1.606,0.021,2.388c0,2.113-0.084,4.142-0.634,5.959C48.332-18.908,47.297-17.894,45.437-17.894z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M54.859-28.756v-1.331c0-0.254,0-0.38-0.19-0.38h-0.042\
    c-0.317,0.021-0.486,0.021-0.655,0.021h-0.571c-0.761-0.042-0.888-0.719-0.888-1.205c0-0.549,0.402-1.057,1.036-1.078\
    c2.134-0.042,2.092-0.19,4.142-0.19c1.226,0,1.754,0.444,1.754,1.057v0.042c0,0.824-0.021,1.331-1.437,1.395\
    c-0.422,0.021-0.19,0.021-0.655,0.042c-0.338,0.021-0.38,0.063-0.38,0.401v0.042c0,2.092,0.063,4.058,0.063,6.044\
    c0,0.719-0.021,1.395-0.021,2.071c0,0.422,0.021,0.93,0.021,1.437c0,0.253,0,0.507-0.021,0.761\
    c-0.084,1.289,0.19,1.986-1.099,1.986c-0.824,0-0.909-1.014-0.909-1.944v-0.761v-0.824C55.007-23.79,54.859-26.157,54.859-28.756z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M62.972-17.915c-0.761-0.402-0.951-1.522-0.951-2.832\
    c0-1.564,0.169-3.529,0.169-5.114c0-1.458,0.063-3.635,0.887-3.635c1.311,0,1.374,1.648,1.374,3.466\
    c0,2.325-0.042,4.396-0.042,6.467c0,0.993,0,1.712-1.078,1.712h-0.148C63.12-17.851,63.036-17.873,62.972-17.915z M63.5-30.045\
    c-0.634,0-1.374-0.613-1.374-1.733c0-1.014,0.422-1.521,0.93-1.521c0.19,0,0.402,0.084,0.613,0.232\
    c0.528,0.401,0.824,1.099,0.824,1.817C64.494-30.426,64.029-30.045,63.5-30.045z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M69.142-32.792c0.782,0,0.888,2.346,0.888,4.206\
    c0,0.845-0.021,1.585-0.021,1.965c0,1.754-0.084,3.825-0.084,5.664c0,0.169,0.127,0.402,0.296,0.402\
    c0.423,0,0.274-0.021,0.676-0.021c0.74,0,1.733,0.021,2.283,0.338c0.443,0.253,0.57,0.465,0.57,0.93\
    c0,0.951-0.634,1.521-1.712,1.521h-0.465c-0.761,0-0.909,0.085-1.627,0.085c-1.269,0-2.283-0.275-2.367-1.86\
    c-0.021-0.444-0.043-0.93-0.043-1.374v-1.86c0-1.5,0.085-2.896,0.085-4.417c0-0.507-0.021-1.078-0.021-1.648\
    C67.599-30.7,67.748-32.792,69.142-32.792z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M77.446-17.915c-0.761-0.402-0.951-1.522-0.951-2.832\
    c0-1.564,0.169-3.529,0.169-5.114c0-1.458,0.063-3.635,0.888-3.635c1.311,0,1.374,1.648,1.374,3.466\
    c0,2.325-0.043,4.396-0.043,6.467c0,0.993,0,1.712-1.077,1.712h-0.148C77.593-17.851,77.509-17.873,77.446-17.915z M77.974-30.045\
    c-0.634,0-1.374-0.613-1.374-1.733c0-1.014,0.423-1.521,0.93-1.521c0.19,0,0.401,0.084,0.613,0.232\
    c0.528,0.401,0.824,1.099,0.824,1.817C78.967-30.426,78.502-30.045,77.974-30.045z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M86.764-20.345c1.31,0,1.585,0.317,1.585,1.395\
    c0,1.057-0.973,1.078-1.332,1.078c-0.866,0-0.908-0.105-1.648-0.105h-0.021c-0.339,0-0.824,0.021-1.606,0.084h-0.19\
    c-1.12,0-1.669-0.697-1.669-1.606c0-0.38,0.084-0.782,0.253-1.184c1.1-2.43,2.135-5.009,3.022-7.46\
    c0.211-0.571,0.401-1.142,0.634-1.712c0.042-0.106,0.063-0.19,0.063-0.254c0-0.105-0.063-0.211-0.169-0.211\
    c-0.993-0.063-1.902-0.275-3.297-0.275c-0.486,0-0.697-0.359-0.697-0.803c0-0.655,0.486-1.416,1.311-1.416s1.5-0.021,2.177-0.021\
    c0.422,0,0.845,0,1.246,0.042c0.804,0.042,1.691,0.148,1.691,1.014c0,4.269-2.6,6.932-3.551,11.095v0.105\
    c0,0.127,0.042,0.254,0.127,0.254C85.369-20.324,86.087-20.345,86.764-20.345z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M97.708-17.682c-0.845,0-1.162-0.613-1.289-1.353\
    c-0.127-0.719-0.232-1.141-0.338-1.86c-0.021-0.19-0.211-0.338-0.381-0.338H95.68c-0.212,0.021-0.444,0.042-0.697,0.042\
    c-0.317,0-0.655-0.021-0.951-0.021c-0.169,0-0.338,0-0.486,0.021c-0.254,0.042-0.38,0.275-0.38,0.549\
    c-0.085,1.374-0.296,2.938-1.522,2.938c-0.803,0-0.993-0.359-0.993-0.867c0-0.211,0.021-0.444,0.063-0.697\
    c0.74-4.396,1.775-8.221,3.064-12.215c0.148-0.444,0.317-0.845,0.57-1.247c0.085-0.127,0.444-0.423,0.867-0.423\
    c0.951,0,1.226,1.416,1.395,2.24c0.697,3.614,1.247,7.629,1.986,11.264c0.085,0.38,0.169,0.613,0.169,1.057\
    S98.089-17.682,97.708-17.682z M95.828-23.684v-0.063c-0.211-1.775-0.465-3.825-0.824-5.579c-0.021-0.084-0.021-0.169-0.127-0.169\
    h-0.021c-0.127,0-0.085,0.084-0.105,0.169c-0.444,2.029-0.867,3.635-1.205,5.77v0.063c0,0.127,0.042,0.211,0.169,0.211\
    c0.423,0,1.416-0.063,1.902-0.148C95.744-23.452,95.828-23.557,95.828-23.684z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M110.11-28.756v-1.331c0-0.254,0-0.38-0.19-0.38h-0.042\
    c-0.317,0.021-0.486,0.021-0.655,0.021h-0.57c-0.761-0.042-0.888-0.719-0.888-1.205c0-0.549,0.401-1.057,1.035-1.078\
    c2.135-0.042,2.093-0.19,4.143-0.19c1.226,0,1.754,0.444,1.754,1.057v0.042c0,0.824-0.021,1.331-1.438,1.395\
    c-0.422,0.021-0.189,0.021-0.654,0.042c-0.339,0.021-0.381,0.063-0.381,0.401v0.042c0,2.092,0.063,4.058,0.063,6.044\
    c0,0.719-0.021,1.395-0.021,2.071c0,0.422,0.021,0.93,0.021,1.437c0,0.253,0,0.507-0.021,0.761\
    c-0.084,1.289,0.19,1.986-1.099,1.986c-0.824,0-0.909-1.014-0.909-1.944v-0.761v-0.824C110.257-23.79,110.11-26.157,110.11-28.756z\
    ')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M125.006-30.383c0,1.754,0.063,3.001,0.063,5.072\
    c0,2.029-0.211,4.016-0.803,5.474c-0.655,1.585-1.944,2.156-3.001,2.156c-4.036,0-4.036-6.467-4.036-10.44v-0.021\
    c0-0.275-0.021-0.698-0.021-1.163c0-1.458,0.127-3.423,1.205-3.423c0.507,0,0.57,1.986,0.57,3.635c0,0.592-0.021,0.38-0.021,0.782\
    c0,0.211,0,0.38,0.021,0.486c0.169,2.155-0.275,8.369,1.859,8.369c1.395-0.148,1.67-5.368,1.67-6.974v-0.718\
    c0-0.782-0.085-1.86-0.085-2.79c0-1.606,0.169-2.938,1.585-2.938c0.909,0,0.993,0.528,0.993,1.479V-30.383z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M50.338-4.981c0,0.105,0.021,0.19,0.021,0.275\
    c0,0.74,0.063,0.993,0.063,1.627c0,0.761,0.042,1.12,0.042,2.431v2.473c0,1.563-0.19,2.494-1.268,2.494\
    c-0.084,0-0.169,0-0.253-0.021c-0.592-0.106-0.719-1.226-0.719-2.452c0-3.233,0.127-5.917,0.127-9.108\
    c0-1.099,0.042-3.381,0.888-3.677c0.063-0.021,0.105-0.021,0.169-0.021c0.169,0,0.359,0.063,0.571,0.19\
    c1.014,0.613,1.542,2.473,1.923,3.572c0.148,0.443,0.232,0.909,0.359,1.353c0.063,0.274,0.803,3.36,0.93,3.36\
    c0.19,0,2.79-6.488,3.022-7.143c0.126-0.338,0.718-0.951,0.993-1.141c0.127-0.084,0.275-0.127,0.444-0.127\
    c0.888,0,1.184,1.247,1.268,2.896c0.042,0.993,0.063,1.733,0.063,2.367v0.951c0,2.092,0.148,4.311,0.148,6.424v0.698\
    c0,0.993-0.085,1.796-0.972,1.796c-0.571,0-1.163-0.148-1.353-0.782c-0.338-1.162-0.402-2.367-0.402-3.804v-0.021\
    c0-1.226,0.042-2.473,0.042-3.656c0-0.528,0-0.148-0.042-0.655c0-0.063-0.021-0.105-0.105-0.105c-0.338,0-2.325,7.756-2.98,7.904\
    h-0.084c-0.105,0-0.211-0.042-0.275-0.084c-1.458-1.12-1.881-5.96-2.282-7.946c-0.021-0.106-0.063-0.317-0.19-0.317h-0.021\
    C50.359-5.213,50.338-5.108,50.338-4.981z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M65.677-10.792c3.001,0,3.572,5.241,3.572,8.665\
    c0,3.381-1.078,6.403-3.847,6.403c-2.409,0-3.36-2.811-3.36-7.439C62.042-5.742,62.846-10.792,65.677-10.792z M67.009-2.212v-0.38\
    c0-2.304-0.042-6.023-1.332-6.023c-0.93,0-1.542,2.747-1.542,5.474c0,2.726,0.359,5.452,1.204,5.452\
    C66.269,2.31,67.009,0.768,67.009-2.212z M65.677-11.215c-0.169,0-0.274-0.105-0.274-0.275v-0.084\
    c0.169-0.972,1.606-2.599,2.409-3.001c0.254-0.105,0.528-0.211,0.761-0.211c0.317,0,0.528,0.253,0.528,0.591\
    C69.101-13.012,66.628-11.215,65.677-11.215z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M79.475-10.18c0,1.458-0.232,2.684-0.485,4.1\
    c-0.232,1.29-1.733,10.567-3.149,10.567c-1.796,0-2.536-3.698-3.021-5.622c-0.296-1.099-1.12-4.797-1.12-7.228\
    c0-1.458,0.296-2.473,1.204-2.473c0.042,0,0.105,0.021,0.169,0.021c0.74,0.106,1.015,5.178,1.797,8.348\
    c0.211,0.866,0.57,2.219,0.739,2.219c0.338-0.084,1.289-5.41,1.479-6.424c0.317-1.712,0.528-4.121,1.775-4.121\
    C79.159-10.792,79.475-10.497,79.475-10.18z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M83.002,4.085c-0.761-0.402-0.951-1.522-0.951-2.832\
    c0-1.564,0.169-3.529,0.169-5.114c0-1.458,0.063-3.635,0.888-3.635c1.311,0,1.374,1.648,1.374,3.466\
    c0,2.325-0.043,4.396-0.043,6.467c0,0.993,0,1.712-1.077,1.712h-0.148C83.15,4.149,83.066,4.127,83.002,4.085z M83.531-8.045\
    c-0.634,0-1.374-0.613-1.374-1.733c0-1.014,0.423-1.521,0.93-1.521c0.19,0,0.401,0.084,0.613,0.232\
    c0.528,0.401,0.824,1.099,0.824,1.817C84.524-8.426,84.059-8.045,83.531-8.045z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M89.171-10.792c0.782,0,0.888,2.346,0.888,4.206\
    c0,0.845-0.021,1.585-0.021,1.965c0,1.754-0.084,3.825-0.084,5.664c0,0.169,0.127,0.402,0.296,0.402\
    c0.423,0,0.274-0.021,0.676-0.021c0.74,0,1.733,0.021,2.283,0.338c0.443,0.253,0.57,0.465,0.57,0.93\
    c0,0.951-0.634,1.521-1.712,1.521h-0.465c-0.761,0-0.909,0.085-1.627,0.085c-1.269,0-2.283-0.275-2.367-1.86\
    c-0.021-0.444-0.043-0.93-0.043-1.374v-1.86c0-1.5,0.085-2.896,0.085-4.417c0-0.507-0.021-1.078-0.021-1.648\
    C87.628-8.7,87.777-10.792,89.171-10.792z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M104.214-10.771c0.359,0,0.592,0.275,0.93,0.782\
    c1.015,1.522,1.924,5.41,2.6,5.41c0.232,0,1.226-2.979,1.374-3.466c0.274-0.888,0.55-1.606,0.888-2.325\
    c0.169-0.359,0.38-0.528,0.57-0.528h0.042c0.359,0,0.824,0.359,0.824,1.12c0,1.965-0.654,3.128-1.331,4.84\
    c-0.486,1.268-1.627,2.599-1.627,3.043c0,1.099,0,1.395,0.021,2.811c0,0.359,0.043,0.93,0.043,1.5c0,0.887-0.085,1.881-0.846,1.881\
    c-1.331,0-1.521-1.205-1.521-2.473c0-1.12,0.169-2.325,0.19-3.339c-0.043-0.296-0.127-0.676-0.339-1.184\
    c-0.676-1.585-1.204-2.409-1.838-4.015c-0.423-1.078-0.931-2.071-0.931-2.874C103.263-10.201,103.602-10.771,104.214-10.771z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M56.636,11.82c0,1.458-0.232,2.684-0.486,4.1\
    c-0.232,1.29-1.733,10.567-3.149,10.567c-1.796,0-2.536-3.698-3.022-5.622c-0.296-1.099-1.12-4.797-1.12-7.228\
    c0-1.458,0.296-2.473,1.205-2.473c0.042,0,0.105,0.021,0.169,0.021c0.74,0.106,1.015,5.178,1.796,8.348\
    c0.211,0.866,0.571,2.219,0.74,2.219c0.338-0.084,1.289-5.41,1.479-6.424c0.317-1.712,0.528-4.121,1.775-4.121\
    C56.319,11.208,56.636,11.503,56.636,11.82z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M60.163,26.085c-0.761-0.402-0.951-1.522-0.951-2.832\
    c0-1.564,0.169-3.529,0.169-5.114c0-1.458,0.063-3.635,0.887-3.635c1.311,0,1.374,1.648,1.374,3.466\
    c0,2.325-0.042,4.396-0.042,6.467c0,0.993,0,1.712-1.078,1.712h-0.148C60.311,26.149,60.226,26.127,60.163,26.085z M60.691,13.955\
    c-0.634,0-1.374-0.613-1.374-1.733c0-1.014,0.422-1.521,0.93-1.521c0.19,0,0.401,0.084,0.613,0.232\
    c0.528,0.401,0.824,1.099,0.824,1.817C61.684,13.574,61.219,13.955,60.691,13.955z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M72.228,11.82c0,1.458-0.232,2.684-0.485,4.1\
    c-0.232,1.29-1.733,10.567-3.149,10.567c-1.796,0-2.536-3.698-3.021-5.622c-0.296-1.099-1.12-4.797-1.12-7.228\
    c0-1.458,0.296-2.473,1.204-2.473c0.042,0,0.105,0.021,0.169,0.021c0.74,0.106,1.015,5.178,1.797,8.348\
    c0.211,0.866,0.57,2.219,0.739,2.219c0.338-0.084,1.289-5.41,1.479-6.424c0.317-1.712,0.528-4.121,1.775-4.121\
    C71.912,11.208,72.228,11.503,72.228,11.82z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M74.995,20.104v-3.931c0-0.951,0.021-2.008,0.084-3.17v-0.592\
    c0-0.74,0.085-1.226,0.761-1.226c1.205,0,0.909,0.021,2.177,0.021h0.296c0.93,0,2.071,0.042,2.071,0.93\
    c0,1.015-0.55,1.036-1.416,1.036h-0.084h-0.951c-0.359,0-0.571,0-0.571,0.38v0.211c0,0.909-0.021,1.838-0.021,2.705\
    c0,0.401,0,0.401-0.021,0.401v0.253c0.021,0.338,0.381,0.381,0.74,0.381c0.274,0,0.296,0,0.296,0.021h0.169\
    c0.592,0,1.162,0.021,1.162,1.078v0.169c-0.042,0.613-0.57,0.698-1.184,0.698c-0.274,0-0.93-0.021-1.184-0.021\
    c-0.105,0-0.147,1.839-0.147,2.346c0,0.549,0.042,1.226,0.042,1.374c0,0.359,0.063,0.676,0.401,0.676h0.021\
    c0.951,0,0.845-0.021,1.796-0.021c0.677,0,1.015,0.296,1.015,1.099c0,0.063-0.021,0.148-0.021,0.211\
    c-0.042,0.824-0.443,0.972-1.099,0.972c-0.423,0-0.972-0.063-1.606-0.063c-0.634,0-1.246-0.021-1.69-0.021h-0.021\
    c-0.93,0-1.099-0.275-1.099-0.867C74.91,23.549,74.995,21.732,74.995,20.104z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M98.174,13.617c0,1.754,0.063,3.001,0.063,5.072\
    c0,2.029-0.212,4.016-0.804,5.474c-0.654,1.585-1.943,2.156-3.001,2.156c-4.036,0-4.036-6.467-4.036-10.44v-0.021\
    c0-0.275-0.021-0.698-0.021-1.163c0-1.458,0.127-3.423,1.205-3.423c0.507,0,0.57,1.986,0.57,3.635c0,0.592-0.021,0.38-0.021,0.782\
    c0,0.211,0,0.38,0.021,0.486c0.169,2.155-0.274,8.369,1.86,8.369c1.395-0.148,1.669-5.368,1.669-6.974V16.85\
    c0-0.782-0.084-1.86-0.084-2.79c0-1.606,0.169-2.938,1.585-2.938c0.908,0,0.993,0.528,0.993,1.479V13.617z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M110.133,13.13c0,0.592,0.021,1.268,0.021,1.585\
    c0,2.853-0.063,5.516-0.063,8.348c0,1.057-0.253,2.642-1.141,2.853c-0.169,0.042-0.339,0.127-0.508,0.127\
    c-1.437,0-2.113-2.726-2.515-3.677c-0.401-0.93-0.613-1.754-1.035-2.642c-0.423-0.888-0.697-1.86-1.184-2.578\
    c-0.042-0.042-0.105-0.275-0.19-0.275c-0.169,0-0.19,0.571-0.19,1.247c0,2.557,0.169,3.571,0.169,5.769\
    c0,1.332-0.021,2.346-1.183,2.346c-0.085,0-0.19,0-0.296-0.021c-0.719-0.084-0.782-1.014-0.782-2.092v-0.803\
    c0-0.634,0.021-1.268,0.021-1.691c0-0.422,0.021-0.803,0.021-1.226v-1.648c0-1.881,0.021-3.593,0.19-5.347\
    c0.105-0.972,0.211-1.733,1.162-1.839h0.127c1.479,0,3.593,6.911,4.607,8.855c0.042,0.084,0.485,0.994,0.57,0.994\
    c0.042,0,0.063-0.106,0.063-0.233c0-0.169-0.021-0.338-0.021-0.422c0.021-0.761,0.042-1.479,0.042-2.177\
    c0-1.944-0.084-3.656-0.084-5.474c0-1.606,0.254-1.986,1.12-1.986C110.006,11.123,110.133,12.412,110.133,13.13z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M24.837,46.648c0,1.437-0.275,1.458-0.846,1.458\
    c-0.549,0-1.057-0.169-1.057-2.071c0-1.205-0.063-2.071-0.063-3.36c0-1.247,0.042-2.473,0.042-3.72\
    c0-1.923-0.105-3.825-0.105-4.691c0-0.042,0.021-0.084,0.021-0.127c0.105-0.465,0.423-0.761,0.93-0.845\
    c0.486-0.084,0.655-0.148,1.12-0.148c2.853,0,4.586,1.184,4.586,3.994c0,2.642-1.986,4.311-4.332,4.776\
    c-0.317,0.063-0.402,0.148-0.402,0.422v0.106C24.773,43.352,24.837,45.803,24.837,46.648z M24.689,39.294v0.274\
    c0.021,0.211,0.063,0.296,0.19,0.296c0.063,0,0.127-0.021,0.211-0.063c0.782-0.338,2.177-1.183,2.177-2.663\
    c0-0.782-0.655-1.754-1.437-1.944c-0.19-0.042-0.38-0.084-0.549-0.084c-0.254,0-0.465,0.084-0.465,0.38\
    C24.815,37.392,24.689,37.455,24.689,39.294z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M33.837,33.208c0.782,0,0.888,2.346,0.888,4.206\
    c0,0.845-0.021,1.585-0.021,1.965c0,1.754-0.084,3.825-0.084,5.664c0,0.169,0.127,0.402,0.296,0.402\
    c0.423,0,0.275-0.021,0.676-0.021c0.74,0,1.733,0.021,2.283,0.338c0.443,0.254,0.57,0.465,0.57,0.93\
    c0,0.951-0.634,1.521-1.712,1.521h-0.465c-0.761,0-0.909,0.085-1.627,0.085c-1.268,0-2.283-0.275-2.367-1.86\
    c-0.021-0.443-0.042-0.93-0.042-1.373v-1.86c0-1.5,0.085-2.896,0.085-4.417c0-0.507-0.021-1.078-0.021-1.648\
    C32.294,35.3,32.442,33.208,33.837,33.208z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M47.931,48.317c-0.845,0-1.162-0.612-1.289-1.353\
    c-0.127-0.718-0.232-1.141-0.338-1.859c-0.021-0.189-0.211-0.338-0.38-0.338h-0.021c-0.211,0.021-0.444,0.042-0.697,0.042\
    c-0.317,0-0.655-0.021-0.951-0.021c-0.169,0-0.338,0-0.486,0.021c-0.254,0.043-0.38,0.275-0.38,0.55\
    c-0.085,1.373-0.296,2.938-1.522,2.938c-0.803,0-0.993-0.359-0.993-0.866c0-0.212,0.021-0.444,0.063-0.698\
    c0.74-4.396,1.775-8.221,3.064-12.215c0.148-0.444,0.317-0.845,0.57-1.247c0.084-0.127,0.444-0.423,0.867-0.423\
    c0.951,0,1.226,1.416,1.395,2.24c0.698,3.614,1.247,7.629,1.987,11.264c0.084,0.38,0.169,0.612,0.169,1.057\
    C48.988,47.853,48.312,48.317,47.931,48.317z M46.05,42.316v-0.063c-0.211-1.775-0.465-3.825-0.824-5.579\
    c-0.021-0.084-0.021-0.169-0.127-0.169h-0.021c-0.127,0-0.084,0.084-0.105,0.169c-0.444,2.029-0.867,3.635-1.205,5.77v0.063\
    c0,0.127,0.042,0.211,0.169,0.211c0.422,0,1.416-0.063,1.902-0.148C45.966,42.548,46.05,42.443,46.05,42.316z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M60.144,35.13c0,0.592,0.021,1.268,0.021,1.585\
    c0,2.853-0.063,5.516-0.063,8.348c0,1.057-0.253,2.642-1.141,2.853c-0.169,0.043-0.338,0.127-0.507,0.127\
    c-1.437,0-2.113-2.726-2.515-3.677c-0.402-0.93-0.613-1.754-1.036-2.642c-0.423-0.888-0.697-1.86-1.184-2.578\
    c-0.042-0.042-0.105-0.275-0.19-0.275c-0.169,0-0.19,0.571-0.19,1.247c0,2.557,0.169,3.571,0.169,5.77\
    c0,1.331-0.021,2.346-1.184,2.346c-0.084,0-0.19,0-0.295-0.021c-0.719-0.084-0.782-1.015-0.782-2.092v-0.803\
    c0-0.635,0.021-1.269,0.021-1.691c0-0.422,0.021-0.803,0.021-1.226v-1.648c0-1.881,0.021-3.593,0.19-5.347\
    c0.106-0.972,0.211-1.733,1.163-1.839h0.126c1.479,0,3.593,6.911,4.607,8.855c0.042,0.084,0.486,0.994,0.57,0.994\
    c0.042,0,0.063-0.106,0.063-0.233c0-0.169-0.021-0.338-0.021-0.422c0.021-0.761,0.042-1.479,0.042-2.177\
    c0-1.944-0.084-3.656-0.084-5.474c0-1.606,0.254-1.986,1.12-1.986C60.017,33.123,60.144,34.412,60.144,35.13z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M72.439,46.648c0,1.437-0.274,1.458-0.846,1.458\
    c-0.549,0-1.057-0.169-1.057-2.071c0-1.205-0.062-2.071-0.062-3.36c0-1.247,0.042-2.473,0.042-3.72\
    c0-1.923-0.105-3.825-0.105-4.691c0-0.042,0.021-0.084,0.021-0.127c0.105-0.465,0.423-0.761,0.93-0.845\
    c0.486-0.084,0.655-0.148,1.12-0.148c2.854,0,4.586,1.184,4.586,3.994c0,2.642-1.986,4.311-4.332,4.776\
    c-0.317,0.063-0.401,0.148-0.401,0.422v0.106C72.375,43.352,72.439,45.803,72.439,46.648z M72.292,39.294v0.274\
    c0.021,0.211,0.063,0.296,0.189,0.296c0.063,0,0.127-0.021,0.212-0.063c0.782-0.338,2.177-1.183,2.177-2.663\
    c0-0.782-0.655-1.754-1.438-1.944c-0.19-0.042-0.38-0.084-0.549-0.084c-0.254,0-0.466,0.084-0.466,0.38\
    C72.417,37.392,72.292,37.455,72.292,39.294z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M80.467,48.085c-0.761-0.401-0.951-1.521-0.951-2.831\
    c0-1.564,0.17-3.53,0.17-5.115c0-1.458,0.062-3.635,0.887-3.635c1.311,0,1.374,1.648,1.374,3.466c0,2.325-0.042,4.396-0.042,6.466\
    c0,0.994,0,1.712-1.078,1.712h-0.147C80.616,48.148,80.531,48.128,80.467,48.085z M80.996,35.955c-0.634,0-1.373-0.613-1.373-1.733\
    c0-1.014,0.422-1.521,0.93-1.521c0.19,0,0.401,0.084,0.612,0.232c0.528,0.401,0.824,1.099,0.824,1.817\
    C81.989,35.574,81.524,35.955,80.996,35.955z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M93.907,35.13c0,0.592,0.021,1.268,0.021,1.585\
    c0,2.853-0.063,5.516-0.063,8.348c0,1.057-0.254,2.642-1.142,2.853c-0.169,0.043-0.338,0.127-0.507,0.127\
    c-1.438,0-2.113-2.726-2.515-3.677c-0.402-0.93-0.613-1.754-1.036-2.642s-0.697-1.86-1.184-2.578\
    c-0.042-0.042-0.105-0.275-0.189-0.275c-0.17,0-0.19,0.571-0.19,1.247c0,2.557,0.169,3.571,0.169,5.77\
    c0,1.331-0.021,2.346-1.184,2.346c-0.085,0-0.19,0-0.296-0.021c-0.719-0.084-0.782-1.015-0.782-2.092v-0.803\
    c0-0.635,0.021-1.269,0.021-1.691c0-0.422,0.021-0.803,0.021-1.226v-1.648c0-1.881,0.021-3.593,0.189-5.347\
    c0.106-0.972,0.212-1.733,1.163-1.839h0.126c1.479,0,3.593,6.911,4.607,8.855c0.042,0.084,0.486,0.994,0.57,0.994\
    c0.043,0,0.063-0.106,0.063-0.233c0-0.169-0.021-0.338-0.021-0.422c0.021-0.761,0.042-1.479,0.042-2.177\
    c0-1.944-0.085-3.656-0.085-5.474c0-1.606,0.254-1.986,1.12-1.986C93.78,33.123,93.907,34.412,93.907,35.13z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M103.224,42.971c0-0.127-0.063-0.19-0.232-0.19h-0.021\
    c-0.782,0-1.374-0.063-2.05-0.063c-0.423,0-0.866-0.274-0.866-0.697c0-0.317,0.147-0.761,0.338-0.93\
    c0.359-0.338,1.268-0.402,2.134-0.402c0.635,0,1.269,0.042,1.628,0.042c0.719,0,1.162,0.613,1.226,1.353\
    c0.085,0.655,0.127,0.993,0.127,1.69c0,3.149-0.951,4.628-4.037,4.628c-3.254,0-4.628-4.079-4.628-7.291\
    c0-3.973,1.438-7.904,5.263-7.904c2.177,0,3.085,1.12,3.085,3.085c0,0.253,0.021,0.549,0.021,0.824\
    c0,0.444-0.063,0.845-0.465,0.909c-0.232,0.042-0.465,0.063-0.697,0.063c-0.824,0-0.931-0.824-0.973-1.522\
    c-0.063-0.972-0.401-1.31-0.846-1.31c-0.761,0-1.817,1.12-2.197,1.944c-0.613,1.332-0.909,2.367-0.909,4.185\
    c0,1.141,0.148,2.05,0.677,2.938c0.232,0.401,0.443,0.803,0.739,1.163c0.338,0.423,0.634,0.866,1.247,0.866\
    C103.203,46.353,103.224,44.091,103.224,42.971z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M116.175,35.617c0,1.754,0.063,3.001,0.063,5.072\
    c0,2.029-0.211,4.016-0.803,5.474c-0.655,1.585-1.944,2.155-3.001,2.155c-4.036,0-4.036-6.466-4.036-10.439v-0.021\
    c0-0.275-0.021-0.698-0.021-1.163c0-1.458,0.127-3.423,1.205-3.423c0.507,0,0.57,1.986,0.57,3.635c0,0.592-0.021,0.38-0.021,0.782\
    c0,0.211,0,0.38,0.021,0.486c0.169,2.155-0.275,8.369,1.859,8.369c1.395-0.148,1.67-5.368,1.67-6.975V38.85\
    c0-0.782-0.085-1.86-0.085-2.79c0-1.606,0.169-2.938,1.585-2.938c0.909,0,0.993,0.528,0.993,1.479V35.617z M110.829,31.242h0.106\
    c0.485,0.126,0.718,0.38,0.718,0.676c0,0.422-0.443,0.866-1.099,0.887h-0.021c-0.147,0-0.296-0.063-0.443-0.126\
    c-0.19-0.084-0.254-0.275-0.254-0.507C109.835,31.623,110.406,31.242,110.829,31.242z M114.189,32.045\
    c0,0.444-0.359,0.909-0.888,0.909c-0.338,0-0.824-0.486-0.824-0.845c0-0.444,0.486-0.803,0.846-0.803\
    C113.915,31.305,114.189,31.665,114.189,32.045z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M120.125,48.085c-0.761-0.401-0.951-1.521-0.951-2.831\
    c0-1.564,0.17-3.53,0.17-5.115c0-1.458,0.062-3.635,0.887-3.635c1.311,0,1.374,1.648,1.374,3.466c0,2.325-0.042,4.396-0.042,6.466\
    c0,0.994,0,1.712-1.078,1.712h-0.147C120.273,48.148,120.188,48.128,120.125,48.085z M120.653,35.955\
    c-0.634,0-1.373-0.613-1.373-1.733c0-1.014,0.422-1.521,0.93-1.521c0.19,0,0.401,0.084,0.612,0.232\
    c0.528,0.401,0.824,1.099,0.824,1.817C121.646,35.574,121.181,35.955,120.653,35.955z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M133.565,35.13c0,0.592,0.021,1.268,0.021,1.585\
    c0,2.853-0.062,5.516-0.062,8.348c0,1.057-0.254,2.642-1.142,2.853c-0.169,0.043-0.338,0.127-0.507,0.127\
    c-1.438,0-2.114-2.726-2.516-3.677c-0.401-0.93-0.613-1.754-1.035-2.642c-0.423-0.888-0.697-1.86-1.184-2.578\
    c-0.042-0.042-0.105-0.275-0.19-0.275c-0.169,0-0.19,0.571-0.19,1.247c0,2.557,0.169,3.571,0.169,5.77\
    c0,1.331-0.021,2.346-1.183,2.346c-0.085,0-0.19,0-0.296-0.021c-0.719-0.084-0.782-1.015-0.782-2.092v-0.803\
    c0-0.635,0.021-1.269,0.021-1.691c0-0.422,0.021-0.803,0.021-1.226v-1.648c0-1.881,0.021-3.593,0.19-5.347\
    c0.105-0.972,0.211-1.733,1.162-1.839h0.127c1.479,0,3.593,6.911,4.607,8.855c0.042,0.084,0.486,0.994,0.57,0.994\
    c0.042,0,0.063-0.106,0.063-0.233c0-0.169-0.021-0.338-0.021-0.422c0.021-0.761,0.043-1.479,0.043-2.177\
    c0-1.944-0.085-3.656-0.085-5.474c0-1.606,0.254-1.986,1.12-1.986C133.438,33.123,133.565,34.412,133.565,35.13z')
    path(fill='#FFFFFF', stroke='#EFEFEF', stroke-miterlimit='10', d='M140.155,33.208c3.001,0,3.571,5.241,3.571,8.665\
    c0,3.382-1.077,6.403-3.846,6.403c-2.409,0-3.36-2.811-3.36-7.439C136.52,38.258,137.323,33.208,140.155,33.208z M141.487,41.788\
    v-0.38c0-2.304-0.043-6.023-1.332-6.023c-0.93,0-1.543,2.747-1.543,5.474c0,2.726,0.359,5.453,1.205,5.453\
    C140.747,46.311,141.487,44.768,141.487,41.788z')
