svg#line-up(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px',preserveAspectRatio="none" viewbox='0 0 827.5 19.5', xml:space='preserve')
  g
    g
      path(fill='none', stroke='#D32622', stroke-width='5', stroke-miterlimit='10', d='M8.619,12.971\
      c68.132-2.02,136.329-2.619,204.486-2.666c126.055-0.087,252.006,5.051,378.055,5.315c76.329,0.159,152.687-0.546,228.991-2.583\
      c0.821-0.021,1.646-0.044,2.468-0.068c2.396-0.068-0.536-3.988-2.238-3.939c-65.588,1.871-131.229,2.5-196.841,2.647\
      C497.92,11.96,372.419,6.942,246.814,6.425C167.529,6.099,88.205,6.767,8.946,8.958C8.091,8.981,7.236,9.005,6.381,9.03\
      C3.983,9.101,6.917,13.021,8.619,12.971L8.619,12.971z')
