svg#message(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',preserveAspectRatio="none", xml:space='preserve' viewBox="0 0 472 219")
  g#message-text
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M144.491,49.654v0.986c0,2.72-1.224,5.711-2.618,7.071\
    c-1.802,2.04-3.808,3.536-6.731,4.25c-0.272,0.067-0.51,0.102-0.782,0.102c-0.85,0-1.836-0.271-2.176-0.884\
    c-0.544-1.088-0.612-3.229-0.612-4.861c0-0.272,0.034-0.578,0.034-0.816c0-4.012,0.102-7.684,0.238-11.559\
    c0.068-1.7-0.102-4.25,0.646-5.542c0.408-0.646,0.884-0.782,1.462-0.782c0.442,0,0.986,0.068,1.563,0.068\
    c0.782,0,1.598,0.136,2.278,0.34c2.006,0.51,3.536,1.87,4.793,4.012C143.914,44.215,144.219,46.628,144.491,49.654z M135.38,56.963\
    c0,0.51,0.034,1.258,0.34,1.258h0.102c0.374-0.204,0.748-0.272,1.088-0.51c0.714-0.442,1.462-0.986,2.108-1.53\
    c1.666-1.394,2.618-3.841,2.618-7.003c0-1.87-0.544-4.147-1.666-5.643c-1.02-1.326-2.278-1.938-4.215-2.074h-0.068\
    c-0.306,0-0.442,0.102-0.442,0.408v3.06c0,0.476,0.034,0.918,0.034,1.394c0,2.278,0.068,3.332,0.068,6.357\
    c0,1.258,0.034,2.448,0.034,3.706v0.306V56.963z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M153.467,61.383c-1.394,0.136-0.85,0.17-3.604,0.17\
    c-1.598,0-3.671-0.544-3.671-2.244v-6.494c0-4.657,0.034-9.655,0.238-13.734c0.068-1.394,2.142-1.496,3.841-1.496\
    c3.026,0,4.692,0.136,4.692,2.618c0,0.884-0.884,1.122-1.938,1.122c-0.136,0-0.272,0-0.408-0.034\
    c-0.85-0.068-1.564-0.272-2.074-0.272c-0.34,0-0.884,0.136-0.884,0.68v0.51c0,1.428,0.068,2.584,0.068,3.842v1.326v0.884\
    c0,0.272,0.034,0.306,0.204,0.306h0.272c0.136,0,1.292,0,1.462,0.034c1.19,0.136,1.87,0.578,1.87,1.734\
    c0,1.02-1.768,1.122-2.821,1.122c-0.918,0.034-0.952,0-0.952,0.374c0,1.224,0.068,2.448,0.068,4.182\
    c0,0.204-0.034,0.884-0.034,1.088c0,0.374,0.136,0.544,0.544,0.612c1.87,0.272,4.624-0.374,4.624,1.734\
    C154.963,60.465,154.283,61.315,153.467,61.383z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M164.483,42.685c-0.952,0-1.394-1.292-2.822-1.292\
    c-2.04,0-2.176,1.632-2.176,1.87c0,3.501,6.494,5.881,6.494,11.695c0,3.297-1.156,7.208-4.862,7.208\
    c-4.25,0-4.963-2.448-4.963-4.148c0-0.442,0.034-0.85,0.102-1.156c0.17-0.884,0.816-1.19,1.428-1.19c0.442,0,0.85,0.17,1.054,0.442\
    c0.476,0.782,0.884,2.312,2.21,2.312c1.292,0,1.53-2.481,1.53-3.264c0-3.943-6.051-5.711-6.051-11.865\
    c0-2.753,0.918-3.943,2.924-5.065c0.714-0.374,2.209-0.578,2.855-0.578c1.054,0,2.006,0.442,2.856,1.088\
    c0.544,0.442,0.782,1.189,0.782,1.938C165.843,41.665,165.436,42.685,164.483,42.685z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M168.938,37.755c3.774,0,5.678,0.204,7.751,2.482\
    c0.646,0.714,0.918,1.7,0.918,2.414c0,1.768-1.326,3.74-2.414,4.42h0.034c2.006,0.952,4.114,3.773,4.114,6.833\
    c0,4.964-2.618,8.058-8.159,8.058c-0.952,0-1.598-0.103-2.618-0.238c-0.68-0.102-0.85-0.408-0.85-1.19V53.19\
    c0-4.998,0.068-10.267,0.374-13.292C168.224,38.843,168.122,37.755,168.938,37.755z M171.215,46.73c1.564,0,3.502-2.04,3.502-3.943\
    c0-1.428-2.04-1.87-3.196-1.87c-0.102,0-0.204,0.034-0.204,0.034c0,0.034-0.034,0.068-0.068,0.204\
    c-0.102,0.782-0.136,1.564-0.136,2.38C171.113,44.623,171.147,45.711,171.215,46.73z M171.556,57.848\
    c0.034,0,0.102,0.034,0.17,0.034c0.408,0,0.85,0.034,1.19,0.034c1.156,0,2.074-0.884,2.379-2.108c0.17-0.476,0.34-1.53,0.34-2.652\
    c0-2.753-0.646-3.909-3.196-3.909c-0.306,0-1.224,0.102-1.224,0.34c0,2.278,0.306,4.147,0.34,8.023V57.848z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M183.625,37.755c1.258,0,1.428,3.774,1.428,6.766\
    c0,1.36-0.034,2.55-0.034,3.162c0,2.822-0.136,6.153-0.136,9.111c0,0.272,0.204,0.646,0.476,0.646c0.68,0,0.442-0.034,1.088-0.034\
    c1.19,0,2.788,0.034,3.672,0.544c0.714,0.408,0.918,0.748,0.918,1.496c0,1.53-1.02,2.448-2.754,2.448h-0.748\
    c-1.224,0-1.462,0.136-2.618,0.136c-2.04,0-3.671-0.441-3.808-2.991c-0.034-0.714-0.068-1.496-0.068-2.21v-2.992\
    c0-2.414,0.136-4.658,0.136-7.105c0-0.816-0.034-1.734-0.034-2.651C181.144,41.121,181.382,37.755,183.625,37.755z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M198.212,37.79c2.176,0,3.808,3.094,4.657,5.337\
    c0.544,2.074,0.816,4.318,0.816,5.439c0,5.032-0.68,13.428-6.085,13.428c-2.89,0-4.589-2.243-5.745-4.793\
    c-0.714-1.632-0.816-3.944-0.816-6.018C191.039,45.643,193.69,37.79,198.212,37.79z M194.608,51.592\
    c0,3.162,0.748,6.663,2.855,6.663c2.652,0,2.992-5.542,2.992-8.941v-0.748c0-1.598-0.918-7.445-2.583-7.445\
    C195.56,41.121,194.608,48.294,194.608,51.592z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M220.176,51.184c0,3.638-1.122,6.697-2.958,8.533\
    c0.068,1.428,0.102,2.618,0.646,2.618c1.427,0,0.646-3.162,1.938-3.162h0.102c0.918,0.102,1.19,1.36,1.19,2.516\
    c0,2.278-1.259,4.386-3.468,4.386c-2.379,0-3.025-2.38-3.094-4.352h-1.734c-4.352,0-7.377-6.425-7.377-10.573v-0.034\
    c0-5.779,1.768-13.633,7.921-13.633C219.394,37.483,220.176,45.099,220.176,51.184z M208.378,50.674\
    c0,3.162,2.312,6.969,5.576,6.969c0.068,0,0.136-0.034,0.204-0.034c-0.068-0.476-0.204-1.19-0.612-1.632\
    c-0.782-0.782-1.972-0.068-2.448-1.02c-0.136-0.238-0.204-0.51-0.204-0.748c0-0.646,0.408-1.19,1.156-1.292\
    c0.306-0.034,0.646-0.068,0.952-0.068c0.748,0,1.496,0.136,2.006,0.646c0.952,0.952,0.85,1.122,1.292,2.006\
    c0.51-0.986,0.85-2.482,0.85-4.726c0-3.944-0.17-10.607-4.215-10.607C210.895,40.169,208.378,45.473,208.378,50.674z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M228.2,61.723c-5.338,0-6.663-6.153-6.663-12.273\
    c0-1.835,0.067-4.08,0.067-5.609c0-2.142,0.136-4.215,0.544-5.303c0.272-0.748,1.258-0.782,1.564-0.782\
    c0.985,0,0.884,2.244,0.985,3.094c0.51,5.609-0.985,16.999,3.604,16.999h0.034c2.924,0,2.855-6.936,3.264-10.709\
    c0.271-2.55,0.306-8.839,2.04-8.839c1.292,0,1.563,1.258,1.563,2.72c0,0.476-0.034,0.918-0.034,1.36\
    c0,1.292,0.034,2.584,0.034,3.842c0,3.4-0.136,6.664-1.02,9.587C232.857,60.091,231.191,61.723,228.2,61.723z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M237.448,52.068v-6.323c0-1.53,0.034-3.229,0.137-5.1v-0.952\
    c0-1.19,0.136-1.972,1.224-1.972c1.938,0,1.462,0.034,3.502,0.034h0.476c1.496,0,3.332,0.068,3.332,1.496\
    c0,1.632-0.884,1.666-2.278,1.666h-0.136h-1.53c-0.577,0-0.918,0-0.918,0.612v0.34c0,1.462-0.033,2.958-0.033,4.352\
    c0,0.646,0,0.646-0.034,0.646v0.408c0.034,0.544,0.611,0.612,1.189,0.612c0.442,0,0.477,0,0.477,0.034h0.271\
    c0.952,0,1.87,0.034,1.87,1.734v0.272c-0.068,0.986-0.918,1.122-1.904,1.122c-0.441,0-1.495-0.034-1.903-0.034\
    c-0.17,0-0.238,2.958-0.238,3.773c0,0.884,0.068,1.972,0.068,2.21c0,0.578,0.102,1.088,0.646,1.088h0.034\
    c1.53,0,1.36-0.034,2.89-0.034c1.088,0,1.632,0.476,1.632,1.768c0,0.102-0.034,0.238-0.034,0.34\
    c-0.067,1.326-0.714,1.564-1.768,1.564c-0.68,0-1.563-0.102-2.584-0.102c-1.02,0-2.006-0.034-2.72-0.034h-0.034\
    c-1.495,0-1.768-0.442-1.768-1.394C237.312,57.609,237.448,54.686,237.448,52.068z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M248.498,61.383c-1.156,0-1.462-0.714-1.462-1.598\
    c0-0.646,0.306-1.7,0.407-2.209c0.544-2.686,1.462-5.304,2.176-7.785c1.088-4.08,1.904-8.159,3.774-11.457\
    c0.204-0.34,0.646-0.544,1.054-0.544c0.034,0,0.102,0.034,0.136,0.034c0.85,0.17,1.598,1.87,1.972,4.045\
    c1.156,6.323,1.598,10.029,2.992,15.911c0.204,0.85,0.646,1.87,0.646,2.651c0,0.748-0.408,1.326-1.836,1.326\
    c-0.34,0-0.68-0.102-0.884-0.34c-0.884-0.986-1.122-2.992-1.529-4.521c-0.374-0.34-0.782-0.374-1.225-0.442\
    c-1.121-0.17-2.346-0.238-3.331-0.238c-0.578,0-0.884,1.02-0.952,1.7C250.3,59.582,250.027,61.383,248.498,61.383z M254.107,53.19\
    c0.441,0,0.815-0.068,0.951-0.238c0-0.136-0.033-0.238-0.067-0.408c-0.477-2.686-0.851-5.065-1.122-7.717\
    c0-0.102-0.034-0.136-0.136-0.204c-0.136,0.102-0.374,1.02-0.374,1.19c-0.307,1.802-0.816,3.501-1.122,5.303\
    c-0.102,0.442-0.374,1.292-0.374,1.768c0,0.17,0.238,0.204,0.51,0.204C252.747,53.088,253.495,53.19,254.107,53.19z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M274.745,57.746c0.714,0,1.428-0.068,2.073-0.068\
    c1.156,0,2.04,0.272,2.04,1.802c0,1.768-1.733,2.176-2.447,2.244c-0.918,0.102-0.578,0.102-1.021,0.102\
    c-0.544,0-2.006-0.102-3.161-0.102c-1.496,0-2.312-1.088-2.448-2.788c-0.034-0.408-0.034-0.782-0.034-1.122\
    c0-0.986,0.068-1.836,0.103-2.788V54.38c0-0.884-0.034-1.768-0.034-2.652v-0.476c0.102-4.692-0.102-7.547,0.51-11.117\
    c0.204-0.986,1.021-2.006,2.006-2.006c1.462,0,1.563,0.646,1.563,1.7v0.408c0,0.408-0.033,0.884-0.033,1.36v0.816\
    c0,2.448-0.137,4.828-0.137,7.173c0,2.38,0.103,5.201,0.103,7.615C273.861,57.609,274.337,57.746,274.745,57.746z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M291.132,62.063c-1.359,0-1.869-0.986-2.073-2.176\
    c-0.204-1.156-0.374-1.836-0.544-2.992c-0.034-0.306-0.34-0.544-0.612-0.544h-0.034c-0.34,0.034-0.714,0.068-1.122,0.068\
    c-0.51,0-1.054-0.034-1.529-0.034c-0.272,0-0.544,0-0.782,0.034c-0.407,0.068-0.611,0.442-0.611,0.884\
    c-0.137,2.209-0.477,4.725-2.448,4.725c-1.292,0-1.598-0.578-1.598-1.394c0-0.34,0.034-0.714,0.102-1.122\
    c1.19-7.071,2.856-13.225,4.93-19.65c0.238-0.714,0.51-1.36,0.918-2.006c0.136-0.204,0.714-0.68,1.394-0.68\
    c1.53,0,1.973,2.278,2.244,3.604c1.122,5.813,2.006,12.273,3.195,18.12c0.137,0.612,0.272,0.986,0.272,1.7\
    S291.744,62.063,291.132,62.063z M288.106,52.408v-0.102c-0.34-2.856-0.748-6.153-1.326-8.975\
    c-0.034-0.136-0.034-0.272-0.204-0.272h-0.033c-0.204,0-0.137,0.136-0.17,0.272c-0.715,3.264-1.395,5.847-1.938,9.281v0.102\
    c0,0.204,0.068,0.34,0.272,0.34c0.68,0,2.277-0.102,3.06-0.238C287.971,52.782,288.106,52.612,288.106,52.408z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M303.713,43.127c0,1.53-0.816,1.972-1.462,1.972\
    c-0.816,0-1.734-0.51-1.734-2.005c0-0.816-0.033-2.312-2.006-2.312c-1.02,0-1.835,1.326-1.835,2.38\
    c0,3.943,8.022,6.051,8.022,13.088c0,1.428-0.306,2.822-1.088,3.944c-1.258,1.734-2.312,2.142-4.896,2.142\
    c-2.924,0-5.473-2.958-5.473-6.664c0-1.326,0.68-2.788,2.073-2.788c0.952,0,1.258,0.986,1.292,1.461\
    c0.136,2.142,0.17,4.216,2.277,4.216c1.53,0,2.108-1.598,2.108-2.89c0-6.255-7.615-6.425-7.615-12.171\
    c0-3.127,1.972-5.847,4.963-5.847C302.727,37.654,303.713,40.067,303.713,43.127z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M73.616,86.899c-0.188,0-0.564,0.188-0.752,0.47\
    c-2.162,1.88-5.076,7.05-7.238,9.211c-0.939,0.94-2.162,1.41-3.29,1.41c-1.786,0-3.478-1.315-3.478-4.229\
    c0-0.471,0.188-1.034,0.47-1.598c2.068-4.889,9.87-19.27,16.073-19.27c0.564,0,1.034,0.094,1.598,0.282\
    c1.316,0.563,2.632,1.034,3.478,2.35c2.819,3.948,3.195,17.201,3.195,28.669c0,4.512-0.094,7.425-0.094,10.715v0.094\
    c0,3.572-0.188,7.05-0.188,10.527c0,1.034,0,2.068,0.094,3.102c0,0.752,0.376,1.129,0.939,1.129c3.854,0,9.775,0.563,9.775,5.169\
    c-0.658,5.358-9.117,4.794-15.979,4.981c-0.846,0.095-1.692,0.095-2.444,0.095c-2.726,0-5.357-0.095-7.896-0.095\
    c-2.35,0-3.76-0.657-3.76-4.605c0-3.666,5.828-4.418,8.836-4.418h0.376c1.315,0,1.41-0.939,1.41-2.161v-1.222\
    c0-11.75,0-24.721-0.282-36.376C74.462,90.188,74.368,86.899,73.616,86.899z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M95.142,124.684c0-2.256,1.128-4.981,3.478-4.981\
    c0.47,0,1.034,0.094,1.598,0.47c4.042,1.974,1.974,12.125,8.741,12.125c7.708,0,8.271-8.271,8.271-15.133v-3.008\
    c0-0.752-0.094-1.316-0.752-1.316c-0.939,0-1.88,0.377-2.914,0.377c-9.399,0-18.799-5.734-18.799-17.014\
    c0-14.287,5.64-23.028,15.885-23.028c5.733,0,15.885,2.914,15.885,17.013v8.084c0,6.109-0.094,12.595-0.658,19.927\
    c-0.939,11.279-2.914,22.464-16.354,22.464c-13.911,0-13.629-11.279-14.287-15.039C95.142,125.342,95.142,124.966,95.142,124.684z\
    M114.787,103.723c1.315,0,2.538,0,2.632-1.41c0.094-2.35,0.188-9.775,0.188-12.125c0-7.52-4.136-8.459-6.861-8.459\
    c-4.794,0-6.58,7.707-6.58,14.193C104.166,101.843,108.771,103.723,114.787,103.723z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M181.902,139.065h-0.094c-1.504,0-3.102-0.846-4.23-2.537\
    c-5.545-8.742-9.211-20.773-12.501-30.549c-0.094-0.47-0.376-1.598-1.034-1.598c-0.376,0.094-0.47,0.939-0.47,1.786v2.161\
    c0.47,8.46,0.188,16.92,0.564,26.131v0.376c0,3.008-1.222,4.794-4.23,4.794c-0.658,0-1.504-0.188-2.162-0.658\
    c-2.726-1.504-3.102-4.042-3.102-7.237c0-1.316,0.094-2.726,0.094-4.324c0-11.185,0.188-21.148,0.188-32.239\
    c0-3.196,0.188-12.031,0.846-16.638c0.658-4.699,1.88-5.264,4.793-5.264h1.692c11.561,0,23.592,0.847,23.592,13.724\
    c0,8.647-6.486,14.475-12.407,16.449c-0.564,0.188-0.752,0.563-0.752,0.939c0,0.282,0.094,0.564,0.282,0.939\
    c4.136,7.238,5.076,12.689,9.399,19.833c1.504,2.444,2.256,4.136,3.29,6.956c0.282,0.939,0.47,1.785,0.47,2.537\
    C186.132,137.467,184.158,139.065,181.902,139.065z M164.701,81.635c-1.034,0-1.504,0.188-1.598,1.222\
    c-0.282,1.315-0.376,2.632-0.376,4.136c0,2.914,0.376,6.016,0.564,8.93c0,0.563,0.282,0.846,0.658,0.846\
    c5.734,0,14.1-4.982,14.1-10.34c0-3.384-10.246-4.793-13.253-4.793H164.701z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M202.113,139.723h-2.256c-3.102,0-7.144-0.188-8.178-2.256\
    c-0.846-1.786-0.939-5.451-0.939-8.836v-4.417V121.3c0-12.877-0.47-24.345-0.47-36.657c0-1.786-0.188-3.479-0.188-4.889\
    c0-2.537,0.47-4.512,3.008-5.075c1.786-0.47,9.117-0.752,11.749-0.752h0.752c4.794,0,8.271,0.188,8.271,5.264\
    c0,2.914-3.384,4.794-6.673,4.794c-2.068,0-0.282,0.094-2.444,0.094c-1.316,0-3.196-0.094-4.136-0.094\
    c-0.846,0-1.222,0.281-1.222,1.315v5.64v0.188c0,2.632,0,5.169,0.188,7.05c0.094,1.785,0.376,2.161,1.786,2.161\
    c0.282,0,7.144-0.094,7.332-0.094c0.752,0,4.042,0.188,4.042,5.733c0,2.35-0.939,4.605-6.203,4.605\
    c-0.282,0-0.564-0.094-0.94-0.094c-1.974,0-5.921,0.188-5.921,2.35c0,3.666-0.094,9.87-0.094,13.254\
    c0,0.563,0.094,1.128,0.658,1.128h3.854c5.828,0,9.775,0.47,9.775,5.921C213.862,138.971,208.787,139.723,202.113,139.723z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M234.166,128.162c1.691,0,4.605-0.846,6.203-2.913\
    c1.129-1.504,1.504-4.794,3.572-4.794c3.947,0,5.076,2.726,5.076,5.64c0,2.067-0.658,4.323-1.223,5.545\
    c-2.256,4.7-7.989,8.554-13.253,8.554c-12.877,0-18.705-13.065-18.705-31.77c0-17.953,1.034-35.342,18.894-35.342\
    c6.861,0,14.944,4.794,14.944,14.569c0,1.974-0.282,3.76-2.067,4.041c-1.034,0.188-2.068,0.282-3.102,0.282\
    c-3.385,0-3.948-2.162-4.137-4.323c-0.188-2.82-3.195-4.512-6.297-4.512c-7.332,0-7.896,10.339-7.896,19.456v4.794\
    C226.177,116.789,227.305,128.162,234.166,128.162z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M254.564,113.029V95.545c0-4.229,0.094-8.929,0.376-14.099v-2.632\
    c0-3.29,0.376-5.451,3.384-5.451c5.357,0,4.041,0.094,9.682,0.094h1.315c4.136,0,9.212,0.188,9.212,4.136\
    c0,4.512-2.444,4.605-6.298,4.605h-0.376h-4.23c-1.598,0-2.537,0-2.537,1.692v0.939c0,4.042-0.094,8.178-0.094,12.031\
    c0,1.786,0,1.786-0.095,1.786v1.128c0.095,1.504,1.692,1.691,3.29,1.691c1.222,0,1.316,0,1.316,0.094h0.752\
    c2.631,0,5.169,0.095,5.169,4.794v0.752c-0.188,2.726-2.538,3.103-5.264,3.103c-1.222,0-4.136-0.095-5.264-0.095\
    c-0.47,0-0.657,8.178-0.657,10.434c0,2.444,0.188,5.452,0.188,6.109c0,1.599,0.282,3.008,1.786,3.008h0.094\
    c4.229,0,3.76-0.094,7.989-0.094c3.008,0,4.512,1.315,4.512,4.888c0,0.282-0.094,0.658-0.094,0.939\
    c-0.188,3.666-1.974,4.324-4.888,4.324c-1.88,0-4.323-0.282-7.144-0.282s-5.546-0.094-7.52-0.094h-0.094\
    c-4.136,0-4.888-1.222-4.888-3.854C254.188,128.35,254.564,120.266,254.564,113.029z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M307.297,84.079h-1.599c-0.188,0-0.657-0.094-1.222-0.094\
    c-0.939,0-1.974,0.188-2.068,1.41c-0.375,7.049-0.375,14.099-0.375,21.336v15.791c0,2.444,0.188,7.426,0.188,9.775\
    c0,5.076-0.658,7.238-5.264,7.238c-2.068,0-3.195-2.162-3.195-6.486c0-10.151,0.094-17.389,0.094-26.788\
    c0-7.896-0.188-12.783-0.188-20.585v-0.281c0-1.223-1.222-1.41-2.443-1.41c-0.376,0-0.752,0.094-1.128,0.094h-1.504\
    c-1.786,0-1.692,0.094-2.727,0.094c-2.256,0-3.947-1.033-3.947-5.64c0-4.605,1.88-5.075,6.298-5.169\
    c1.315-0.095,2.726-0.095,4.136-0.095h5.075c2.444,0,4.981,0,7.426-0.094h1.504c5.452,0,7.237,0,7.237,4.418\
    C313.594,83.42,310.586,84.079,307.297,84.079z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M327.884,126.846c-2.538,0-6.392-0.282-7.613-0.282\
    c-0.376,0-0.846,0.563-1.034,1.41c-0.376,1.88-0.846,3.947-1.033,6.016c-0.377,3.854-1.129,5.546-3.666,5.546\
    c-1.41,0-2.914-0.658-4.042-1.692c-0.846-0.846-1.128-2.067-1.128-3.666v-0.282c0.188-7.801,8.93-60.438,15.604-60.438\
    c6.485,0,8.553,11.091,9.398,15.32c2.256,10.716,6.11,28.199,8.836,41.922c0.376,1.974,0.939,3.76,0.939,5.17\
    s-0.563,2.537-2.726,3.289c-1.222,0.471-2.538,0.658-3.571,0.658c-1.504,0-2.444-0.658-3.102-1.88\
    c-0.564-2.256-0.847-3.478-1.223-5.733c-0.281-1.504-0.47-2.82-0.752-4.229c-0.281-1.128-0.47-1.41-0.939-1.41\
    C330.704,126.564,329.388,126.846,327.884,126.846z M320.364,116.413c0,0.939,0.847,1.128,1.599,1.128\
    c0.281,0,0.47-0.094,0.657-0.094h0.095c1.879,0,4.699-0.376,6.768-0.376c0.563,0,0.752-0.282,0.752-0.94\
    c0-0.939-4.606-26.882-4.7-26.882c-0.47,0-0.94,4.323-1.128,4.981c-1.41,5.922-3.008,13.911-4.042,21.9V116.413z')
    path(fill='#686868', stroke='#4F4F4F', stroke-miterlimit='10', d='M374.602,88.308c0,4.229-2.256,5.452-4.042,5.452\
    c-2.256,0-4.794-1.41-4.794-5.546c0-2.256-0.094-6.392-5.545-6.392c-2.82,0-5.076,3.666-5.076,6.58\
    c0,10.902,22.183,16.73,22.183,36.188c0,3.947-0.846,7.801-3.008,10.903c-3.478,4.794-6.392,5.921-13.535,5.921\
    c-8.083,0-15.133-8.177-15.133-18.422c0-3.666,1.88-7.708,5.733-7.708c2.632,0,3.479,2.726,3.572,4.042\
    c0.376,5.922,0.47,11.655,6.297,11.655c4.23,0,5.828-4.418,5.828-7.989c0-17.295-21.055-17.766-21.055-33.65\
    c0-8.647,5.451-16.167,13.723-16.167C371.876,73.175,374.602,79.849,374.602,88.308z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M100.77,163.275c0.714-4.012,2.482-9.961,9.009-9.961\
    c0.918,0,1.87,0.236,2.923,0.781c2.38,1.258,3.672,4.385,4.216,7.445c0.17,1.053,0.374,2.141,0.408,3.195\
    c0,0.408,0.034,0.781,0.034,1.189c0,3.91-0.918,7.174-2.992,9.248c-0.136,0.17-0.408,0.34-0.408,0.611\
    c0,0.102,0.034,0.238,0.17,0.375c0.646,0.746,1.428,1.461,2.074,2.242c0.238,0.307,0.34,0.613,0.34,0.885\
    c0,0.781-0.782,1.326-1.632,1.326c-0.51,0-1.054-0.205-1.428-0.646c-0.578-0.646-1.122-1.189-1.734-1.801\
    c-0.272-0.273-0.578-0.408-0.918-0.408c-0.068,0-0.17,0.033-0.238,0.033c-0.306,0.068-0.646,0.068-0.986,0.068\
    c-2.074,0-3.298-0.068-4.726-1.088c-2.822-2.041-4.386-5.236-4.386-10.029C100.498,165.586,100.566,164.396,100.77,163.275z\
    M108.487,171.57c0.442,0,0.782,0.203,1.054,0.441c0.51,0.477,0.952,0.918,1.462,1.359c0.374,0.34,0.51,0.68,0.782,0.68\
    c0,0,0.136-0.34,0.51-0.814c1.428-1.734,1.87-4.352,1.87-7.379c0-3.977-0.544-9.893-4.589-9.893c-2.278,0-4.25,3.809-4.691,5.848\
    c-0.306,1.395-0.408,2.822-0.476,4.25v0.477c0,1.258,0.17,2.48,0.578,3.67c0.68,1.904,1.462,4.08,3.876,4.352\
    c-0.204-0.406-0.612-0.713-0.85-0.883c-0.374-0.271-0.51-0.715-0.51-1.123C107.501,171.74,107.875,171.57,108.487,171.57z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M118.893,161.848v-1.293v-0.543c0-0.986,0.136-2.244,0.34-3.367\
    c0.374-1.902,1.258-2.787,2.107-2.787c1.054,0,1.564,1.258,1.768,3.467c0.068,0.578,0.102,1.225,0.102,1.939\
    c0,2.617-0.34,6.188-0.34,9.008c0,3.4,1.02,6.119,3.229,6.119c1.904,0,2.855-1.428,3.366-3.059\
    c2.142-6.867-0.136-17.781,2.89-17.781c1.496,0,1.53,1.734,1.53,3.332v0.102c0,0.885-0.034,1.803-0.136,2.584\
    c-0.408,4.658-0.238,9.52-1.802,13.293c-0.986,2.551-2.584,4.113-4.25,4.93c-0.544,0.271-1.189,0.271-1.972,0.271\
    C119.096,178.062,118.893,169.121,118.893,161.848z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M139.903,177.723h-0.815c-1.122,0-2.584-0.068-2.958-0.816\
    c-0.306-0.645-0.34-1.971-0.34-3.195v-1.598v-1.053c0-4.658-0.17-8.807-0.17-13.26c0-0.646-0.068-1.258-0.068-1.768\
    c0-0.918,0.17-1.631,1.088-1.836c0.646-0.17,3.298-0.271,4.25-0.271h0.272c1.734,0,2.992,0.068,2.992,1.904\
    c0,1.053-1.224,1.732-2.414,1.732c-0.748,0-0.102,0.035-0.884,0.035c-0.476,0-1.156-0.035-1.496-0.035\
    c-0.306,0-0.442,0.104-0.442,0.477v2.039v0.068c0,0.953,0,1.871,0.068,2.551c0.034,0.645,0.136,0.781,0.646,0.781\
    c0.102,0,2.583-0.033,2.651-0.033c0.272,0,1.462,0.066,1.462,2.072c0,0.852-0.34,1.666-2.244,1.666\
    c-0.102,0-0.204-0.033-0.34-0.033c-0.714,0-2.142,0.068-2.142,0.85c0,1.326-0.034,3.57-0.034,4.793\
    c0,0.205,0.034,0.408,0.238,0.408h1.394c2.107,0,3.536,0.17,3.536,2.143C144.153,177.451,142.317,177.723,139.903,177.723z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M157.413,160.248v-2.141c0-0.408,0-0.611-0.306-0.611h-0.068\
    c-0.51,0.033-0.782,0.033-1.054,0.033h-0.918c-1.224-0.068-1.428-1.156-1.428-1.938c0-0.885,0.646-1.701,1.666-1.734\
    c3.434-0.068,3.366-0.307,6.663-0.307c1.972,0,2.822,0.715,2.822,1.701v0.068c0,1.324-0.034,2.141-2.312,2.242\
    c-0.68,0.035-0.306,0.035-1.054,0.068c-0.544,0.035-0.612,0.102-0.612,0.646v0.068c0,3.365,0.102,6.527,0.102,9.723\
    c0,1.156-0.034,2.244-0.034,3.332c0,0.68,0.034,1.496,0.034,2.311c0,0.408,0,0.816-0.034,1.225\
    c-0.136,2.074,0.306,3.195-1.768,3.195c-1.326,0-1.462-1.631-1.462-3.127v-1.225v-1.326\
    C157.651,168.238,157.413,164.43,157.413,160.248z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M173.222,177.383c-1.394,0.137-0.85,0.17-3.604,0.17\
    c-1.598,0-3.671-0.543-3.671-2.244v-6.492c0-4.658,0.034-9.656,0.238-13.734c0.068-1.395,2.142-1.496,3.841-1.496\
    c3.026,0,4.692,0.135,4.692,2.617c0,0.885-0.884,1.121-1.938,1.121c-0.136,0-0.272,0-0.408-0.033\
    c-0.85-0.068-1.564-0.271-2.074-0.271c-0.34,0-0.884,0.135-0.884,0.68v0.51c0,1.428,0.068,2.584,0.068,3.842v1.326v0.883\
    c0,0.273,0.034,0.307,0.204,0.307h0.272c0.136,0,1.292,0,1.462,0.033c1.19,0.137,1.87,0.578,1.87,1.734\
    c0,1.02-1.768,1.123-2.821,1.123c-0.918,0.033-0.952,0-0.952,0.373c0,1.225,0.068,2.447,0.068,4.182\
    c0,0.203-0.034,0.885-0.034,1.088c0,0.373,0.136,0.543,0.544,0.611c1.87,0.273,4.624-0.373,4.624,1.734\
    C174.718,176.465,174.038,177.314,173.222,177.383z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M187.4,153.756c1.156,0,1.496,3.773,1.496,8.262v0.17\
    c0,5.881-0.034,12.068-0.034,13.461c0,1.803-1.088,2.109-1.802,2.109s-1.19-0.852-1.428-1.361c-1.224-2.686-2.379-5.574-3.671-8.26\
    c-0.34-0.715-1.462-4.217-1.734-4.965c-0.068-0.203-0.17-0.34-0.238-0.34s-0.102,0.104-0.102,0.307\
    c0,0.713,0.034,1.428,0.034,2.143c0,1.902,0.17,4.793,0.17,6.969c0,0.918,0.034,1.768,0.034,2.549c0,2.176-0.714,2.959-2.108,2.959\
    c-0.917,0-1.53-0.238-1.53-2.584v-5.609v-1.598v-1.395c0-2.074,0-5.236,0.238-7.275c0.238-1.768,0.68-5.508,2.481-5.508\
    c0.68,0,1.598,1.768,2.414,3.877c2.006,4.963,2.448,6.799,3.773,10.811c0.034,0.068,0.102,0.102,0.136,0.102\
    c0.102,0,0.17-0.34,0.17-0.885c0-1.902-0.51-6.357-0.51-8.736C185.19,156.135,185.632,153.756,187.4,153.756z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M190.699,169.803c0-5.033,0.238-9.555,0.238-14.721\
    c0-1.191,0.986-1.361,1.87-1.361h0.476c1.734,0,2.958,0.137,4.59,0.137c0.612,0,0.952,0.137,1.292,0.85\
    c0.102,0.205,0.136,0.885,0.136,1.123v0.066c0,0.682-0.714,1.191-1.394,1.191h-3.569c-0.17,0-0.238,0.135-0.238,0.408\
    c0,1.971-0.068,4.725-0.068,6.594c0,0.613,0.17,0.646,0.782,0.715c1.496,0.135,3.57-0.137,3.57,1.121\
    c0,0.783-0.136,2.143-1.088,2.143c-0.68,0-2.244,0.203-3.026,0.203c-0.136,0-0.17,0.137-0.17,0.34c0,1.428,0.034,3.502,0.034,5.338\
    v0.035v0.033c0,0.373,0.612,0.408,1.054,0.408c3.332,0,4.148,0.305,4.148,1.359c0,1.293-0.714,2.039-2.584,2.039h-1.632\
    c-0.238,0-0.442,0.035-0.68,0.035c-0.51,0-2.448-0.102-2.822-0.477c-0.782-0.816-0.884-1.428-0.884-2.379v-0.273\
    c0-0.713-0.034-1.732-0.034-2.48V169.803z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M204.366,163.105c0,0.17,0.034,0.305,0.034,0.441\
    c0,1.189,0.102,1.598,0.102,2.617c0,1.225,0.068,1.803,0.068,3.91v3.977c0,2.516-0.306,4.012-2.04,4.012\
    c-0.136,0-0.272,0-0.408-0.033c-0.952-0.17-1.156-1.973-1.156-3.943c0-5.201,0.204-9.52,0.204-14.652\
    c0-1.768,0.068-5.439,1.428-5.916c0.102-0.033,0.17-0.033,0.272-0.033c0.272,0,0.578,0.102,0.918,0.305\
    c1.632,0.986,2.481,3.979,3.094,5.746c0.238,0.713,0.374,1.461,0.578,2.176c0.102,0.441,1.292,5.404,1.496,5.404\
    c0.306,0,4.487-10.436,4.861-11.49c0.204-0.543,1.156-1.529,1.598-1.836c0.204-0.135,0.442-0.203,0.714-0.203\
    c1.428,0,1.903,2.006,2.039,4.656c0.068,1.6,0.103,2.789,0.103,3.809v1.529c0,3.365,0.238,6.936,0.238,10.336v1.121\
    c0,1.598-0.137,2.891-1.564,2.891c-0.917,0-1.87-0.238-2.176-1.258c-0.544-1.871-0.646-3.809-0.646-6.119v-0.035\
    c0-1.971,0.068-3.977,0.068-5.881c0-0.85,0-0.238-0.068-1.055c0-0.102-0.034-0.17-0.17-0.17c-0.544,0-3.74,12.477-4.794,12.715\
    h-0.136c-0.17,0-0.34-0.068-0.442-0.135c-2.346-1.803-3.026-9.588-3.672-12.783c-0.034-0.17-0.102-0.51-0.306-0.51h-0.034\
    C204.4,162.73,204.366,162.9,204.366,163.105z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M227.383,153.789c2.176,0,3.808,3.094,4.658,5.338\
    c0.544,2.074,0.815,4.318,0.815,5.439c0,5.031-0.68,13.428-6.085,13.428c-2.89,0-4.59-2.242-5.746-4.793\
    c-0.714-1.631-0.815-3.943-0.815-6.018C220.21,161.643,222.861,153.789,227.383,153.789z M223.779,167.592\
    c0,3.162,0.748,6.664,2.855,6.664c2.652,0,2.992-5.541,2.992-8.941v-0.748c0-1.598-0.918-7.445-2.584-7.445\
    C224.731,157.121,223.779,164.295,223.779,167.592z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M242.479,158.686c-0.952,0-1.394-1.293-2.821-1.293\
    c-2.04,0-2.176,1.633-2.176,1.871c0,3.5,6.493,5.881,6.493,11.693c0,3.299-1.156,7.209-4.861,7.209\
    c-4.25,0-4.964-2.449-4.964-4.148c0-0.441,0.034-0.85,0.102-1.156c0.17-0.883,0.816-1.189,1.429-1.189\
    c0.441,0,0.85,0.17,1.054,0.441c0.476,0.783,0.884,2.312,2.21,2.312c1.291,0,1.529-2.482,1.529-3.264\
    c0-3.943-6.052-5.711-6.052-11.865c0-2.754,0.918-3.943,2.924-5.064c0.714-0.375,2.21-0.578,2.856-0.578\
    c1.054,0,2.006,0.441,2.855,1.088c0.544,0.441,0.781,1.189,0.781,1.938C243.838,157.666,243.431,158.686,242.479,158.686z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M257.438,175.377c0,2.312-0.441,2.346-1.359,2.346\
    c-0.884,0-1.7-0.271-1.7-3.332c0-1.938-0.102-3.33-0.102-5.404c0-2.006,0.067-3.979,0.067-5.984c0-3.094-0.17-6.152-0.17-7.547\
    c0-0.068,0.034-0.135,0.034-0.203c0.17-0.748,0.68-1.225,1.496-1.361c0.781-0.135,1.054-0.236,1.802-0.236\
    c4.589,0,7.377,1.902,7.377,6.424c0,4.25-3.195,6.936-6.969,7.684c-0.511,0.102-0.646,0.238-0.646,0.68v0.17\
    C257.337,170.074,257.438,174.018,257.438,175.377z M257.201,163.547v0.441c0.033,0.34,0.102,0.477,0.306,0.477\
    c0.102,0,0.204-0.035,0.34-0.102c1.258-0.545,3.502-1.904,3.502-4.285c0-1.258-1.055-2.82-2.312-3.127\
    c-0.306-0.068-0.611-0.137-0.884-0.137c-0.408,0-0.748,0.137-0.748,0.613C257.404,160.486,257.201,160.588,257.201,163.547z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M264.614,177.383c-1.156,0-1.462-0.713-1.462-1.598\
    c0-0.646,0.306-1.699,0.407-2.209c0.544-2.686,1.462-5.305,2.176-7.785c1.088-4.08,1.904-8.16,3.774-11.457\
    c0.203-0.34,0.646-0.545,1.054-0.545c0.034,0,0.102,0.035,0.136,0.035c0.85,0.17,1.598,1.869,1.972,4.045\
    c1.156,6.324,1.598,10.029,2.992,15.91c0.204,0.85,0.646,1.869,0.646,2.652c0,0.748-0.408,1.326-1.836,1.326\
    c-0.34,0-0.68-0.104-0.884-0.34c-0.884-0.986-1.122-2.992-1.529-4.521c-0.374-0.342-0.782-0.375-1.225-0.443\
    c-1.122-0.17-2.346-0.238-3.331-0.238c-0.578,0-0.884,1.021-0.952,1.701C266.416,175.582,266.144,177.383,264.614,177.383z\
    M270.224,169.189c0.441,0,0.815-0.068,0.951-0.238c0-0.135-0.033-0.236-0.067-0.406c-0.477-2.688-0.85-5.066-1.122-7.719\
    c0-0.102-0.034-0.135-0.136-0.203c-0.137,0.102-0.374,1.02-0.374,1.189c-0.306,1.803-0.816,3.502-1.122,5.303\
    c-0.102,0.443-0.374,1.293-0.374,1.77c0,0.17,0.238,0.203,0.51,0.203C268.863,169.088,269.611,169.189,270.224,169.189z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M287.461,177.281c-1.292,0-2.788-2.617-3.366-3.467\
    c-0.85-1.156-3.434-6.732-3.434-6.732c-0.034-0.102-0.271-0.713-0.408-0.713c-0.136,0.066-0.067,0.746-0.067,0.883\
    c0,0.068,0.034,0.102,0.034,0.137c0.067,0.781,0.476,5.338,0.476,6.936c0,2.039-0.271,3.5-1.292,3.5\
    c-1.802,0-2.107-1.428-2.107-3.127c0-0.781,0.067-1.631,0.067-2.414v-6.391c0.068-3.639,0.17-7.854,0.34-10.199\
    c0.068-0.918,0.782-1.734,1.769-1.869c0.952-0.104,1.869-0.17,2.72-0.17c3.365,0,7.105,1.291,7.105,5.1\
    c0,3.637-3.026,5.541-6.086,6.357c-0.204,0.066-0.34,0.17-0.34,0.305v0.035c1.088,2.889,4.896,7.172,6.323,10.062\
    c0.103,0.17,0.17,0.373,0.17,0.578C289.364,176.84,288.242,177.281,287.461,177.281z M280.934,162.662\
    c2.176-0.611,4.589-0.986,4.759-3.568c0.034-0.238,0.034-0.408,0.034-0.613c0-2.039-1.258-2.107-3.978-2.107h-0.611\
    c-0.544,0-0.681,0.137-0.714,0.715c0,0.102-0.034,0.236-0.034,0.475c0,1.428-0.034,5.373-0.034,5.373\
    C280.424,162.936,280.831,162.697,280.934,162.662z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M290.487,175.854c0-0.715,0.136-1.496,0.238-2.107\
    c0.918-6.867,2.176-13.904,5.1-19.311c0.271-0.51,0.646-0.68,1.054-0.68c3.025,0,7.275,20.059,7.275,23.254\
    c0,0.713-0.816,1.156-1.666,1.156c-3.195,0-1.496-7.344-3.366-7.344h-0.203c-1.088,0.203-4.318,0.068-4.386,1.189\
    c-0.137,2.006-0.103,6.086-2.21,6.086C290.861,178.098,290.487,176.84,290.487,175.854z M295.111,167.592\
    c0,0.035-0.034,0.035-0.034,0.068c0,0.203,0.136,0.34,0.476,0.34h0.034c0.544-0.102,3.399-0.17,3.399-0.885\
    c0-0.713-1.733-7.273-2.176-7.273C296.232,159.842,295.111,166.775,295.111,167.592z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M322.479,157.598h-0.577c-0.068,0-0.238-0.035-0.442-0.035\
    c-0.34,0-0.714,0.068-0.748,0.51c-0.136,2.551-0.136,5.1-0.136,7.719v5.711c0,0.883,0.068,2.686,0.068,3.535\
    c0,1.836-0.238,2.617-1.904,2.617c-0.748,0-1.156-0.781-1.156-2.346c0-3.67,0.034-6.289,0.034-9.688\
    c0-2.857-0.067-4.625-0.067-7.445v-0.104c0-0.441-0.442-0.51-0.885-0.51c-0.136,0-0.271,0.035-0.407,0.035h-0.544\
    c-0.646,0-0.612,0.033-0.986,0.033c-0.815,0-1.428-0.373-1.428-2.039s0.68-1.836,2.277-1.871c0.477-0.033,0.986-0.033,1.496-0.033\
    h1.836c0.884,0,1.802,0,2.686-0.033h0.544c1.972,0,2.618,0,2.618,1.598C324.758,157.359,323.67,157.598,322.479,157.598z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M329.45,159.434c0,3.365-0.374,10.301-0.441,14.312\
    c-0.17,2.686,0.306,4.078-2.074,4.078c-1.189,0-1.394-2.549-1.394-4.996c0-4.658,0.204-7.207,0.271-11.865\
    c0.034-2.891-0.17-6.867,2.074-6.867c0.985,0,1.428,1.938,1.496,2.957C329.416,157.836,329.45,158.65,329.45,159.434z')
    path(fill='#E42E27', stroke='#D32622', stroke-miterlimit='10', d='M333.122,172.896c0.204,0,0.408,0,0.646,0.066\
    c1.122,0.273,1.769,1.463,1.769,2.584c0,1.123-0.646,2.176-2.143,2.176c-1.224,0-2.039-1.598-2.039-2.82v-0.137\
    C331.456,173.643,332.102,172.896,333.122,172.896z')
  g#message-4
    g
      path(fill='#D32622', d='M17.283,215.065c12.467-9.866,28.397-16.446,44.06-18.623c12.966-1.802,26.643,1.646,39.587,3.061\
      c33.432,3.653,67.067,5.78,100.666,7.102c37.746,1.484,75.815,2.054,113.464-1.543c13.617-1.301,27.408-3.176,40.448-7.458\
      c17.173-5.64,32.741-18.123,43.363-32.554c12.725-17.288,17.99-38.321,17.987-59.56c-0.001-12.315-2.075-24.573-5.244-36.443\
      c-2.111-7.903-4.495-15.686-9.364-22.346c-8.145-11.143-20.726-18.38-33.201-23.683c-15.066-6.405-31.157-10.279-47.23-13.148\
      c-37.927-6.769-76.589-6.785-114.982-7.599c-29.323-0.622-58.898,0.583-87.892,5.189C91.928,11.754,59.167,19.12,40.601,41.033\
      c-7.887,9.309-9.915,20.271-12.194,31.973c-4.035,20.713-6.821,41.663-9.127,62.631c-1.893,17.208-3.333,34.459-4.791,51.707\
      c-0.477,5.638-0.948,11.277-1.571,16.9c-0.207,1.866-0.442,3.729-0.758,5.581c-0.173,1.019-0.544,2.251-0.593,2.335\
      c-2.182,3.722,5.09,4.714,6.868,1.68c1.848-3.151,1.729-8.025,2.096-11.519c0.88-8.381,1.509-16.789,2.219-25.185\
      c2.133-25.242,4.599-50.458,8.255-75.53c2.029-13.911,4.48-27.763,7.499-41.494c1.252-5.695,3.93-10.977,7.555-15.526\
      c8.238-10.337,20.616-16.634,32.728-21.256c29.44-11.237,62.249-14.016,93.49-15.142c18.305-0.659,36.745-0.621,55.027,0.644\
      c4.474,0.309,9.106-0.114,13.592-0.079c12.694,0.1,25.385,0.656,38.041,1.628c31.794,2.443,65.866,6.844,94.543,21.671\
      c11.56,5.977,22.309,14.539,27.225,26.933c8.703,21.939,11.24,47.982,6.319,71.048c-4.625,21.681-17.493,40.349-35.662,52.909\
      c-11.759,8.128-24.285,11.833-38.219,14.152c-35.394,5.892-72.07,5.343-107.821,4.532c-36.199-0.821-72.403-2.95-108.456-6.311\
      c-7.615-0.709-15.225-1.49-22.819-2.407c-6.802-0.821-13.584-2.216-20.423-2.612c-21.095-1.224-44.406,7.577-60.908,20.638\
      C8.876,213.974,14.212,217.496,17.283,215.065z')
  path#message-3(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M43.838,27.188\
  c-8.29,1.209-13.807,7.675-15.287,9.619c-3.749,4.861-4.158,11.953-2.996,17.341c1.003-3.656,2.313-7.206,4.075-10.504\
  c1.841-5.175,5.584-8.282,9.612-10.863c1.296-0.984,2.565-1.896,3.751-2.741c0.394-0.294,0.793-0.581,1.205-0.839l3.539-2.575\
  L43.838,27.188z')
  path#message-2(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M377.64,200.748\
  c10.336,0.04,18.25-6.841,20.411-8.941c5.463-5.246,7.259-13.824,6.826-20.611c-1.892,4.277-4.14,8.369-6.893,12.071\
  c-3.193,5.978-8.328,9.085-13.714,11.497c-1.762,0.964-3.477,1.845-5.079,2.658c-0.534,0.286-1.074,0.563-1.623,0.804l-4.789,2.494\
  L377.64,200.748z')
  path#message-1(fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', d='M433.197,72.045l5.492,7.029\
  L458,105.333l-22.048,20.393c0,0-1.63,0.553-3.705,3.059l-0.448,17.601c6.355-6.454,10.162-14.9,17.031-21.153\
  c7.68-7.006,14.474-11.393,20.881-20.08c-13.099-14.05-24.343-28.339-36.082-42.966L433.197,72.045z')
