svg(id="square-sponsor" class="square" version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 579 348.197', xml:space='preserve')
  g
    g
      defs
        path#quare-sponsor-path(d='M455.667,9.932C371.607,14.699,289.06,28.541,205,33.265c-56.658,3.189-115.004-3.12-171.667-0.333\
        c-9.865,0.468-18.733,9.402-19,26.667C13.918,85.406,13.28,111.144,14,136.931c1.482,53.019,4.62,106.011,6.333,159\
        c0.752,23.312,10.949,28.563,23,25.667c15.57-3.723,54.085,8.3,69.667,7c48-4,64.563-10.166,108.667-8\
        c38.746,1.9,77.918,4.54,116.667,6.334c41.163,1.906,82.505,2.98,123.666,4.999c24.612,1.229,50.262,2.055,74.667,6.667\
        c14.729,2.787,20.84-9.476,21.666-30.667c3.008-77.486,5.74-155.2,9.001-232.667c0.703-16.566-4.648-25.909-12.334-34.333\
        C524.649,7.677,489.788,8.298,455.667,9.932z')
      clippath#quare-sponsor-clippath
        use(xlink:href='#quare-sponsor-path', overflow='visible')
      rect(x='4.028', y='14.705', clip-path='url(#quare-sponsor-clippath)', fill='#E53027', stroke='#D32622', stroke-width='0.75', stroke-miterlimit='10', width='569.972', height='320.977')
      g(clip-path='url(#quare-sponsor-clippath)')
        image(overflow='visible', width='1644', height='2009', xlink:href='img/sponsor.png', transform='matrix(0.3574 0 0 0.3574 -0.9971 -117.9121)')
  path(fill='#D32623', d='M454.898,8.255c-11.736,0-31.711-0.838-51.653,0.144c-87.504,4.33-159.239,24.233-248.745,19.8\
  c-35.299-1.749-85.081-1.275-120.386-0.567c-14.211,0.294-21.825,9.448-23.412,32.567C9.968,70.855,8.513,81.576,8.805,92.167\
  c1.482,54.521,3.244,109.053,5.307,163.531c0.638,16.828,2.138,33.646,3.943,50.244c1.665,15.271,6.324,24.282,17.252,21.94\
  c17.891-3.842,37.25,4.386,55.193,4.812c50.622,1.164,99.915-8.045,150.527-5.601c72.918,3.554,145.84,6.662,218.753,10.363\
  c26.463,1.34,53.017,1.938,79.31,6.424c13.799,2.361,19.424-7.295,21.247-25.994c2.801-28.756,5.28-57.772,6.238-86.826\
  c1.743-53.053,1.826-106.247,3.567-159.296c0.534-16.25-2.864-24.85-10.729-33.35C529.795,6.427,497.257,0.037,454.898,8.255z\
  M565.193,75.382c-3.263,77.467-5.807,155-8.812,232.486c-0.826,21.19-6.064,30.271-20.797,27.481\
  c-24.404-4.612-49.149-4.506-73.763-5.733c-79.906-3.918-159.822-7.402-239.73-11.32C177.987,316.13,161,323.198,113,327.198\
  c-15.581,1.299-54.596-11.623-70.166-7.9c-12.051,2.896-20.137-0.6-20.889-23.912c-1.714-52.988-3.838-105.932-5.32-158.951\
  c-0.72-25.787-0.773-51.67-0.358-77.478c0.267-17.264,7.086-22.88,16.951-23.348C89.88,32.822,148.342,40.386,205,37.197\
  c84.06-4.724,166.307-20.375,250.365-25.143c34.121-1.633,67.923-2.7,98.272,30.555C561.324,51.033,565.896,58.816,565.193,75.382z')
