include master/general/doctype.jade
	include master/general/head.jade
		link(rel='stylesheet', href='css/404.css')
	body.white
		include master/general/header.jade
		section
			include master/svg/hot-air-balloon-red.jade
			include master/svg/helicopter-red.jade
			include master/svg/balloon-red.jade
			include master/svg/camera-red.jade
			include master/svg/car-red.jade
			include master/svg/trolley-red.jade
			article
				#message-404
					include master/svg/hashtag.jade
					include master/svg/icon-404.jade
					include master/svg/copy-404.jade
					div(class="button") Encuentra otras recetas
		include master/general/footer.jade
		include master/general/scripts.jade
		script(src='js/404.js')
