include master/general/doctype.jade
	include master/general/head.jade
		link(rel='stylesheet', href='css/404.css')
	body.white
		include master/general/header.jade
		section
			include svg/hot-air-balloon-red.jade
			include svg/helicopter-red.jade
			include svg/balloon-red.jade
			include svg/camera-red.jade
			include svg/car-red.jade
			include svg/trolley-red.jade
			article
				#message-404
					include svg/hashtag.jade
					include svg/icon-404.jade
					include svg/copy-404.jade
					div(class="button") Encuentra otras recetas
		include master/general/footer.jade
		include master/general/scripts.jade
		script(src='js/404.js')
