include master/general/doctype.jade
	include master/general/head.jade
		link(rel='stylesheet', href='css/changing-box.css')
		link(rel='stylesheet', href='css/action.css')
	body.white
		include master/general/header.jade
		section
			article
				#box(style="background-image: url('img/action-one/action-one-0.jpg');" class="box")
					include master/svg/title-video.jade
					#bg-distort
					#shadows
						#shadow-top
						#shadow-left
						#shadow-right
				#action
					span#action-text
					.sprite#action-one
		include master/general/footer.jade
		include master/general/scripts.jade
		script(type="text/javascript" src="js/vendor/sequencer.canvas.js")
		script(type="text/javascript" src="js/vendor/sequencer.benchmark.js")
		script(src='js/action-one.js')
