<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Chivas The Venture</title>
<link href="css/styles.css" rel="stylesheet" type="text/css">
<link href="css/CSStransitions.css" rel="stylesheet" type="text/css">
<link href="css/losestilos.css" rel="stylesheet" type="text/css">
<link href="css/colorbox.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
</script>
</head>

<body onLoad="MM_preloadImages('images/chivasTheVenture_SMedia_fbOVER.gif','images/chivasTheVenture_SMedia_twOVER.gif','images/chivasTheVenture_SMedia_ytOVER.gif','images/chivasTheVenture_SMedia_igOVER.gif')">

 <!-- Google Tag Manager -->


<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-58SLW4" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;
  f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-58SLW4');</script>

<!-- End Google Tag Manager -->

<div class="topBanner" id="chivasTheVenture_bg">
  <div class="topLogo alignCenter"><img src="images/chivasTheVenture_topLogo.png" width="548" height="187" id="chivasTheVenture_logo" style="max-width:100%;height:auto;" alt="Chivas The Venture"/></div>
</div>

<div class="columnWidth">
    <div class="alignCenter text_intro introAnimation"><span class="text_introHighlighted text_bold">Chivas The Venture es la competencia de Chivas Regal</span> que busca apoyar un proyecto emprendedor con impacto social. Cuenta con un fondo internacional, financiado por la marca, que proporciona a los ganadores hasta 1 millón de dólares en asistencia financiera, exposición global para su empresa o idea de negocio y la asesoría de empresarios mentores de talla mundial.</div>
    <div class="alignCenter text_bold text_goldenColor text_title introAnimation"><span class="text_titleUPPERCASE text_uppercase">¡Colombia ganó la gran final de Chivas The Venture!</span><br>
Y por segundo año consecutivo quedó entre los 3 finalistas.</div>
    <div class="alignCenter TheVentureVideo introAnimation">
    <video width="1000" height="563" style="max-width:100%;height:auto;" controls poster="images/video_poster.jpg">
        <source src="video/finalVideo_theVenture.mp4" type="video/mp4"/>
        Your browser does not support the video tag.
        </video>
    </div>
    <div class="alignCenter Hline"><img src="images/chivasTheVenture_HLine02.png" width="750" height="7" style="max-width:100%;height:auto;" alt=""/></div>
    <div>
    <div class="oscarIMG"><img src="images/chivasTheVenture_OscarPhoto.jpg" width="340" height="394" alt=""/></div>
        <div class="oscarTXT"><span class="text_bold">“Colombia, ganamos. Nos quedamos con el primer puesto. Nos vamos con 300 mil dólares para poner este proyecto a producir en pro de todo un país”.</span> Esas fueron las declaraciones de Óscar Méndez, cofundador de Conceptos Plásticos, luego de ser nombrado el triunfador entre 27 participantes de distintos países en el concurso Chivas – The Venture 2016 en Nueva York.<br>
<br>
El premio, recibido de manos de Alexandre Ricard, CEO del Grupo Pernod Ricard y la actriz Eva Longoria, es entregado con el objetivo de financiar su proyecto emprendedor.<br>
<br>
Óscar sabe está listo para construir más sueños con su proyecto de casas tipo lego, hechas con plásticos reciclables, proceso que logra convertir una desventaja ecológica, en un beneficio constructivo sostenible que tiene además un alto impacto social, ambiental y económico.<br>
<br>
Conceptos Plásticos ya había ganado en la fase inicial $53,148.28 dólares, gracias a los 64 mil colombianos que demostraron su apoyo durante la etapa de votación. El país con más votos dentro de los 27 concursantes. Óscar trajo para el emprendimiento de Colombia un total de 353,148.28 dólares, cerca de 1.000 millones de pesos.</div>   
  </div>
</div>

<div class="form_theVenture">
  <div class="columnWidth">
      <div class="txt alignCenter"><span class="txtBold">Prepárate, pronto abriremos las inscripciones para Chivas The Venture 2017</span><br>
y tu proyecto puede ser el ganador. Déjanos tu correo y serás de los primeros en enterarte cuando las inscripciones estén abiertas.</div>
        <div class="form">
          <form id="inscripcion" name="inscripcion">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td>
        <div class="txt01 alignLeft"><label for="nombre">Nombre:</label></div>
        <div><input type="text" id="nombre" name="nombre" class="inputArea"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="txt01 alignLeft"><label for="apellido">Apellido:</label></div>
        <div><input type="text" id="apellido" name="apellido" class="inputArea"></div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="txt01 alignLeft"><label for="email">E-mail:</label></div>
        <div><input type="text" id="email" name="email" class="inputArea"></div>
        <div class="error" id="emerror">El e-mail ya se encuentran registrados</div>
      </td>
    </tr>
     <tr><td><div>
      <label for="autorizacion">
      <input type="checkbox" name='autorizacion' id='autorizacion' value="S"><span style="color:black; font-size: 9pt;">Autorizo que Pernod Ricard Colombia. S.A recolecte y trate mis datos personales con la finalidad de comunicar beneficios y noticias de las marcas representadas por Pernod Ricard Colombia S.A</span></label>
    </div></td></tr>
    <tr><td><div>
      <label for="politicas">
      <input type="checkbox" name='politicas' id='politicas' value="S"><span style="color:black; font-size: 9pt;">Declaro que conozco y acepto la política de tratamiento de datos personales de Pernod Ricard Colombia. S.A</span></label>
    </div></td></tr>
  </tbody>
</table>
</form>
        </div>
        <div class="btns alignCenter">
          <div class="btnSend" id="ins" onclick="dataLayer.push({'event': 'enviar-formulario'});"><img src="images/chivasTheVenture_2016_btn_sendOVER.jpg" id="btn_send" width="251" height="40" alt=""/></div>
          <div class="msjR" id="mensajeIns"><span></span></div>
          <div class="msjR" class="popUp" style="display:none;">
           <div class="alignCenter popUp_logo" id="mensajeInsM"><img src="images/chivasTheVenture_popUpLogo.gif" width="392" height="147" id="popUp_logo" style="max-width:100%;height:auto;" alt="Chivas The Venture"/>
              <div class="alignCenter popUp_txt text_bold text_uppercase" style="color:black;">Tus datos han sido enviados correctamente.</div>
              <div class="btns alignCenter"><div class="btnConfirm" onclick="javascript:$.colorbox.close();location.reload();"><img src="images/chivasTheVenture_2016_btn_confirmOVER.gif" id="btn_confirm" width="251" height="40" alt=""/></div>
            </div>
            </div>
          </div>
        </div>
      

  </div>
</div>

<div class="conceptosP_area">
  <div class="columnWidth">
        <div class="alignCenter logo"><img src="images/chivasTheVenture_ConceptosP_logo.png" width="251" height="158" alt=""/></div>
        <div class="txt"><span class="text_bold">Conceptos Plásticos</span> transforma residuos de plástico y caucho en un sistema constructivo alternativo para viviendas temporales y permanentes, refugios, salones de clase, salones comunitarios y otras edificaciones. Esto no solo previene la contaminación generada por el plástico y desvía los residuos del vertedero, también los transforma en los materiales constructivos necesarios para que las comunidades puedan establecer una infraestructura física. Los residuos de plástico que reciclamos se funden e inyectan en un molde para producir bloques de plástico que funcionan como piezas de Lego, permitiendo a las comunidades y familias enteras jugar un papel en la fácil construcción de sus propios hogares. Los materiales contienen aditivos que los hacen resistentes al</div>
        <div class="txt">fuego y como la estructura es a base de plástico, es resistente a los terremotos. Nuestros clientes son el gobierno, organizaciones no gubernamentales, fundaciones y empresas privadas, quienes pagan por las soluciones de vivienda en las comunidades donde implementamos los proyectos. Proporcionamos los materiales para que sean usados por las mismas comunidades y les damos formación sobre cómo construir sus casas usando nuestro sistema. Una casa para una sola familia es construida por cuatro personas, sin experiencia en construcción y tardan sólo cinco días para construirla. Un refugio para 14 familias es montado por 15 personas, sin experiencia en construcción, en tan sólo 10 días.</div>
        <div class="alignCenter Hline"><img src="images/chivasTheVenture_HLine02.png" width="750" height="7" style="max-width:100%;height:auto;" alt=""/></div>
        
        <div style="display:none;">
      <div class="form_title alignCenter">Si estás interesado en contactarte con Conceptos Plásticos, déjanos aquí tus datos:</div>
            <div class="form" >
 <form name="contacto" id="contacto">
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  
  <tbody>
    <tr>
      <td><div class="txt alignLeft">Nombre:</div>
        <div><input type="text" id="nombrec" name="nombrec" class="inputArea"></div></td>
    </tr>
    <tr>
      <td><div class="txt alignLeft">E-mail:</div>
        <div><input type="text" id="emailc" name="emailc" class="inputArea"></div></td>
    </tr>
    <tr>
       <td><div class="txt alignLeft">Empresa:</div>
        <div><input type="text" id="empresac" name="empresac" class="inputArea"></div></td>
    </tr>
    <tr>
       <td><div class="txt alignLeft">Cargo:</div>
        <div><input type="text" id="cargo" name="cargo" class="inputArea"></div></td>
    </tr>
    <tr>
       <td><div class="txt alignLeft">Tipo de contacto:</div>
        <div><select class="select" id="contacto" name="contacto" value="">
              <option value="entrevistaMedio">Entrevista medio</option>
              <option value="patrocinio">Patrocinio</option>
              <option value="compraCasa">Compra de casa</option>
              <option value="financiacion">Financiación</option>
        </select></div></td>
    </tr>
   
  </tbody>
</table>
</form>
            </div>
            
            <div class="btns alignCenter">
            <div class="btnSend" id="contact"><img src="images/chivasTheVenture_2016_btn_sendOVER.jpg" id="btn_send02" width="251" height="40" alt=""/></div>
            <div class="msjR" id="mensajeC"><span></span></div>
          </div>
                  
        </div>
  </div>
</div>

<div class="footer">
  <div class="alignCenter footer_logo"><img src="images/chivasTheVenture_chivasLogo_Footer.gif" width="195" height="42" alt="Chivas Regal"/></div>
    <div class="socialMedia">
      <ul>
          <li><a href="https://www.facebook.com/ChivasRegalColombia" target="_blank"><img src="images/chivasTheVenture_SMedia_fb.gif" alt="facebook" width="23" height="42" id="Image1" onMouseOver="MM_swapImage('Image1','','images/chivasTheVenture_SMedia_fbOVER.gif',1)" onMouseOut="MM_swapImgRestore()"/></a></li>
            <li><img src="images/spacer.gif" width="40" height="10" alt=""/></li>
            <li><a href="https://twitter.com/chivasRegalCol" target="_blank"><img src="images/chivasTheVenture_SMedia_tw.gif" alt="twitter" width="39" height="42" id="Image2" onMouseOver="MM_swapImage('Image2','','images/chivasTheVenture_SMedia_twOVER.gif',1)" onMouseOut="MM_swapImgRestore()"/></a></li>
            <li><img src="images/spacer.gif" width="35" height="10" alt=""/></li>
            <li><a href="https://www.youtube.com/user/ChivasRegalGlobal" target="_blank"><img src="images/chivasTheVenture_SMedia_yt.gif" alt="youtube" width="70" height="42" id="Image3" onMouseOver="MM_swapImage('Image3','','images/chivasTheVenture_SMedia_ytOVER.gif',1)" onMouseOut="MM_swapImgRestore()"/></a></li>
            <li><img src="images/spacer.gif" width="40" height="10" alt=""/></li>
            <li><a href="http://instagram.com/chivasRegalCol" target="_blank"><img src="images/chivasTheVenture_SMedia_ig.gif" alt="" width="38" height="42" id="Image4" onMouseOver="MM_swapImage('Image4','','images/chivasTheVenture_SMedia_igOVER.gif',1)" onMouseOut="MM_swapImgRestore()"/></a></li>
      </ul>
    </div>
    <div class="alignCenter footer_legals"><img src="images/chivasTheVenture_footer.gif" width="894" height="24" style="max-width:100%;height:auto;" alt="Prohíbese el expendio de bebidas embriagantes a menores de edad. el exceso de alcohol es perjudicial para la salud."/></div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>
<script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="js/validacion.js"></script>
</body>
</html>
