include master/general/doctype.jade
	include master/general/head.jade
		link(rel='stylesheet', href='css/form.css')
		link(rel='stylesheet', href='css/register.css')
	body.white
		include master/general/header.jade
		section
			include master/svg/hot-air-balloon-red.jade
			include master/svg/helicopter-red.jade
			include master/svg/balloon-red.jade
			include master/svg/camera-red.jade
			include master/svg/car-red.jade
			include master/svg/trolley-red.jade
			article
				form(name="login" id="login" method="post" action="logueo.php" autocomplete="off")
					include master/svg/copy-log-in.jade
					div(id="button-facebook") Ingresa con Facebook
					label(for="email") Email
					input(type="email" id="email" name="email")
					label(for="lepas") Contraseña
					input(type="password" id="lepas" name="lepas")
					a(href="recuperarContrasenia.php") ¿olvidaste tu contraseña?
					div(class="button" id="login-submit") Confirmar
		footer
			#footer-content
				.facebook-icon
				.whatsapp-icon
				p Al acceder a este sitio y a cualquier página del mismo te comprometes a cumplir con todos los términos y condiciones.<br> Copyright © 2016 Unilever.		
			include master/svg/footer-bg.jade
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
		script.
			window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\\/script>')
		script(src='js/vendor/drawfillsvg.min.js')
		script(src='js/registroFb.js')
		script(src='js/log-in.js')
