<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Hola</title>

<link href="css/losestilos.css" rel="stylesheet" type="text/css">


</head>

<body>


<h3>swipe</h3>
<div id="red" class="colorContainer">
    <div class="color redColor"></div>
</div>

<h3>drag</h3>
<div id="blue" class="colorContainer">
    <div class="color redColor"></div>
</div>

<h2 id="event"></h2>




<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/hammer.min.js"></script>
<script type="text/javascript" src="js/jquery.validate.js"></script>

</body>
</html>
