include master/general/doctype.jade
	include master/general/head.jade
		link(rel='stylesheet', href='css/recipes.css')
	body.white
		include master/general/header.jade
		section
			article#init
				include master/svg/hot-air-balloon-red.jade
				include master/svg/helicopter-red.jade
				include master/svg/welcome.jade
				include master/svg/hashtag.jade
				div#cream-jar
					img(src="img/cream-jar.png")
				span#name Carlos Alberto
				include master/svg/message.jade
				include master/svg/balloon-red.jade
				include master/svg/camera-red.jade
			article#recipes
				include master/svg/line-up.jade
				include master/svg/arrow-up.jade
				#videos
					div(class="mix category-1" data="video-1")
						include master/svg/square-video-1.jade
					div(class="mix category-1" data="video-2")
						include master/svg/square-video-2.jade
					div(class="mix category-1" data="video-3")
						include master/svg/square-video-3.jade
					div(class="mix category-1" data="video-4")
						include master/svg/square-video-4.jade
					div(class="mix category-1" data="video-5")
						include master/svg/square-video-5.jade

					div(class="mix category-1 category-2 category-3 category-4")
						include master/svg/square-sponsor.jade

					div(class="mix category-2" data="video-6")
						include master/svg/square-video-6.jade
					div(class="mix category-2" data="video-7")
						include master/svg/square-video-7.jade
					div(class="mix category-2" data="video-8")
						include master/svg/square-video-8.jade
					div(class="mix category-2" data="video-9")
						include master/svg/square-video-9.jade		
					div(class="mix category-2" data="video-10")
						include master/svg/square-video-10.jade

					div(class="mix category-3" data="video-11")
						include master/svg/square-video-11.jade
					div(class="mix category-3" data="video-12")
						include master/svg/square-video-12.jade
					div(class="mix category-3" data="video-13")
						include master/svg/square-video-13.jade
					div(class="mix category-3" data="video-14")
						include master/svg/square-video-14.jade		
					div(class="mix category-3" data="video-15")
						include master/svg/square-video-15.jade

					div(class="mix category-4" data="video-16")
						include master/svg/square-video-16.jade
					div(class="mix category-4" data="video-17")
						include master/svg/square-video-17.jade
					div(class="mix category-4" data="video-18")
						include master/svg/square-video-18.jade
					div(class="mix category-4" data="video-19")
						include master/svg/square-video-19.jade		

				include master/svg/line-down.jade
				include master/svg/arrow-down.jade

		include master/general/footer.jade
		include master/general/scripts.jade
		script(src='js/vendor/mixitup.min.js')
		script(src='js/recipes.js')
