doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')  
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='')  
//if IE 8
	html.no-js.lt-ie9(lang='')  
// [if gt IE 8] <!
html.no-js(lang='')
	// <![endif]
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		link(rel='stylesheet', href='css/animate.css')
		link(rel='stylesheet', href='css/base.css')
		link(rel='stylesheet', href='css/theme.css')
		link(rel='stylesheet', href='css/state.css')
		link(rel='stylesheet', href='css/main.css')
		link(rel='stylesheet', href='css/form.css')
		link(rel='stylesheet', href='css/rp-alert.css')
		script(src='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')
	body.white
		//if lt IE 8
			p.browserupgrade
				| You are using an 
				strong outdated
				|  browser. Please 
				a(href='http://browsehappy.com/') upgrade your browser
				|  to improve your experience.
		header
			include svg/header-bg.jade
		include svg/logo.jade
		section
			include svg/hot-air-balloon-white.jade
			include svg/helicopter-white.jade
			include svg/balloon-white.jade
			include svg/camera-white.jade
			include svg/car-white.jade
			include svg/trolley-white.jade
			article
				#alert
					include svg/hashtag.jade
					div#cream-jar
						img(src="img/cream-jar.png")
					include svg/copy-rp-alert.jade
					.goup-middle
						form(autocomple="off" id="pinguino" name="pinguino")
							label(for="name") Contraseña
							input(type="password" id="lepas" name="lepas" abindex="6" value="{#$pwd#}")
							label(for="name") Confirma tu contraseña
							input(type="password" id="lepasc" name="lepasc" tabindex="7" value="{#$pwd#}")
							.button(id="changeP") confirmar
		include master/general/footer.jade
		include master/general/scripts.jade
		script(src='js/registroFb.js')
		script(src='js/rp.js')
