include master/general/doctype.jade
	include master/general/head.jade
		link(rel='stylesheet', href='css/form.css')
		link(rel='stylesheet', href='css/rp-alert.css')
	body.white
		include master/general/header.jade
		section
		section
			include master/svg/hot-air-balloon-white.jade
			include master/svg/helicopter-white.jade
			include master/svg/balloon-white.jade
			include master/svg/camera-white.jade
			include master/svg/car-white.jade
			include master/svg/trolley-white.jade
			article
				#alert
					include master/svg/hashtag.jade
					div#cream-jar
						img(src="img/cream-jar.png")
					include master/svg/copy-rp-alert.jade
					.goup-middle
						form(autocomple="off" id="pinguino" name="pinguino")
							label(for="name") Contraseña
							input(type="password" id="lepas" name="lepas" abindex="6" value="{#$pwd#}")
							label(for="name") Confirma tu contraseña
							input(type="password" id="lepasc" name="lepasc" tabindex="7" value="{#$pwd#}")
							.button(id="changeP") confirmar
		include master/general/footer.jade
		include master/general/scripts.jade
		script(src="js/vendor/jquery.validate.min.js")
		script(src='js/registroFb.js')
		script(src='js/rp.js')
