include master/general/doctype.jade
	include master/general/head.jade
		link(rel='stylesheet', href='css/changing-box.css')
		link(rel='stylesheet', href='css/synchronize.css')
	body.white
		include master/general/header.jade
		section
			article
				#box(style="background-image: url('img/recipes/1.png');" class="box")
					include master/svg/copy-up-synchronize.jade
					#shadows
						#shadow-top
						#shadow-left
						#shadow-right
					include master/svg/icon-synchronize.jade
					include master/svg/copy-down-synchronize.jade
					.button(id="btnSync") sincroniza con tu móvil
					.button(id="btnNoExp") continuar sin experiencia móvil
		include master/general/footer.jade
		include master/general/scripts.jade
		script(src='js/synchronize.js')
