include master/general/doctype.jade
	include master/general/head.jade
		link(rel='stylesheet', href='css/changing-box.css')
		link(rel='stylesheet', href='css/synchronize.css')
	body.white
		#content-message
			#message uiahsdasydvyuas dausdbhas duygauisgd
		include master/general/header.jade
		section#gesture-content
			article
				#box-synchronize(style="background-image: url('img/recipes/1.png');" class="box")
					input(type="number" id="code-phone" name="code-phone" maxLength="5")
					span(id="code-desktop" name="code-desktop")
					include master/svg/copy-up-synchronize.jade
					#shadows
						#shadow-top
						#shadow-left
						#shadow-right
					include master/svg/icon-synchronize.jade
					include master/svg/copy-down-synchronize.jade
					.button(id="btn-sync" data-action="1")
					.button(id="btn-no-sync" data-action="1")
				#box-action(class="box")
					include master/svg/title-video.jade
					#bg-distort
					#shadows
						#shadow-top
						#shadow-left
						#shadow-right
				#action
					span#action-text
					.sprite
		include master/general/footer.jade
		include master/general/scripts.jade
		script(type="text/javascript" src="js/vendor/sequencer.canvas.js")
		script(type="text/javascript" src="js/vendor/sequencer.benchmark.js")
		//script(src='https://pinguino-julian10404.c9users.io/socket.io/socket.io.js')
		//script(src='js/clientWeb.js')
		//script(src='js/clientCel.js')
		script(src='js/synchronize.js')