include master/general/doctype.jade
	include master/general/head.jade
		link(rel='stylesheet', href='css/changing-box.css')
		link(rel='stylesheet', href='css/video.css')
	body.white
		include master/general/header.jade
		section
			article
				#box(style="background-image: url('img/recipes/1.png');" class="box")
					video(id="video")
						source(src="_data/videos/two.mp4" type="video/mp4") 
					#shadows
						#shadow-top
						#shadow-left
						#shadow-right
					include master/svg/title-video.jade
					include master/svg/play.jade
					include master/svg/share-video.jade
				.facebook-icon
				.whatsapp-icon
				.twitter-icon
				.button#go-recipes DESBLOQUEA MÁS RECETAS
		include master/general/footer.jade
		include master/general/scripts.jade
		script(src='js/lsc.js')
		script(src='js/video.js')