doctype html
//if lt IE 7
	html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='')  
//if IE 7
	html.no-js.lt-ie9.lt-ie8(lang='')  
//if IE 8
	html.no-js.lt-ie9(lang='')  
// [if gt IE 8] <!
html.no-js(lang='es')
	// <![endif]