footer
	#footer-content
		.facebook-icon
		.whatsapp-icon
		.twitter-icon
		p Al acceder a este sitio y a cualquier página del mismo te comprometes a cumplir con todos los términos y condiciones. <br> Copyright © 2016 Unilever.
	include ../svg/footer-bg.jade