nav.menu.menu-iris
  ul.menu-list
    li.menu-item.menu-item-current
      a.menu-link(href='#') Recetas
    li.menu-item
      a.menu-link(href='#') Perfil
    li.menu-item
      a.menu-link(href='#') Cerrar